@if (previewMode()) {
  <prioss-spotify-inferences-raw-data previewMode="true" />
} @else {
  <app-title-bar
    titleText="Inferences"
    tooltipText="An Inference is a topic of interest or information that Spotify has inferred about you. They're used for marketing or advertising purposes and to curate and create content. First-party (1P_) inferences are created by Spotify. Third-Party (3P_) inferences come from other services like Facebook."
  />

  <nz-tabset>
    <nz-tab nzTitle="Interpretation and Overview">
      <prioss-spotify-inferences-interpretation />
    </nz-tab>
    <nz-tab nzTitle="Raw Data and Changeing">
      <prioss-spotify-inferences-raw-data previewMode="false" />
    </nz-tab>
  </nz-tabset>
}

