<h2>Select your Service</h2>

<article class="service-selection__button-group">
  @for (service of services(); track service.name) {
  <button
    [title]="service.name"
    [ariaLabel]="'Service Selection: ' + service.name"
    [style]="{ 'background': service.background }"
    (click)="
      selectedService.set(service);
      selectedPopup.set('data-select');
    "
  >
    <img [src]="service.logoUrl">
  </button>
  }
</article>

<nz-modal
  nzCentered
  [nzTitle]="selectedService()?.name"
  [nzVisible]="selectedPopup() === 'data-select'"
  [nzContent]="dataOptionsContent"
  [nzFooter]="null"
  (nzVisibleChange)="selectedService.set($event ? selectedService() : null)"
  (nzOnCancel)="
    selectedService.set(null);
    selectedPopup.set('');
  "
>
  <ng-template #dataOptionsContent>
    <section class="option-selection">
      <button
        nz-button
        nzSize="large"
        nzType="default"
        (click)="processSampleData()"
      >
        Explore this service with sample data
      </button>

      <a
        nz-button
        nzSize="large"
        nzType="default"
        routerLink="/serviceSelection/dataDownload"
        [queryParams]="{tab : selectedServiceName()}"
        queryParamsHandling="merge"
      >
        How to download your Data
      </a>

      <button
        nz-button
        nzSize="large"
        nzType="primary"
        (click)="selectedPopup.set('upload')"
      >
        Upload and explore your own data
      </button>
      @if(previousFacebookDataExports()){
        <div id="previous-uploads">
          @if(selectedServiceName() === appType.Facebook){
            
          <nz-card nzTitle="Previous Data Exports">
            <div style="max-height: 50vh; overflow-y: scroll;">
              <nz-card nzTitle="Warning!">
                <p>If you are using a public/shared computer, delete all data exports after exploring, because they will be stored in the browser.</p>
              </nz-card>
              <br>
              @for(ul of previousFacebookDataExports(); track ul){
                <nz-card nzTitle="{{ul.timestamp | date}}">
                  <p>{{ul.filename}}</p>
                  @if(ul.sizeInBytes){
                    <p>{{Math.round((ul.sizeInBytes/(1024*1024)))}} MB</p>
                  }
                  <button nz-button nzType="primary" (click)="processPreviousDataExport(selectedService(), ul.filename)">
                    Explore
                  </button>
                  <span style="margin-right: 15px;"></span>
                  <button nz-button nzType="default" nzDanger (click)="deleteDataExport(selectedService(),ul.filename)">
                    Delete</button>
                </nz-card>
                <br>
                }
            </div>
          </nz-card>
          }
        </div>
        }
    </section>
  </ng-template>
</nz-modal>

<nz-modal
  nzCentered
  [nzTitle]="selectedService()?.name"
  [nzVisible]="selectedPopup() === 'upload'"
  [nzContent]="dataUpload"
  [nzFooter]="dataUploadfooter"
  (nzVisibleChange)="selectedService.set($event ? selectedService() : null)"
  (nzOnCancel)="
    selectedService.set(null);
    selectedPopup.set('');
  "
>
  <ng-template #dataUpload>
    <section class="option-selection">
      <div class="image-upload-wrap">
        <input
          type="file"
          class="file-upload-input"
          placeholder="Upload file"
          accept=".zip"
          (change)="selectedFileList.set($any($event.target).files)"
          (drop)="selectedFileList.set($any($event.target).files)"
        >
        <div class="drag-text">
          <span>
            Drop file or click to choose your {{ selectedServiceName() }}
            data-download
          </span>
          <span>
            Please input a ".zip"-file
          </span>
          @if (selectedFileNames().length > 0) {
          <span>
            Your selected file: {{ selectedFileNames() }}
          </span>
          }
        </div>
      </div>

      @if (errorMsg.length > 0) {
      <nz-alert
        nzType="error"
        nzCloseable
        nzMessage="Error"
        [nzDescription]="errorMsg"
        (nzOnClose)="errorMsg = ''"
      />
      }
    </section>
  </ng-template>

  <ng-template #dataUploadfooter>
    <button
      nz-button
      nzType="default"
      (click)="selectedPopup.set('data-select')"
    >
      Back to Options
    </button>

    <button
      nz-button
      nzType="primary"
      [disabled]="selectedFiles().length === 0"
      (click)="processFile()"
    >
      Process File
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [nzVisible]="progressBarVisible()"
  (nzVisibleChange)="progressBarVisible.set($event)"
  [nzTitle]="progressBarTitle"
  [nzContent]="progressBarContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="abortDataParsing()"
  nzCentered
>

  <ng-template #progressBarTitle>
    Reading in your data-download...
  </ng-template>

  <ng-template #progressBarContent>
    <nz-progress [nzPercent]="progressBarPercent()" />
  </ng-template>

  <ng-template #modalFooter>
    <span>Please wait, this can take a short while...</span>
  </ng-template>
</nz-modal>

<app-offline-indicator
  bottom="32px"
  right="32px"
/>
