:host {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.service-selection__title {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2em;
    text-wrap: balance;
    text-align: center;

    @media (min-width: 950px) {
      font-size: 3em;
    }
  }

  span {
    font-size: 2em;
    text-align: center;
  }

  img {
    height: 7rem;
  }
}

.service-selection__button-group {
  max-width: 1200px;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;

  @media (min-width: 800px) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }

  >button {
    --shadow-color: rgba(0, 21, 41, 0.35);

    display: block;
    box-sizing: border-box;
    border: none;
    background: none;
    aspect-ratio: 3/1;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    padding: 1em;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: 200ms box-shadow ease-in-out;
    transition: 200ms filter ease-in-out;
    filter: grayscale(.7);
    cursor: pointer;
    height: 20dvh;
    width: 100%;

    @media (min-width: 800px) {
      height: auto;
    }

    &:hover {
      box-shadow: 15px 15px 15px var(--shadow-color);
      filter: grayscale(0);
    }

    &:active {
      box-shadow: 3px 3px 3px var(--shadow-color);
    }

    >img {
      object-fit: contain;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }

  }
}

.option-selection {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.image-upload-wrap {
  margin-block: 1vh;
  border: 4px dashed #262626;
  text-align: center;
  position: relative;

  .drag-text {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  &:hover {
    background-color: #262626;
    border: 4px dashed #ffffff;

    .drag-text span {
      color: #ffffff;
    }
  }

  .file-upload-input {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
