h2 {
  font-size: 3em;
  text-align: center;
  margin: 1em;
}

.service-selection__button-group {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &:hover button {
    filter: grayscale(1);
  }

  >button {
    border: none;
    background: none;
    aspect-ratio: 3/1;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    padding: 1em;
    box-shadow: 10px 10px 10px rgba(0, 21, 41, 0.35);
    transition: 200ms box-shadow ease-in-out;
    transition: 200ms filter ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 15px 15px 15px rgba(0, 21, 41, 0.35);
      filter: grayscale(0);
    }

    &:active {
      box-shadow: 3px 3px 3px rgba(0, 21, 41, 0.35);
    }

    >img {
      max-width: 100%;
      max-height: 100%;
    }

  }
}

.option-selection {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.image-upload-wrap {
  margin-block: 1vh;
  border: 4px dashed #262626;
  text-align: center;
  position: relative;

  .drag-text {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  &:hover {
    background-color: #262626;
    border: 4px dashed #ffffff;

    .drag-text span {
      color: #ffffff;
    }
  }

  .file-upload-input {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
