<div [ngClass]="{ 'component-page': !previewMode }">
  <div *ngIf="previewMode">

    @if (name() !== undefined) {
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true">
          <nz-statistic
            [nzValue]="name()"
            [nzTitle]="'Username'"></nz-statistic></nz-skeleton>
      </nz-col>
    </nz-row>
    }
    @if (birthdate() !== '0000-00-00') {
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true">
          <nz-statistic
            [nzValue]="birthdate()"
            [nzTitle]="'Birthdate'"></nz-statistic></nz-skeleton>
      </nz-col>
    </nz-row>
    }
    @if (activeEmails().length > 0) {
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true">
          <nz-statistic
            [nzValue]="activeEmails()[0]"
            [nzTitle]="'Email'"></nz-statistic>
        </nz-skeleton>
      </nz-col>
    </nz-row>

    }
  </div>

  <div *ngIf="!previewMode">
    <app-title-bar
      titleText="User Data"
      tooltipText="Here you can see all general information, Facebook collected about you.">
    </app-title-bar>
    <div nz-row [nzGutter]="{ xs: 8, xl: 40 }" nz-Align="top"
      id="information-cards-row-1">
      <div nz-col nzXs="24" nzLg="12" nzFlex="auto" id="profile-information"
        class="info-card">

        <nz-card nzTitle="Profile Information" [nzLoading]="loading()">
          
            <nz-table nzTemplateMode>
              <tbody>

                <tr>
                  <td rowSpan="1">Name:</td>
                  <td rowSpan="1">{{ name()
                    }}</td>
                </tr>

                <tr>
                  <td rowSpan="1">Gender:</td>
                  <td rowSpan="1">{{
                    gender() | titlecase}}</td>
                </tr>

                <tr>
                  <td rowSpan="1">Birthday:</td>
                  <td rowSpan="1">{{ birthdate() }}</td>
                </tr>

                <tr>
                  <td rowSpan="1">Active Emails:</td>
                  <td rowSpan="1">@for (email of
                    activeEmails(); track email) { {{
                    email
                    +
                    " " }} } </td>
                </tr>

                <tr>
                  <td rowSpan="1">Previous Emails:</td>
                  <td rowSpan="1">@for (mail of
                    previousEmails(); track mail)
                    {
                    {{mail + " "}} } </td>
                </tr>

                <tr>
                  <td rowSpan="1">Phone Numbers:</td>
                  <td rowSpan="1">@for (number of
                    phonenumbers(); track number) {
                    {{number.phone_number+" "}} }</td>
                </tr>

                <tr>
                  <td rowSpan="1">Blood Donor Status:</td>
                  <td
                    rowSpan="1">{{bloodDonorStatus()}}</td>
                </tr>
              </tbody>
            </nz-table>
        </nz-card>

      </div>
      <div nz-col nzXs="24" nzLg="12" nzFlex="auto" class="info-card">
        <nz-card [nzLoading]="loading()" nz-col nzTitle="Relationships">
          <nz-table nzTemplateMode>
            <tbody>
              @if (relationshipStatus() !== 'No Data' && relationshipStatus()
              !== ''){
              <tr>
                <td rowSpan="1">Current:</td>
                <td rowSpan="1">{{relationshipStatus()}}
                  since {{currentRelationShipStartDate() |
                  date:"YYYY.MM.dd"}}</td>
              </tr>
              }
              @if (previousRelationships().length > 0) {
              @for (prev of previousRelationships();
              track
              prev) {
              <tr>
                <td rowSpan="1">Previous ({{prev.timestamp |
                  date:"YYYY.MM.dd"}}):</td>
                <td rowSpan="1">{{prev.name}} </td>
              </tr>
              }

              }
              @if(previousRelationships().length == 0 &&
              relationshipStatus() === 'No Data' ) {
              <nz-empty></nz-empty>
              }
            </tbody>
          </nz-table>
        </nz-card>
      </div>
      <div id="family-info" nz-col nzXs="24" nzLg="12" nzFlex="auto"
        class="info-card">
        <nz-card [nzLoading]="loading()" nz-col nzTitle="Family">
          <nz-table nzTemplateMode>
            <tbody>
              @if (familyMembers().length > 0) {
              @for (member of familyMembers(); track
              member) {
              <tr>
                <td rowSpan="1">{{member.relation}}:</td>
                <td rowSpan="1">{{member.name}}</td>
              </tr>
              }
              }@else {
              <nz-empty></nz-empty>
              }
            </tbody>
          </nz-table>
        </nz-card>
      </div>
      <div id="education-info" nz-col nzXs="24" nzLg="12" nzFlex="auto"
        class="info-card">
        <nz-card [nzLoading]="loading()" nzTitle="Education Experience">
          <nz-table nzTemplateMode>
            <tbody>
              @if (education().length > 0) {
              @for (edu of education(); track
              edu) {
              <tr>
                <td rowSpan="1">{{edu.name}} ({{edu.school_type}}):</td>
                <td rowSpan="1">{{edu.timestamp | date:"YYY.MM.dd"}} -
                  {{edu.end_timestamp | date:"YYY.MM.dd"}}</td>
              </tr>
              }
              }@else {
              <nz-empty></nz-empty>
              }
            </tbody>
          </nz-table>
        </nz-card>
      </div>
      <div id="education-info" nz-col nzXs="24" nzLg="12" nzFlex="auto"
        class="info-card">
        <nz-card [nzLoading]="loading()" nz-col nzTitle="Work Experience">
          <nz-table nzTemplateMode>
            <tbody>
              @if (work().length > 0) {
              @for (work of work(); track
              work)
              {
              <tr>
                <td rowSpan="1">{{work.name}} ({{work.employer}}):</td>
                <td rowSpan="1">{{work.timestamp | date:"YYY.MM.dd"}} -
                  {{work.end_timestamp | date:"YYY.MM.dd"}}</td>
              </tr>
              }
              }@else {
              <nz-empty></nz-empty>
              }
            </tbody>
          </nz-table>
        </nz-card>
      </div>

    </div>

  </div>
