<div [ngClass]="{'component-page': !previewMode}">
    <!--only shows a preview of the privcay recommendation-->
    <div *ngIf="previewMode">
        <nz-statistic nzTitle="''"></nz-statistic>
    </div>
    
<div class="component-page">
    <app-title-bar titleText="Guidelines to Block Followers" tooltipText="The following guidelines helps you to block followers for your Instagram account. The guidelines are provided for Web Browser user as well as Mobile Application user."></app-title-bar>
    <br>
    <p>You have created an Instagram account and you want followers. So, you start following even unknown people that you discover. In return, some of them follow you back. However, after a while, you may start to receive inappropriate comments on your photos from those users. Or, on the contrary, they may not interact with your posts in any way and you feel that they are only lurking.</p>
    <br>
    <p>Even if you have turned on the option to make your photos private, <strong>it won’t keep your posts private from those who are already following you</strong>.</p>
    <br>
    <p>In this case, you will have to manually remove <strong>(Block)</strong> the people you don’t want to see your photos.</p>
    <nz-tabset>
        <nz-tab nzTitle="Web Application">
            <div>
                <p>To remove one of your followers from your list, follow these steps:</p>
                <br>
                <h6 class="steps">Step 1 - First of all, you have to visit <span nz-icon nzType="link"> <a href="https://www.instagram.com/" target="_blank">Instagram website</a> </span> on your computer or mobile browser. </h6>
                <img class ="off-facebook-web" src="../../assets/images/insta-privacy-recommendations/8.png">
                <br>
                <h6 class ="steps">Step 2 – You need to click profile icon and then, click followers. </h6>
                <img class ="off-facebook-web"src="../../assets/images/insta-privacy-recommendations/6.png">
                <br>
                <h6 class ="steps">Step 3 – Now select the follower you want to block.</h6>
                <br>
                <h6 class ="steps">Step 4 – Click on the three dots at the top right corner and now choose the option <strong>‘Block’</strong>. </h6>
                <img class ="off-facebook-web"src="../../assets/images/insta-privacy-recommendations/7.png">
                <br>
                <p>By following these steps can block a follower. </p>
            </div>

        </nz-tab>
        <nz-tab nzTitle="Mobile Application">
            <div>
                <p>To remove one of your followers from your list, follow these steps:</p>
                <br>
                <h6 class ="steps">Step 1 - Go to your <strong>Followers</strong> list and check out the people who follow you.</h6>
                <br>
                <h6 class ="steps">Step 2 –  Tap on the user that you want to block.</h6>
                <br>
                <h6 class ="steps">Step 3 – From the top-right corner, tap on the menu button.</h6>
                <br>
                <h6 class ="steps">Step 4 – In the new window, choose the <strong>Block User</strong> option.</h6>
                <img class ="off-facebook-web"src="../../assets/images/insta-privacy-recommendations/5.png">  
            </div>
        </nz-tab>
    </nz-tabset>
</div>
   
    
    
    





