<div class="component-page">
  <app-title-bar
    titleText="Guidelines to hide Instagram's activity status"
    tooltipText="The following guidelines helps you to hide Instagram's activity status. The guidelines are provided for Web Browser user as well as Mobile Application user."
    [includeButton]="false"
  />

  <p nz-typography>
    If you don't want people to see when you're online in real-time do have the option to turn off
    Instagram's Show Activity Status feature, though, if you do, you won't be able to see anyone else's activity.
  </p>

  <nz-tabset>
    <nz-tab nzTitle="Web Browser">
      <p nz-typography>
        Follow these steps if you want to set your Instagram account's activity status as hidden:
      </p>

      <prioss-stepper [steps]="activityHiddenSteps" />
    </nz-tab>
    <nz-tab nzTitle="Mobile Application">
      <p nz-typography>
        Follow these steps if you want to set your Instagram account's activity status as hidden:
      </p>

      <prioss-stepper [steps]="activityHiddenSteps" />
    </nz-tab>
  </nz-tabset>
</div>
