<div [ngClass]="{'component-page': !previewMode}">
    <div *ngIf="!previewMode">
        <app-title-bar titleText="Highlights" tooltipText="These are some important entries in your data download regarding your followers or following relations."></app-title-bar>
    </div>
    <div>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(followerInfo.length|number)!"
                    [nzTitle]="'Number of followers'" [nzPrefix]="followers"></nz-statistic>
                <ng-template #followers>
                    <div class="container_class">
                        <span nz-icon nzType="heart"></span>
                    </div>
                </ng-template>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(followingInfo.length| number)!"
                    [nzTitle]="'Number of following accounts'" [nzPrefix]="following"></nz-statistic>
                <ng-template #following>
                    <div class="container_class">
                        <span nz-icon nzType="team"></span>
                    </div>
                </ng-template>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(blockedInfo.length | number)!"
                    [nzTitle]="'Number of blocked accounts'" [nzPrefix]="blocked"></nz-statistic>
                <ng-template #blocked>
                    <div class="container_class">
                        <span nz-icon nzType="stop" nzTheme="outline"></span>
                    </div>
                </ng-template>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(recentFollowInfo.length| number)!"
                    [nzTitle]="'Number of recent follow requests'" [nzPrefix]="recent"></nz-statistic>
                <ng-template #recent>
                    <div class="container_class">
                        <span nz-icon nzType="user-add" nzTheme="outline"></span>
                    </div>
                </ng-template>
            </nz-col>
        </nz-row>
        <div [class.hidden]="previewMode">
            <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(receivedFollowRequestInfo.length | number)!"
                        [nzTitle]="'Number of received follow request'" [nzPrefix]="receive"></nz-statistic>
                    <ng-template #receive>
                        <div class="container_class">
                            <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
                        </div>
                    </ng-template>
                </nz-col>
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(pendingFollowRequestInfo.length| number)!"
                        [nzTitle]="'Number of pending follow requests'" [nzPrefix]="pending"></nz-statistic>
                    <ng-template #pending>
                        <div class="container_class">
                            <span nz-icon nzType="user-switch"></span>
                        </div>
                    </ng-template>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(removedSuggestionInfo.length | number)!"
                        [nzTitle]="'Number of removed suggestions'" [nzPrefix]="removed"></nz-statistic>
                    <ng-template #removed>
                        <div class="container_class">
                            <span nz-icon nzType="minus" nzTheme="outline"></span>
                        </div>
                    </ng-template>
                </nz-col>
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(recentlyUnfollowedInfo.length| number)!"
                        [nzTitle]="'Number of recently unfollowed accounts'" [nzPrefix]="unfollow"></nz-statistic>
                    <ng-template #unfollow>
                        <div class="container_class">
                            <span nz-icon nzType="user-delete" nzTheme="outline"></span>
                        </div>
                    </ng-template>
                </nz-col>
            </nz-row>
        </div>
    </div>
    <div [class.hidden]="previewMode">
        <br>
        <app-title-bar titleText="Followers and Following" [includeButton]="false"></app-title-bar>
        <nz-card style="width:100%;">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Graph representation" (nzSelect)="onGraphPageEnter()">
                    <p nz-typography>The following graph visualizes all follower or following relations with you. You can grab the nodes and move them around.</p>
                    <strong>Relations: </strong>
                    <nz-tag *ngFor="let tag of graphOptions" nzMode="checkable"
                        [nzChecked]="selectedTags.indexOf(tag) > -1" (nzCheckedChange)="handleChange($event, tag)">
                        {{ tag }}
                    </nz-tag>
                    <div echarts [options]="chartOptions" class="echart-container" style="width: 100%; height: 600px;" (chartClick)="clickHandler($event['name'])"></div>
                </nz-tab>
                <nz-tab nzTitle="Follower List">
                    <ng-template nz-tab>
                        <nz-table #followerTable [nzData]="listOfFollowers" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Follower name
                                        <nz-filter-trigger [(nzVisible)]="followVisible" [nzActive]="followerSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortFollowerDate">Timestamp since this user follows you</th>
                                    <th>Followers Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let follower_info of followerTable.data">
                                    <td>{{ follower_info.instaAccountName }}</td>
                                    <td>{{ follower_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{follower_info.instaProfileURL}}">{{follower_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="followerInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('follower', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search follower" [(ngModel)]="followerSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('follower')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('follower')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Following List">
                    <ng-template nz-tab>
                        <nz-table #followingTable [nzData]="listOfFollowing" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Following name
                                        <nz-filter-trigger [(nzVisible)]="followVisible" [nzActive]="followingSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortFollowingDate">Timestamp since you follow this user</th>
                                    <th>Following Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let following_info of followingTable.data">
                                    <td>{{ following_info.instaAccountName }}</td>
                                    <td>{{ following_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{following_info.instaProfileURL}}">{{following_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="followingInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('following', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search following" [(ngModel)]="followingSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('following')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('following')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
    <div [class.hidden]="previewMode">
        <br>
        <app-title-bar titleText="Followers and Following" [includeButton]="false"></app-title-bar>
        <nz-card style="width:100%;">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Recent Follow Requests">
                    <ng-template nz-tab>
                        <nz-table #recentTable [nzData]="listOfRecentFollow" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="requestVisible" [nzActive]="recentFollowSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortRecentFollowDate">Timestamp of the follow request</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recent_info of recentTable.data">
                                    <td>{{ recent_info.instaAccountName }}</td>
                                    <td>{{ recent_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{recent_info.instaProfileURL}}">{{recent_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="recentFollowInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('recentFollow', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search recent follower" [(ngModel)]="recentFollowSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('recentFollow')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('recentFollow')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Pending Follow Requests">
                    <ng-template nz-tab>
                        <nz-table #pendingTable [nzData]="listOfPending" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="pendingFollowVisible" [nzActive]="pendingSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortPendingDate">Timestamp of the pending follow request</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pending_info of pendingTable.data">
                                    <td>{{ pending_info.instaAccountName }}</td>
                                    <td>{{ pending_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{pending_info.instaProfileURL}}">{{pending_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="pendingFollowRequestInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('pending', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search pending follow" [(ngModel)]="pendingSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('pending')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('pending')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Received Follow Requests">
                    <ng-template nz-tab>
                        <nz-table #receivedTable [nzData]="listOfReceived" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="receivedVisible" [nzActive]="receivedSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortReceivedDate">Timestamp of the request</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let request_info of receivedTable.data">
                                    <td>{{ request_info.instaAccountName }}</td>
                                    <td>{{ request_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{request_info.instaProfileURL}}">{{request_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="receivedFollowRequestInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('received', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search received follow" [(ngModel)]="receivedSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('received')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('received')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
    <div [class.hidden]="previewMode">
        <br>
        <nz-card style="width:100%;">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Blocked Accounts">
                    <ng-template nz-tab>
                        <nz-table #blockedTable [nzData]="listOfBlocked" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Blocked username
                                        <nz-filter-trigger [(nzVisible)]="blockedVisible" [nzActive]="blockedSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortBlockedDate">Timestamp since this user is blocked</th>
                                    <th>Blocked users Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let blocked_info of blockedTable.data">
                                    <td>{{ blocked_info.instaAccountName }}</td>
                                    <td>{{ blocked_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{blocked_info.instaProfileURL}}">{{blocked_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="blockedInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('blocked', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search blocked" [(ngModel)]="blockedSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('blocked')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('blocked')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Recently Unfollowed Accounts">
                    <ng-template nz-tab>
                        <nz-table #recentUnfollowTable [nzData]="listOfRecentUnfollow" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="recentUnfollowVisible" [nzActive]="recentUnfollowSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortRecentUnfollowDate">Timestamp of unfollow</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let unfollow_info of recentUnfollowTable.data">
                                    <td>{{ unfollow_info.instaAccountName }}</td>
                                    <td>{{ unfollow_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{unfollow_info.instaProfileURL}}">{{unfollow_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="recentlyUnfollowedInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('recentUnfollow', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search recent unfollow" [(ngModel)]="recentUnfollowSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('recentUnfollow')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('recentUnfollow')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Removed Suggestions">
                    <ng-template nz-tab>
                        <nz-table #removedTable [nzData]="listOfRemoved" nzFrontPagination="false" [nzPageSize]="10">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="removedVisible" [nzActive]="removedSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortRemovedDate">Timestamp of the removing</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let removed_info of removedTable.data">
                                    <td>{{ removed_info.instaAccountName }}</td>
                                    <td>{{ removed_info.timestamp | date: 'd MMM y, h:mm a' }}</td>
                                    <td><a target="_blank" href="{{removed_info.instaProfileURL}}">{{removed_info.instaAccountName}}</a></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-pagination [nzTotal]="removedSuggestionInfo.length" [nzPageSize]="10" (nzPageIndexChange)="onPageChange('removed', $event)"></nz-pagination>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search removed" [(ngModel)]="removedSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('removed')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('removed')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
</div>
