<div [ngClass]="{'component-page': !previewMode}">
    <!--only shows when visiting the page-->
    <div *ngIf="!previewMode">
        <!--Titlebar component -->
        <app-title-bar titleText="Highlights" tooltipText="This are some important entrys in your data download regarding your followers or following relations."></app-title-bar>
    </div>
    <!--This is the preview and the highlights section-->
    <div>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(followerInfo.length|number)!"
                    [nzTitle]="'Number of followers'" [nzPrefix]="followers"></nz-statistic>
                <ng-template #followers>
                    <div class="container_class">
                        <span nz-icon nzType="heart"></span>
                    </div>
                </ng-template>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(followingInfo.length| number)!"
                    [nzTitle]="'Number of following accounts'" [nzPrefix]="following"></nz-statistic>
                <ng-template #following>
                    <div class="container_class">
                        <span nz-icon nzType="team"></span>
                    </div>
                </ng-template>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(blockedInfo.length | number)!"
                    [nzTitle]="'Number of blocked accounts'" [nzPrefix]="blocked"></nz-statistic>
                <ng-template #blocked>
                    <div class="container_class">
                        <span nz-icon nzType="stop" nzTheme="outline"></span>
                    </div>
                </ng-template>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(recentFollowInfo.length| number)!"
                    [nzTitle]="'Number of recent follow requests'" [nzPrefix]="recent"></nz-statistic>
                <ng-template #recent>
                    <div class="container_class">
                        <span nz-icon nzType="user-add" nzTheme="outline"></span>
                    </div>
                </ng-template>
            </nz-col>
        </nz-row>
        <div [class.hidden]="previewMode">
            <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(receivedFollowRequestInfo.length | number)!"
                        [nzTitle]="'Number of received follow request'" [nzPrefix]="receive"></nz-statistic>
                    <ng-template #receive>
                        <div class="container_class">
                            <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
                        </div>
                    </ng-template>
                </nz-col>
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(pendingFollowRequestInfo.length| number)!"
                        [nzTitle]="'Number of pending follow requests'" [nzPrefix]="pending"></nz-statistic>
                    <ng-template #pending>
                        <div class="container_class">
                            <span nz-icon nzType="user-switch"></span>
                        </div>
                    </ng-template>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(removedSuggestionInfo.length | number)!"
                        [nzTitle]="'Number of removed suggestions'" [nzPrefix]="removed"></nz-statistic>
                    <ng-template #removed>
                        <div class="container_class">
                            <span nz-icon nzType="minus" nzTheme="outline"></span>
                        </div>
                    </ng-template>
                </nz-col>
                <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="(recentlyUnfollowedInfo.length| number)!"
                        [nzTitle]="'Number of recently unfollowed accounts'" [nzPrefix]="unfollow"></nz-statistic>
                    <ng-template #unfollow>
                        <div class="container_class">
                            <span nz-icon nzType="user-delete" nzTheme="outline"></span>
                        </div>
                    </ng-template>
                </nz-col>
            </nz-row>
        </div>
    </div>
    <div [class.hidden]="previewMode">
        <br>
        <app-title-bar titleText="Followers and Following" [includeButton]="false"></app-title-bar>
        <nz-card style="width:100%;">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Graph representation" (nzSelect)="on_graph_page_enter()">
                    <p nz-typography>
                        The following graph visualizes all follower or following relations with you. You can grab the
                        nodes and move them arround.</p>

                    <strong>Relations: </strong>
                    <nz-tag *ngFor="let tag of graphOptions" nzMode="checkable"
                        [nzChecked]="selectedTags.indexOf(tag) > -1" (nzCheckedChange)="handleChange($event, tag)">
                        {{ tag }}
                    </nz-tag>
                    <div id="cy"></div>
                </nz-tab>
                <nz-tab nzTitle="Follower List"><ng-template nz-tab><nz-demo-tab-content-lazy>
                            <!-- If Follower Data present -->
                            <div *ngIf="followerInfo?.length">
                                <nz-table #followerTable [nzData]="listOfFollowers">
                                    <thead>
                                        <tr>
                                            <th nzCustomFilter>
                                                Follower name
                                                <nz-filter-trigger [(nzVisible)]="followVisible" [nzActive]="followerSearchValue.length > 0" [nzDropdownMenu]="menu">
                                                  <span nz-icon nzType="search"></span>
                                                </nz-filter-trigger>
                                            </th>
                                            <th [nzSortFn]="sortFollowerDate">Timestamp since this user follows you</th>
                                            <th>Followers Profile URL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let follower_info of followerTable.data">
                                            <td>{{ follower_info.instaAccountName }}</td>
                                            <td>{{ follower_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                                            <td><span nz-icon nzType="link"><a target="_blank"
                                                        href={{follower_info.instaProfileURL}}>{{follower_info.instaAccountName}}</a></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <div class="ant-table-filter-dropdown">
                                      <div class="search-box">
                                        <input type="text" nz-input placeholder="Search follower" [(ngModel)]="followerSearchValue" />
                                        <button nz-button nzSize="small" nzType="primary" (click)="search('follower')" class="search-button">Search</button>
                                        <button nz-button nzSize="small" (click)="reset('follower')">Reset</button>
                                      </div>
                                    </div>
                                </nz-dropdown-menu>
                            </div>
                            <!-- If No Follower Data present -->
                            <div *ngIf="followerInfo?.length === 0">
                                <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </div>
                        </nz-demo-tab-content-lazy></ng-template></nz-tab>
                <nz-tab nzTitle="Following List"><ng-template nz-tab><nz-demo-tab-content-lazy>
                            <!-- If Following Data present -->
                            <div *ngIf="followingInfo?.length">
                                <nz-table #followingTable [nzData]="listOfFollowing">
                                    <thead>
                                        <tr>
                                            <th nzCustomFilter>
                                                Following name
                                                <nz-filter-trigger [(nzVisible)]="followVisible" [nzActive]="followingSearchValue.length > 0" [nzDropdownMenu]="menu">
                                                  <span nz-icon nzType="search"></span>
                                                </nz-filter-trigger>
                                            </th>
                                            <th [nzSortFn]="sortFollowingDate">Timestamp since you follow this user</th>
                                            <th>Following Profile URL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let following_info of followingTable.data">
                                            <td>{{ following_info.instaAccountName }}</td>
                                            <td>{{ following_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                                            <td><span nz-icon nzType="link"><a target="_blank"
                                                        href={{following_info.instaProfileURL}}>{{following_info.instaAccountName}}</a></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <div class="ant-table-filter-dropdown">
                                      <div class="search-box">
                                        <input type="text" nz-input placeholder="Search following" [(ngModel)]="followingSearchValue" />
                                        <button nz-button nzSize="small" nzType="primary" (click)="search('following')" class="search-button">Search</button>
                                        <button nz-button nzSize="small" (click)="reset('following')">Reset</button>
                                      </div>
                                    </div>
                                </nz-dropdown-menu>
                            </div>
                            <!-- If No Follower Data present -->
                            <div *ngIf="followingInfo?.length === 0">
                                <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </div>
                        </nz-demo-tab-content-lazy></ng-template></nz-tab>
            </nz-tabset>
        </nz-card>
        <br>
        <br>

        <app-title-bar titleText="Request Data" [includeButton]="false"></app-title-bar>
        <nz-card style="width:100%;">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Recent Follow Requests">
                    <!-- If Recent Follow Data present -->
                    <div *ngIf="recentFollowInfo?.length">
                        <nz-table #recentTable [nzData]="listOfRecentFollow">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="requestVisible" [nzActive]="recentFollowSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortRecentFollowDate">Timestamp of the follow request</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recent_info of recentTable.data">
                                    <td>{{ recent_info.instaAccountName }}</td>
                                    <td>{{ recent_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                                    <td><span nz-icon nzType="link"><a target="_blank"
                                                href={{recent_info.instaProfileURL}}>{{recent_info.instaAccountName}}</a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search recent follower" [(ngModel)]="recentFollowSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('recentFollow')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('recentFollow')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                    <!-- If No Recent Follow Data present -->
                    <div *ngIf="recentFollowInfo?.length === 0">
                        <nz-empty nzNotFoundImage="simple"></nz-empty>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Pending Follow Requests"><ng-template nz-tab><nz-demo-tab-content-lazy>
                    <!-- If Pending Follow Request Data present -->
                    <div *ngIf="pendingFollowRequestInfo?.length">
                        <nz-table #pendingTable [nzData]="listOfPending">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="pendingFollowVisible" [nzActive]="pendingSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortPendingDate">Timestamp of the pending follow request</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pending_info of pendingTable.data">
                                    <td>{{ pending_info.instaAccountName }}</td>
                                    <td>{{ pending_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                                    <td><span nz-icon nzType="link"><a target="_blank"
                                                href={{pending_info.instaProfileURL}}>{{pending_info.instaAccountName}}</a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search pending follow" [(ngModel)]="pendingSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('pending')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('pending')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                    <!-- If No Pending Follow Request Data present -->
                    <div *ngIf="pendingFollowRequestInfo?.length === 0">
                        <nz-empty nzNotFoundImage="simple"></nz-empty>
                    </div>
                </nz-demo-tab-content-lazy></ng-template></nz-tab>
                <nz-tab nzTitle="Received Follow Requests"><ng-template nz-tab><nz-demo-tab-content-lazy>
                    <!-- If Received Follow Requests Data present -->
                    <div *ngIf="receivedFollowRequestInfo?.length">
                        <nz-table #receivedTable [nzData]="listOfReceived">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        Username
                                        <nz-filter-trigger [(nzVisible)]="receivedVisible" [nzActive]="receivedSearchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                    </th>
                                    <th [nzSortFn]="sortReceivedDate">Timestamp of the request</th>
                                    <th>Profile URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let request_info of receivedTable.data">
                                    <td>{{ request_info.instaAccountName }}</td>
                                    <td>{{ request_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                                    <td><span nz-icon nzType="link"><a target="_blank"
                                                href={{request_info.instaProfileURL}}>{{request_info.instaAccountName}}</a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                              <div class="search-box">
                                <input type="text" nz-input placeholder="Search received follow" [(ngModel)]="receivedSearchValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="search('received')" class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="reset('received')">Reset</button>
                              </div>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                    <!-- If No Received Follow Requests Data present -->
                    <div *ngIf="receivedFollowRequestInfo?.length === 0">
                        <nz-empty nzNotFoundImage="simple"></nz-empty>
                    </div>
                </nz-demo-tab-content-lazy></ng-template></nz-tab>
            </nz-tabset>
        </nz-card>
        <br><br>

        <app-title-bar titleText="Blocked Accounts" [includeButton]="false"></app-title-bar>
        <!-- If Blocked Data present -->
        <div *ngIf="blockedInfo?.length">
            <nz-table #blockedTable [nzData]="listOfBlocked">
                <thead>
                    <tr>
                        <th nzCustomFilter>
                            Blocked username
                            <nz-filter-trigger [(nzVisible)]="blockedVisible" [nzActive]="blockedSearchValue.length > 0" [nzDropdownMenu]="menu">
                              <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <th [nzSortFn]="sortBlockedDate">Timestamp since this user is blocked</th>
                        <th>Blocked users Profile URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blocked_info of blockedTable.data">
                        <td>{{ blocked_info.instaAccountName }}</td>
                        <td>{{ blocked_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                        <td><span nz-icon nzType="link"><a target="_blank"
                                    href={{blocked_info.instaProfileURL}}>{{blocked_info.instaAccountName}}</a></span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Search blocked" [(ngModel)]="blockedSearchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search('blocked')" class="search-button">Search</button>
                    <button nz-button nzSize="small" (click)="reset('blocked')">Reset</button>
                  </div>
                </div>
            </nz-dropdown-menu>
        </div>
        <!-- If No Blocked Data present -->
        <div *ngIf="blockedInfo?.length === 0">
            <nz-card><nz-empty nzNotFoundImage="simple"></nz-empty></nz-card>
        </div>

        <app-title-bar titleText="Recently Unfollowed Accounts" [includeButton]="false"></app-title-bar>
        <!-- If Recently Unfollowed Accounts Data present -->
        <div *ngIf="recentlyUnfollowedInfo?.length">
            <nz-table #recentTable [nzData]="listOfRecentUnfollow">
                <thead>
                    <tr>
                        <th nzCustomFilter>
                            Username
                            <nz-filter-trigger [(nzVisible)]="recentUnfollowVisible" [nzActive]="recentUnfollowSearchValue.length > 0" [nzDropdownMenu]="menu">
                              <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <th [nzSortFn]="sortRecentUnfollowDate">Timestamp of unfollow</th>
                        <th>Profile URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unfollow_info of recentTable.data">
                        <td>{{ unfollow_info.instaAccountName }}</td>
                        <td>{{ unfollow_info.timestamp + '000' | date: 'd MMM y, h:mm a' }}</td>
                        <td><span nz-icon nzType="link"><a target="_blank"
                                    href={{unfollow_info.instaProfileURL}}>{{unfollow_info.instaAccountName}}</a></span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Search recent unfollow" [(ngModel)]="recentUnfollowSearchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search('recentUnfollow')" class="search-button">Search</button>
                    <button nz-button nzSize="small" (click)="reset('recentUnfollow')">Reset</button>
                  </div>
                </div>
            </nz-dropdown-menu>
        </div>
        <!-- If No Recently Unfollowed Account Data present -->
        <div *ngIf="recentlyUnfollowedInfo?.length === 0">
            <nz-card><nz-empty nzNotFoundImage="simple"></nz-empty></nz-card>
        </div>
        <br>
        <br>
        <app-title-bar titleText="Removed Suggestions" [includeButton]="false"></app-title-bar>
        <!-- If Removed Suggestions Data present -->
        <div *ngIf="removedSuggestionInfo?.length">
            <nz-table #removedTable [nzData]="listOfRemoved">
                <thead>
                    <tr>
                        <th nzCustomFilter>
                            Username
                            <nz-filter-trigger [(nzVisible)]="removedVisible" [nzActive]="removedSearchValue.length > 0" [nzDropdownMenu]="menu">
                              <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>
                        </th>
                        <th [nzSortFn]="sortRemovedDate">Timestamp of the removing</th>
                        <th>Profile URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let removed_info of removedTable.data">
                        <td>{{ removed_info.instaAccountName }}</td>
                        <td>{{ removed_info.timestamp + '000' | date: 'd MMM y, h:mm a'}}</td>
                        <td><span nz-icon nzType="link"><a target="_blank"
                                    href={{removed_info.instaProfileURL}}>{{removed_info.instaAccountName}}</a></span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Search removed" [(ngModel)]="removedSearchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search('removed')" class="search-button">Search</button>
                    <button nz-button nzSize="small" (click)="reset('removed')">Reset</button>
                  </div>
                </div>
            </nz-dropdown-menu>
        </div>
        <!-- If No Removed Suggestion Data present -->
        <div *ngIf="removedSuggestionInfo?.length === 0">
            <nz-card><nz-empty nzNotFoundImage="simple"></nz-empty></nz-card>
        </div>
    </div>
</div>
