.title-info-icon
{
    font-size: 16px;//.6em; 
    vertical-align: .4em;
}

.header-back-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-left: 0;
}

.header-back-button:hover {
  color: #0e71ff;
}

//Mobile
@media (max-width : 800px) {
  h3  {    
    margin-top: 1vh;
  }
}

