<app-title-bar
  titleText="Guidelines to control which advertisements show on your Instagram account"
  tooltipText="The following guidelines helps you to control which ads show on your Instagram account. The guidelines are provided for Web Browser user as well as Mobile Application user."
  [includeButton]="false"
/>

<p nz-typography>
  <strong>Note:</strong> It is not guaranteed that all ads related to each category can be avoided
  completely. Ads from certain categories like gambling and dating are restricted by default.
</p>

<nz-tabset>
  <nz-tab nzTitle="Web Browser">
    <p nz-topography>
      Here's how you can prevent and block specific ad categories and advertiser accounts to appear on
      your profile feed or reels:
    </p>

    <prioss-stepper [steps]="addManagerSteps" />
  </nz-tab>

  <nz-tab nzTitle="Mobile">
    <p nz-topography>
      Here's how you can prevent and block specific ad categories and advertiser accounts to appear on
      your profile feed or reels:
    </p>

    <prioss-stepper [steps]="addManagerMobileSteps" />
  </nz-tab>
</nz-tabset>
