<div [ngClass]="{ 'component-page': !previewMode }">
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="16">
        <nz-statistic [nzTitle]="'Number of Interactions'" [nzValue]="this.messagesData.length" [nzPrefix]="interaction"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
        <ng-template #interaction>
          <div class="container_class">
            <span nz-icon nzType="comment"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="16">
        <nz-statistic [nzTitle]="'Groups Interactions'" [nzValue]="totalGroupChats" [nzPrefix]="location"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
        <ng-template #location>
          <div class="container_class">
            <span nz-icon nzType="wechat"></span>
          </div>
        </ng-template>
      </nz-col>
    </nz-row>
  </div>
</div>
<div *ngIf="!previewMode">
  <div class="message-component-maincontent">
    <div class="title-section">
      <app-title-bar titleText="Messages"
        tooltipText="This visualization presents an overview of data pertaining to interactions with friends and group interactions.">
      </app-title-bar>
    </div>
    <div class="maincontent">
      <nz-tabset class="margin-top-20" (nzSelectChange)="onTabSelected($event)">
        <nz-tab nzTitle="Chats">
          <div class="tab-content">
            <ng-container *ngIf="this.allChatData.length !== 0; else noDataTemplate">
              <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="24">
                  <prioss-chatview [chatData]="allChatData" [yourUsername]="username"></prioss-chatview>
                </div>
              </div>
            </ng-container>
            <ng-template #noDataTemplate>
              <nz-result nzStatus="403" nzTitle="No data available">
              </nz-result>
            </ng-template>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Chat Statistics">
          <ng-container *ngIf="this.allChatData.length !== 0; else noDataTemplate">
            <prioss-chat-statistics [chatData]="allChatData" [yourUsername]="username"></prioss-chat-statistics>
          </ng-container>
        </nz-tab>

        <ng-template #noDataTemplate>
          <nz-result nzStatus="403" nzTitle="No data available"> </nz-result>
        </ng-template>
      </nz-tabset>
    </div>
  </div>
</div>