<div [ngClass]="{ 'component-page': !previewMode }">
  <div *ngIf="previewMode">
    <prioss-messages-per-day-chart [yourUsername]="username()" [chatData]="allChatData()">
    </prioss-messages-per-day-chart>
</div>
<div *ngIf="!previewMode">
  <div class="message-component-maincontent">
    <div class="title-section">
      <app-title-bar titleText="Messages"
        tooltipText="This visualization presents an overview of data pertaining to interactions with friends and group interactions.">
      </app-title-bar>
    </div>
    <div class="maincontent">
      <nz-tabset class="margin-top-20">
        <nz-tab nzTitle="Chat Statistics">
          <ng-container *ngIf="this.allChatData().length !== 0; else noDataTemplate">
            <prioss-chat-statistics [loading]="loading()" [chatData]="allChatData()" [yourUsername]="username()"></prioss-chat-statistics>
          </ng-container>
        </nz-tab>

        <nz-tab nzTitle="Chats">
          <div class="tab-content">
            <ng-container *ngIf="this.allChatData().length !== 0; else noDataTemplate">
              <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="24">

                    <prioss-chatview [loading]="loading()" [chatData]="allChatData()" [yourUsername]="username()"></prioss-chatview>
                  
                </div>
              </div>
            </ng-container>
            <ng-template #noDataTemplate>
              <nz-result nzStatus="403" nzTitle="No data available">
              </nz-result>
            </ng-template>
          </div>
        </nz-tab>


        <ng-template #noDataTemplate>
          <nz-result nzStatus="403" nzTitle="No data available"> </nz-result>
        </ng-template>
      </nz-tabset>
    </div>
  </div>
</div>