<!--
    This HTML shows Facebook's Purposes on dashboard.
    @author: Deepa Belvi (dbelvi@mail.uni-paderborn.de)
-->

<details open id="purpose">
  <summary id="purpose" class="collapsible-dashboard-section-title">
    Purposes - Why does Facebook collect your data ?
  </summary>
  <br />
  <div id="purpose" class="large-icon">
    <nz-card>
      <nz-table nzTemplateMode>
        <thead>
          <tr>
            <th [nzWidth]="'70%'" class="large-icon">Purpose</th>
            <th class="large-icon">Data Collected</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataRows">
            <td>
              <p class="purpose-contents-descr">
                <strong> {{ row.shortPurpose }}:</strong>
                {{ row.detailedPurpose }}
              </p>
            </td>
            <td>
              <ng-container
                *ngFor="
                  let data of row.dataCollected.split(', ');
                  let last = last
                "
              >
                <i
                  nz-icon
                  [nzType]="dataIcons[data]"
                  [nzTheme]="'outline'"
                  class="large-icon"
                  [title]="data"
                ></i>
                <span *ngIf="!last">&nbsp;</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</details>
