<h1>Known Issues of this Application Version</h1>
<ul style="width: 50%">
  <li>Limited Mobile Support:<br>
    A few pages don't work well on mobile yet as we haven't had time to adapt them all to mobile screen sizes. 
  </li>
  <li>Progress bar for data-download stopping:<br>
    Sometimes when inputting a data-download, the loading bar that shows the progress of reading in the data stops and does not continue.
    In such cases it usually helps to go back to the home page, reload the page manually in your browser and then try again.
    If you still experience issues, please write us an Email and also tell us which browser you are using.
  </li>
</ul>
