<h1>Known Issues of this Application Version</h1>
<ul style="width: 50%">
  <li>Online/Offline Indicator not working on all clients:<br>
    The online/offline indicator icon displayed on the dashboards is currently not working on some clients. 
    Preliminary testing suggests that linux clients work but windows clients always show to be online, 
    even when in flightmode or otherwise disconnected from the network.
  </li>
  <li>Offline Functionality not working on all clients:<br>
    The offline functionality currently does not seem to work on all clients. In some cases, the service worker does not start properly and thus only cached sites are available offline.
    This is currently being investigated.
  </li>
</ul>
