<h1>Known Issues of this Application Version</h1>
<ul style="width: 50%">
  <li>Limited Mobile Support:<br>
    Only a few pages currently work well on mobile as we haven't had time to adapt them all to mobile screen size yet. 
    The Landing page should already work on mobile devices as well as parts of the Dashboard pages, most visualizations however are not adjusted to mobile screen sizes yet.
  </li>
  <li>Repeated Reloading Bug:<br>
    When reloading the website from the development server, there is currently a bug where the page keeps repeatedly reloading for 10-20 seconds before finally displaying fully.
    This bug likely is caused by the webservers used for locally testing the webapp during development and should not affect the released version of the site.
  </li>
</ul>
