@let dataCount = searchHistory().length;
@let available = dataCount > 0;

@if (previewMode) {
  @if (available) {
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="dataCount"
          [nzTitle]="'Number of Search Queries'"
        ></nz-statistic>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="latestSearchQuery()"
          [nzTitle]="'Latest Search Query'"
        ></nz-statistic>
      </nz-col>
    </nz-row>
  } @else {
    <nz-empty nzNotFoundImage="simple" />
  }
} @else {
  <app-title-bar
    titleText="Search History"
    tooltipText="This table shows the search History the service has collected about you."
  />

  @if (available) {
    <nz-card nzTitle="Search History">
      <prioss-filter-input [(filter)]="filter" />
      <br>
      <nz-table
        #rowSelectionTable
        [nzData]="filteredSearchHistory()"
        [nzPageSize]="50000"
        [nzScroll]="{ y: 'calc(100vh - 369px)' }"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th id="SearchHistoryTableQueryHeader" nzCustomFilter>
              <span
                nz-tooltip
                nzTooltipTitle="This column list the exact search query that was entered"
              >
                Search Query
              </span>
            </th>
            <th id="SearchHistoryTableQueryDateHeader">
              <span
                nz-tooltip
                nzTooltipTitle="This column list the date at which the search query was entered"
              >
                Used Date
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (data of rowSelectionTable.data; track data) {
            <tr>
              <td>{{ data.searchQuery }}</td>
              <td>{{ data.searchTime | date }}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </nz-card>
  } @else {
    <nz-card nzTitle="Search History">
      <nz-empty nzNotFoundImage="simple" />
    </nz-card>
  }
}
