<div [ngClass]="{'component-page': !previewMode}">
  <div id="top-song" [hidden]="showSongHistoy">
    <div *ngIf="previewMode">
      <div class="bar_chart_top_songs"></div>
    </div>

    <div *ngIf="!previewMode">
      <app-title-bar titleText="Top Songs" tooltipText="This bar chart shows your top 10 songs in a given time period. You can also switch to a tabular view.">
      </app-title-bar>
      <nz-tabset (nzSelectedIndexChange)="onTabSwitch($event)">
        <nz-tab nzTitle="Bar chart">
          From:
          <nz-date-picker [(ngModel)]="filterFromDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
          To:
          <nz-date-picker [(ngModel)]="filterToDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
          <br><br>
          <div class="bar_chart_top_songs visualization-card"></div>
        </nz-tab>
        <nz-tab nzTitle="Table">
          From:
          <nz-date-picker [(ngModel)]="filterFromDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
          To:
          <nz-date-picker [(ngModel)]="filterToDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
          <nz-table #basicTable [nzData]="this.minListenedToSong">
            <thead>
            <tr>
              <th>Song</th>
              <th>Minutes listened</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data" (click)="onBarClicked(data.artistName, data.trackName)">
              <td>{{data.trackName}}</td>
              <td>{{data.minPlayed}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>

  <div id="song-history" [hidden]="!showSongHistoy">
    <nz-page-header
      class="site-page-header"
      (nzBack)="onBackFromSong()"
      nzBackIcon
      [nzTitle]="this.selectedSong[1] + ' by ' + this.selectedSong[0]"
    ></nz-page-header>
    <nz-table #basicTable [nzData]="this.selectedSongHistory">
      <thead>
      <tr>
        <th>Date and time</th>
        <th>Seconds listened</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.endTime}}</td>
        <td>{{data.secPlayed}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

