@if (vm$ | async; as vm) {
  <ul
    nz-menu
    nzTheme="light"
    nzMode="inline"
    [nzInlineCollapsed]="vm.collapsed"
  >
    @for (item of vm.menu; track item.name) {
      @if (!item.children) {
        <li
          nz-menu-item
          nzMatchRouter
        >
          <a [routerLink]="item.link">
            <span
              nz-icon
              [nzType]="item.icon"
              nzTheme="outline"
            ></span>
            <span>{{ item.name }}</span>
          </a>
        </li>
      } @else {
        <li
          nz-submenu
          [nzTitle]="item.name"
          [nzIcon]="item.icon"
        >
          <ul>
            @for (subItem of item.children; track subItem.name) {
              <li nz-menu-item>
                <a
                  [routerLink]="subItem.link"
                  [fragment]="subItem.fragment"
                >
                  {{ subItem.name }}
                </a>
              </li>
            }
          </ul>
        </li>
      }
    }
  </ul>
}
