<div class="component-page">
    <app-title-bar titleText="Guidelines to revoke third-party apps for your Instagram account" tooltipText="The following guidelines helps to revoke third-party apps for your Instagram account. The guidelines are provided for Web Browser user as well as Mobile Application user." [includeButton]="false"></app-title-bar>
    <br>
    <p nz-typography>Over the years, you may have linked your Instagram account to third-party apps and services. These may be completely safe, but it's possible that some of them especially if they're old and no longer active could be insecure and should no longer have access to your Instagram account.</p>
   
    <nz-tabset>
        <nz-tab nzTitle="Web Browser">
            <div>
                <p nz-typography>It's easy to revoke access by following these steps:</p>
                <br>
                <nz-steps [nzCurrent]="RevokeAccess">
                    <nz-step nzTitle="Step 1"></nz-step>
                    <nz-step nzTitle="Step 2"></nz-step>
                    <nz-step nzTitle="Step 3"></nz-step>
                </nz-steps>
              
                  <div class="steps-content">
                    <img
                      nz-image
                      height="300px"
                      nzSrc={{instructionPictureRevokeAccess}}
                      alt=""
                    />
                    <nz-divider></nz-divider>
                    <p nz-typography>{{ instructionTextRevokeAccess }}</p>
                  </div>
                  <div class="steps-action">
                    <button nz-button nzType="default" (click)="preRevokeAccess()" [disabled]="RevokeAccess <= 0">
                      <span>Previous</span>
                    </button>
                    <button nz-button nzType="default" (click)="nextRevokeAccess()" [disabled]="RevokeAccess >= 2">
                      <span>Next</span>
                    </button>
                  </div>
            </div>
        </nz-tab>

            <nz-tab nzTitle="Mobile Application">
                <div>
                    <p nz-typography>It's easy to revoke access by following these steps:</p>
                    <br>
                    <nz-steps [nzCurrent]="RevokeAccessMobile">
                        <nz-step nzTitle="Step 1"></nz-step>
                        <nz-step nzTitle="Step 2"></nz-step>
                        <nz-step nzTitle="Step 3"></nz-step>
                        <nz-step nzTitle="Step 4"></nz-step>
                        <nz-step nzTitle="Step 5"></nz-step>
                        <nz-step nzTitle="Step 6"></nz-step>
                    </nz-steps>
                  
                      <div class="steps-content">
                        <img
                          nz-image
                          height="300px"
                          nzSrc={{instructionPictureRevokeAccessMobile}}
                          alt=""
                        />
                        <nz-divider></nz-divider>
                        <p nz-typography>{{ instructionTextRevokeAccessMobile }}</p>
                      </div>
                      <div class="steps-action">
                        <button nz-button nzType="default" (click)="preRevokeAccessMobile()" [disabled]="RevokeAccessMobile <= 0">
                          <span>Previous</span>
                        </button>
                        <button nz-button nzType="default" (click)="nextRevokeAccessMobile()" [disabled]="RevokeAccessMobile >= 5">
                          <span>Next</span>
                        </button>
                      </div>
                </div>
            </nz-tab>
    </nz-tabset>
</div>
<!--
                <p nz-typography> <strong> Step 1 -</strong> First of all, you have to visit <span nz-icon nzType="link"> <a href="https://www.instagram.com/" target="_blank"> <strong>Instagram website</strong></a> </span> on your computer or mobile browser or you can open Instagram application on your mobile phone. </p>
                <img class ="insta-revoke-access" src="../../assets/images/insta-privacy-recommendations/8.png">
                <br>
                <br>
                <p nz-typography> <strong> Step 2 -</strong> By clicking on 'More' option in the left-bottom corner, select <strong>Settings</strong>. </p>
                <img class ="insta-revoke-access" src="../../assets/images/insta-privacy-recommendations/23.png">
                <br>
                <br>
                <p nz-typography> <strong> Step 3 -</strong>Tap <strong>Apps and websites</strong>.</p>
                <img class ="insta-revoke-access" src="../../assets/images/insta-privacy-recommendations/29.png">
                <br>
               <p nz-typography> Here, you'll find a list of the services you've previously given permission to access your Instagram account. There's no need to worry about those on the <i>Expired or Removed lists</i>; they've already had their access revoked. But it's important to check the <i>Active list</i> and remove any apps and services that should no longer have access to your Instagram account.</p>
            </div>
-->
      <!--
      <nz-tab nzTitle="Mobile Application">
            <div>
                <p nz-typography>It's easy to revoke access by following these steps:</p>
                <br>
                <p nz-typography> <strong> Step 1 -</strong> While viewing your Instagram feed, tap on your <strong>profile icon</strong> in the bottom right corner of the screen. </p>
                <img class="hide-stories" src="../../assets/images/insta-privacy-recommendations/31.png">
                <br>
                <br>
                <p nz-typography> <strong> Step 2 -</strong> Tap the <strong>menu icon</strong> in the upper right corner of your profile.</p>
                <img class="hide-stories1" src="../../assets/images/insta-privacy-recommendations/15.png">
                <br>
                <p nz-typography> <strong>Step 3 -</strong> Tap the <strong>Settings and privacy</strong> gear icon in the menu that appears.</p>
                <img class="hide-stories" src="../../assets/images/insta-privacy-recommendations/32.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 4 -</strong> Tap <strong>Website permissions</strong> option.</p>
                <img class ="hide-stories"src="../../assets/images/insta-privacy-recommendations/36.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 5 -</strong> Now, click on <strong>Apps and website</strong> option.</p>
                <img class ="hide-stories"src="../../assets/images/insta-privacy-recommendations/37.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 6 -</strong>  Here, you'll find a list of the services you've previously given permission to access your Instagram account.</p> 
                <img class ="hide-stories"src="../../assets/images/insta-privacy-recommendations/38.png">
                <br>
                <br>  
               <p nz-typography>There's no need to worry about those on the <i>Expired or Removed lists</i>; they've already had their access revoked. But it's important to check the <i>Active list</i> and remove any apps and services that should no longer have access to your Instagram account.</p>
            </div>
        </nz-tab>
    -->
   
    
    
    





