<app-title-bar
  titleText="Guidelines to make Instagram Account Private"
  tooltipText="The following guidelines helps you to make your Instagram account private. The guidelines are provided for Web Browser user as well as Mobile Application user."
  [includeButton]="false"
/>

<p nz-typography>
  If you do not want your photos to be public and available to be seen by everyone, you can make your
  profile private.
</p>

<p nz-typography>
  Follow these steps if you want to set your Instagram account to private on your computer or
  mobile browser:
</p>

<prioss-stepper [steps]="accountPrivateSteps" />
