<div class="component-page">
    <app-title-bar titleText="Guidelines to make Instagram Account Private" tooltipText="The following guidelines helps you to make your Instagram account private. The guidelines are provided for Web Browser user as well as Mobile Application user." [includeButton]="false"></app-title-bar>
    <p nz-typography>If you do not want your photos to be public and available to be seen by everyone, you can make your profile private.</p>
    <nz-tabset>
        <nz-tab nzTitle="Web Browser">
                <p nz-typography>Follow these steps if you want to set your Instagram account to private on your computer or mobile browser:</p>
                <nz-steps [nzCurrent]="AccountPrivate">
                    <nz-step nzTitle="Step 1"></nz-step>
                    <nz-step nzTitle="Step 2"></nz-step>
                    <nz-step nzTitle="Step 3"></nz-step>
                    <nz-step nzTitle="Step 4"></nz-step>
                  </nz-steps>

                  <div class="steps-content">
                    <img
                      nz-image
                      height="300px"
                      nzSrc={{instructionPictureAccountPrivate}}
                      alt=""
                    />
                    <nz-divider></nz-divider>
                    <p nz-typography>{{ instructionTextAccountPrivate }}</p>
                  </div>
                  <div class="steps-action">
                    <button nz-button nzType="default" (click)="preAccountPrivate()" [disabled]="AccountPrivate <= 0">
                      <span>Previous</span>
                    </button>
                    <button nz-button nzType="default" (click)="nextAccountPrivate()" [disabled]="AccountPrivate >= 3">
                      <span>Next</span>
                    </button>
                  </div>
<!--
                <p nz-typography> <strong>Step 1 -</strong> First of all, you have to visit <strong> <span nz-icon nzType="link"> <a href="https://www.instagram.com/" target="_blank">Instagram website</a> </span></strong> on your computer or mobile browser.</p>
                <img class ="account-private-web" src="../../assets/images/insta-privacy-recommendations/8.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 2 –</strong> You need to click <strong>profile icon</strong> and then, click <strong>settings</strong>. </p>
                <img class ="account-private-web" src="../../assets/images/insta-privacy-recommendations/2.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 3 –</strong> Here, you have to click <Strong>Privacy and Security</Strong>.</p>
                <br>
                <p nz-typography> <strong>Step 4 –</strong> Below Account Privacy, you need to click to check the box next to Private Account. </p>
                <img class ="account-private-web" src="../../assets/images/insta-privacy-recommendations/3.png">
                <br>
                <p nz-topography>Following these steps can help you to set your Instagram account to private on your computer or mobile browser.</p>
            </div>
        -->

        </nz-tab>

    </nz-tabset>
</div>







