<section class="landing__title">
  <img
    src="/assets/images/icons/prioss-icon.svg"
    alt="prioss logo"
  >
  <h1>PriOSS: The Privacy One Stop Shop</h1>
  <span>Easy, Accessible Privacy.</span>
</section>

<section class="landing__info-text">
  <div>
    <span
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
    ></span>
    Explore how to download your personnel data from various services.
  </div>
  <div>
    <span
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
    ></span>
    Explore your personal data, which has been collected about you.
  </div>
  <div>
    <span
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
    ></span>
    Your data is safe. This whole analysis is offline.
  </div>
</section>

<section class="landing__call-to-action">
  <button
    nz-button
    nzSize="large"
    nzType="primary"
    (click)="goToServiceSelection()"
  >
    <span>Select your service and <br> start to explore your data</span>
    <span
      nz-icon
      nzType="arrow-right"
      nzTheme="outline"
    ></span>
  </button>
</section>
