<div [ngClass]="{'component-page': !previewMode}">
    <div *ngIf="previewMode">
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="16">
              <nz-statistic [nzTitle]="'Friends and Other People Interactions'"  [nzValue]="totalPeopleMessages"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="16">
              <nz-statistic  [nzTitle]="'Groups Interactions'" [nzValue]="totalGroupMessages"></nz-statistic>
            </nz-col>
          </nz-row>
        </div>
        </div>

<div *ngIf="!previewMode">
    <app-title-bar titleText="Messages" tooltipText="This visualization presents an overview of data pertaining to interactions with friends and group interactions."></app-title-bar>
    <nz-tabset class="margin-top-20" (nzSelectChange)="onTabSelected($event)">
      <nz-tab nzTitle="People & Friends Interactions - Graph View">
        
        <h3 nz-typography>Latest 10 Interactions</h3>
        <br>
        <div class="timeline_div" class="visualization-card">
          <!-- Creating timeline for complete data -->
          <nz-timeline nzMode="alternate">
            <nz-timeline-item [nzDot]="dotTemplateSignUp" *ngFor="let data of messagesData.slice(0, 10); let i = index">
              <ng-template #dotTemplateSignUp>
                <div class="ant-timeline-item-head ant-timeline-item-head-blue"
                nz-button nz-popover nzType="primary" [nzPopoverContent]="contentTemplateSignUp" 
                [nzPopoverPlacement]="'leftTop'">
                </div>
              </ng-template>
    
              <!-- Creating a template to show additional data -->
              <ng-template #contentTemplateSignUp>
                <strong><a href="{{data.uri}}" target="_blank" rel="noopener noreferrer">{{data.name}}</a></strong>
              </ng-template>
    
              <!-- Showcasing necessary details in timeline -->
              <strong>Name:</strong>  {{data.name}}<br>
              <strong>Last Interacted On:</strong> {{ (data.timestamp *1000 | date: 'MMM d, y h:mm a') }}
    
            </nz-timeline-item>
    
          </nz-timeline>
        </div>
      </nz-tab>
      <nz-tab nzTitle="People & Friends Intercations List">
        
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(messagesData.length| number)!" [nzTitle]="'Number of People You Have Messaged '"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="' ' + (messagesData[0].timestamp * 1000 | date: 'MMM d, y h:mm a')"
            [nzTitle]="'Latest Interaction On '"  >
          </nz-statistic>
          </nz-col>
        </nz-row>
        <br>
        <nz-table [nzData]="messagesData" #basicTable>
          <thead>
            <tr>  
              <th nzCustomFilter class="tableCol">Contact Name</th>
              <th nzCustomFilter class="tableCol">Last Interacted On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }}</td>
              <td>{{ data.timestamp *1000 | date: 'MMM d, y h:mm a'}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Group Interactions - Graph View ">
        <h3 nz-typography>10 Interactions</h3>
        <br>
        <div class="chart-container">
          <svg class="chart" id="chart"></svg>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Group Interactions List">
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(groupMessagesData.length| number)!" [nzTitle]="'Number of Groups You Have Messaged '"></nz-statistic>
          </nz-col>

        </nz-row>
        <br>
        <nz-table [nzData]="groupMessagesData" #grpMsgTable>
            <thead>
              <tr>  
                <th nzCustomFilter class="tableCol">Group Name</th>
                <th nzCustomFilter class="tableCol">Number of Group Interactions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of grpMsgTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.value }}</td>
              </tr>
            </tbody>
          </nz-table>
      </nz-tab>
  </nz-tabset>
</div>