<div [ngClass]="{ 'component-page': !previewMode }">
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          nzTitle="Groups Joined"
          [nzValue]="total_groups_joined()"
          [nzPrefix]="groups"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          nzTitle="Groups Administrated"
          [nzValue]="total_groups_administrated()"
          [nzPrefix]="groups"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
        <ng-template #groups>
          <div class="container_class">
            <span nz-icon nzType="team" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          [nzTitle]="'Events Joined'"
          [nzValue]="total_events_joined()"
          [nzPrefix]="events"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
      </nz-col>

      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          [nzTitle]="'Events Invited'"
          [nzValue]="total_event_invites()"
          [nzPrefix]="events"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
        <ng-template #events>
          <div class="container_class">
            <span nz-icon nzType="star" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          [nzTitle]="'Events Hidden'"
          [nzValue]="total_events_hidden()"
          [nzPrefix]="events"
          [nzValueStyle]="{ display: 'inline-flux' }">
        </nz-statistic>
      </nz-col>
    </nz-row>
  </div>
</div>

<div *ngIf="!previewMode">
  <app-title-bar
    titleText="Events and Groups Data"
    tooltipText="Your Events and Groups data is shown in detail here."></app-title-bar>
  <nz-tabset class="margin-top-20">
    <nz-tab nzTitle="Events Data">
      <br />
      <ng-container *ngIf="dataAvailable; else noDataTemplate">
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
            <nz-statistic
              clas="stats"
              [nzValue]="(eventsInvitedData().length | number)!"
              [nzTitle]="'Number of Events You are invited To '"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
            @if(eventsInvitedData().length > 0){
              <nz-statistic
              class="stats"
              [nzValue]="(formatDate(eventsInvitedData()[0].start_timestamp))!"
              [nzTitle]="'Latest Event on '"></nz-statistic>
            }
          </nz-col>
        </nz-row>

        <br />
        <nz-table [nzSimple]="true" [nzData]="eventsInvitedData()" #eventsId>
          <thead>
            <tr>
              <th id="eventsInvitedTableEventNameHeader" nzCustomFilter class="tableCol">Event Name</th>
              <th id="eventsInvitedTableStartTimeHeader" nzCustomFilter class="tableCol">Start Time</th>
              <th id="eventsInvitedTableEndTimeHeader" nzCustomFilter class="tableCol">End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let eachRow of eventsId.data">
              <td>{{ eachRow.name }}</td>
              <td>{{ formatDate(eachRow.start_timestamp) }}</td>
              <td>{{ formatDate(eachRow.end_timestamp, 'No End Time') }}</td>
            </tr>
          </tbody>
        </nz-table>
        <br />
      </ng-container>
      <ng-template #noDataTemplate>
        <nz-result nzStatus="403" nzTitle="No data available"> </nz-result>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Groups Data">
      <ng-container *ngIf="dataAvailableGroup(); else noDataTemplate">
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
            <nz-statistic
              clas="stats"
              [nzValue]="(groupsJoinedData().length | number)!"
              [nzTitle]="'Number of Groups you are part of '"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-statistic
              class="stats"
              [nzValue]="(formatDate(groupsJoinedData()[groupsJoinedData().length - 1].timestamp))!"
              [nzTitle]="'Latest Group Joined on '"></nz-statistic>
          </nz-col>
        </nz-row>

        <br />
        <nz-table [nzSimple]="true" [nzData]="groupsJoinedData()" #groupsId>
          <thead>
            <tr>
              <th id="groupsJoinedTableGroupNameHeader" nzCustomFilter class="tableCol">Group Name</th>
              <th id="groupsJoinedTableJoinedOnHeader" nzCustomFilter class="tableCol">Joined On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let eachRow of groupsId.data">
              <td>{{ eachRow.data[0].name }}</td>
              <td>{{ formatDate(eachRow.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <br />
      </ng-container>
      <ng-template #noDataTemplate>
        <nz-result nzStatus="403" nzTitle="No data available"> </nz-result>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
