.tableCol {
    font-weight: 600;
    border: black;
}

.stats {
    font-size: smaller;
}

.container_class {
    display: inline;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow-x:hidden; 
    overflow-y: auto;
    height: calc(100vh - 385.5px);
}