<div id="listeningtime-page"> <!--[ngClass]="{'component-page': !previewMode}"-->
<!--    <p *ngIf="previewMode">Day: {{filterSingleDate?.toLocaleString([], { year: "numeric", month: "2-digit", day: "2-digit" })}}</p>-->
    <div *ngIf="!previewMode">
        <!--Titlebar component -->
        <app-title-bar titleText="Listening Time" tooltipText="Use the 'Visualize by' drop-down to switch between viewing how much time you spent listening to Spotify during which hours, days, months or years.
        You can hover over or click the bars in the chart with your mouse for more information."></app-title-bar>
        <div class="t-filter-container">
            <div>
                Visualize by:
                <nz-select [(ngModel)]="selectedGranularity" (ngModelChange)="onGranularityChanged()">
                    <nz-option *ngFor="let granularity of granularityValues" [nzValue]="granularity" [nzLabel]="Granularity2LabelMapping[granularity]"></nz-option>
                </nz-select>
            </div>

            <div class="t-inline-spacer-small"></div>

            <div *ngIf="selectedGranularity == GranularityEnum.Year">
                From: <nz-date-picker nzMode="year" [(ngModel)]="filterFromDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
                To: <nz-date-picker nzMode="year" [(ngModel)]="filterToDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
            </div>
            <div *ngIf="selectedGranularity == GranularityEnum.Month">
                From: <nz-date-picker nzMode="month" [(ngModel)]="filterFromDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
                To: <nz-date-picker nzMode="month" [(ngModel)]="filterToDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
            </div>
            <div *ngIf="selectedGranularity == GranularityEnum.Day">
                From: <nz-date-picker [(ngModel)]="filterFromDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
                To: <nz-date-picker  [(ngModel)]="filterToDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
            </div>
            <div *ngIf="selectedGranularity == GranularityEnum.Hour">
                On: <nz-date-picker  [(ngModel)]="filterSingleDate" (ngModelChange)="onDateFilterChanged()"></nz-date-picker>
            </div>

            <div class="t-inline-spacer-small"></div>

            <button nz-button block="false" class="icon-button" (click)="onClickedRevertFilters()">
                <span nz-icon nzType="rollback"></span>
                Back to Previous
            </button>

            <div class="t-inline-spacer-small"></div>

            <div>
            Show time above bars: <nz-switch [(ngModel)]="showDataTextAboveBars" (ngModelChange)="onChartParametersChanged()"></nz-switch>
            </div>

        </div>

        <br>
    </div>
    <div id="listeningtime-bar-chart" class="visualization-card"></div>
</div>

<div id="contextmenu" class="contextmenu">
    <button (click)="goToTopSongs()">
        View Top Songs
    </button>
    <br>
    <button (click)="goToTopArtists()">
        View Top Artists
    </button>
</div>

<app-songtimeline #SongtimelineComponent style="display:none" id="songtimeline-page"></app-songtimeline>
