<div class="dashboard-page dashboard-container">
  <h1 nz-typography>PriOSS - Spotify</h1>

  <a
    id="introduction"
    class="offset-anchor"
  ></a>
  <div
    id="introduction-intro"
    class="dashboard-intro"
  >
    Welcome to the Spotify Dashboard!
    <br>
    Explore your uploaded spotify data on this page.
    To see a more detailed view about your data, click on the "explore"-button on each card. Your data, your control.
  </div>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>

  <a
    id="visualization"
    class="offset-anchor"
  ></a>
  <app-accordion title="Visualization">
    <section
      nz-row
      [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]"
    >

      <div
        id="step1"
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink="/spotify/general-data"
          titleText="User Data"
        >
          <prioss-spotify-user-data [preview]="true" />
        </app-dash-card>
      </div>

      <div
        id="step3"
        nz-col
        nzXs="24"
        nzXl="16"
      >
        <app-dash-card
          cardLink="/spotify/listening-time"
          titleText="Listening Time"
        >
          <prioss-spotify-listening-time [previewMode]="true" />
        </app-dash-card>
      </div>
    </section>

    <section
      nz-row
      [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]"
    >
      <div
        id="step4"
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink="/spotify/top-song-artists"
          titleText="Top Artists"
        >
          <prioss-spotify-top-song-artists [previewMode]="true" />
        </app-dash-card>
      </div>

      <div
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink="/spotify/top-songs"
          titleText="Top Songs"
        >
          <prioss-spotify-top-songs [previewMode]="true" />
        </app-dash-card>
      </div>

      <div
        id="step4"
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink="/spotify/top-podcasts"
          titleText="Top Podcasts"
        >
          <prioss-spotify-top-podcasts [previewMode]="true" />
        </app-dash-card>
      </div>
    </section>

    <section
      nz-row
      [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]"
    >
      <div
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink="/spotify/mood"
          titleText="Average Mood of Songs"
        >
          <prioss-spotify-mood [previewMode]="true" />
        </app-dash-card>
      </div>

      <div
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          [fillVerticalSpace]="true"
          cardLink="/spotify/search-history"
          titleText="Search History"
        >
          <prioss-spotify-search-history [previewMode]="true" />
        </app-dash-card>
      </div>
    </section>
  </app-accordion>

  <a
    id="rectification"
    class="offset-anchor"
  ></a>
  <app-accordion title="Rectification">
    <section
      nz-row
      [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]"
    >
      <div
        id="step-inferences"
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink="/spotify/inference"
          titleText="Inferences"
        >
          <prioss-spotify-inferences [previewMode]="true" />
        </app-dash-card>
      </div>
    </section>
  </app-accordion>

  <a
    id="recommendation"
    class="offset-anchor"
  ></a>
  <app-accordion title="Privacy Recommendations">
    <section
      id="stepX"
      nz-row
      [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]"
    >
      <div
        nz-col
        nzXs="24"
        nzXl="8"
      >
        <app-dash-card
          cardLink=""
          titleText="Privacy Settings Judge"
        >
          <app-settings-form [service]="'Spotify'"></app-settings-form>
        </app-dash-card>
      </div>
    </section>
  </app-accordion>

  <a
    id="purpose"
    class="offset-anchor"
  ></a>
  <prioss-spotify-purposes />
</div>

<app-help-button (startTourClick)="startTour()" />

<app-offline-indicator
  [bottom]="'32px'"
  [right]="'76px'"
/>
