<h2 nz-typography>Privacy Instructions</h2>
<p nz-typography>
  Here you find instructions on how to change privacy-related settings in
  Spotify. You can choose between instructions for desktop and mobile.
</p>

<nz-tabset>
  <nz-tab nzTitle="Desktop">
    <article>
      <section>
        <h4 nz-typography>Tailored ads & Facebook data</h4>
        <prioss-stepper
          [steps]="tailormadeAdsSteps()"
          stepIndex="0"
        />
      </section>

      <section>
        <h4 nz-typography>Registration Data</h4>
        <prioss-stepper
          [steps]="registrationData()"
          stepIndex="0"
        />
      </section>

      <section>
        <h4 nz-typography>Social Activities</h4>
        <prioss-stepper
          [steps]="social()"
          stepIndex="0"
        />
      </section>

      <section>
        <h4 nz-typography>Public Playlists</h4>
        <prioss-stepper
          [steps]="playlist()"
          stepIndex="0"
        />
      </section>
    </article>
  </nz-tab>

  <nz-tab nzTitle="Mobile">
    <article>
      <section>
        <h4 nz-typography>Tailored ads & Facebook data</h4>
        <prioss-stepper
          [steps]="tailoredAdsMobile()"
          stepIndex="0"
        />
      </section>

      <section>
        <h4 nz-typography>Registration Data</h4>
        <prioss-stepper
          [steps]="registrationDataMobile()"
          stepIndex="0"
        />
      </section>

      <section>
        <h4 nz-typography>Social Activities</h4>
        <prioss-stepper
          [steps]="socialMobile()"
          stepIndex="0"
        />
      </section>

      <section>
        <h4 nz-typography>Public Playlists</h4>
        <prioss-stepper
          [steps]="playlistMobile()"
          stepIndex="0"
        />
      </section>
    </article>
  </nz-tab>
</nz-tabset>
