@if(vm$ | async; as vm){
<div [ngClass]="{'component-page': !previewMode}">
  @if (previewMode) {
  <div>
    <div
      echarts
      [options]="vm.chartView"
      class="chart"
    ></div>

  </div>
  }
  @else{
  <div *ngIf="!previewMode">
    <app-title-bar
      titleText="Listening Time"
      tooltipText="This bar chart shows how long you have listened to various tracks over the years. You can set the date yourself using the range selector, or you can click on a bar to zoom in on the data."
    />
  </div>
  <div>
    <div class="header-group">
      <button
        nz-button
        block="false"
        class="icon-button"
        (click)="resetChart()"
      >
        <span
          nz-icon
          nzType="rollback"
        ></span>
        Reset chart
      </button>
      <nz-range-picker
        ngModel
        [ngModel]="vm.dateRange"
        (nzOnCalendarChange)="changeDateRange($event)"
      />
    </div>
    <nz-tabset #tabset>
      <nz-tab nzTitle="Bar chart">
        <div
            echarts
            [options]="vm.chartView"
            (chartClick)="changeObservableData($event)"
            class="chart"
          ></div>
      </nz-tab>
      <nz-tab nzTitle="Song Table">
        <nz-table
          #basicTable
          [nzData]="vm.listeningDataView"
          [nzPageSize]="100"
          [nzFooter]="footerTemplate"
          [nzScroll]="{ y: 'calc(100vh - 369px)' }"
          [nzShowPagination]="true"
        >
          <thead>
          <tr>
              <th>Song Name</th>
              <th>Artist</th>
              <th>Time</th>
              <th>Listening Time (HH:MM:SS)</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of basicTable.data">
              <td>{{ item.trackName }}</td>
              <td>{{ item.artistName }}</td>
              <td>{{ item.endTime }}</td>
              <td>{{ item.msPlayed }}</td>
          </tr>
      </tbody>
          <ng-template #footerTemplate>
            <!-- <tfoot>{{setOfCheckedId.size}}/{{rowSelectionTable.nzData.length}}</tfoot> -->
          </ng-template>
        </nz-table>
      </nz-tab>
    </nz-tabset>

  </div>

  }
</div>
}
