<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Rectify Inferences"
  (nzOnCancel)="handleCancel()"
  nzCancelText="Cancel"
  (nzOnOk)="writeEmail()"
  nzOkText="Write Email"
  nzCentered
>
  <ng-container *nzModalContent>
    <p>Disclaimer: Spotify currently does <strong>not</strong> change your inferences when you send an email!</p>
    <p>Please click the 'Write Email' button below to open your email program with a new email addressed to Spotify for
      rectifying your inferences.</p>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isEmpty"
  nzTitle="No Inferences Selected"
  [nzCancelText]="null"
  (nzOnOk)="handleCancel()"
  nzOkText="OK"
  nzCentered
>
  <ng-container *nzModalContent>
    <p>Please select at least one inference checkbox.</p>
  </ng-container>
</nz-modal>