<app-title-bar
  titleText="Guidelines to Turn-ON Two Factor Authentication"
  tooltipText="The following guidelines helps you to increase the privacy of your Instagram acount by turning ON two factor authentication. The guidelines are provided for Mobile Application user."
  [includeButton]="false"
/>

<p nz-topography>
  Enabling Two-factor authentication in Instagram adds an extra layer of security, preventing
  unauthorized access, protecting your data, and mitigating phishing attacks. It gives you peace of mind while using
  the platform.
</p>

<p nz-topography>
  For enablling Two Factor Authentication, follow the following steps:
</p>

<prioss-stepper [steps]="twoFactorAuthentication" />
