<div class="component-page">
    <app-title-bar titleText="Guidelines To Hide Ads" tooltipText="Follow the steps to stop seeing the ads on your timeline."></app-title-bar>
    <nz-tabset>
        <nz-tab nzTitle="Web Application">
            <div>
                
                <h6 class ="steps">Step 1 - Click on <strong>Account</strong> on the top right corner of the page.</h6>
                <img class ="ads-settings" src="../../assets/images/ads-settings/1ads.png">
                <br>
                <h6 class ="steps">Step 2 – Click on <strong>Privacy and Settings</strong>.</h6>
                <img class ="ads-settings"src="../../assets/images/ads-settings/2ads.png">
                <br>
                <h6 class ="steps">Step 3 – Click on <strong>Settings</strong>.</h6>
                <img class ="ads-settings"src="../../assets/images/ads-settings/3ads.png">
                <br>
                <h6 class ="steps">Step 4 – Navigate to <strong> Your Facebook Information</strong> and then click on view in front of <strong>Access your Information</strong>. </h6>
                <img class ="ads-settings"src="../../assets/images/ads-settings/4ads.png">
                <br>
                <h6 class ="steps">Step 5 – Click on <strong> Ads Information</strong> and then click on <strong>Advertisers you've interacted with</strong>. </h6>
                <img class ="ads-settings"src="../../assets/images/ads-settings/5ads.png">
                <br>
                <h6 class ="steps">Step 6 – Choose the advertiser whose ads you want to hide and click <strong>hide ads</strong>.</h6>
                <img class ="ads-settings"src="../../assets/images/ads-settings/6ads.png">

            </div>
        </nz-tab>
    </nz-tabset>
</div>
   
    
    
    



