<div class="component-page">
    <app-title-bar titleText= "Guidelines to keep your Instagram account's Profile Information Private" tooltipText="The following guidelines helps you to make your Instagram profile information private. The guidelines are provided for Web Browser user as well as Mobile Application user."></app-title-bar>
    <br>
    <p>Don’t expose too much private data in your profile information and especially in your EDIT PROFILE area.</p>
    <br>
    <p>Don’t write any personal information that could be used against you in the Bio field.</p>
    <br>
    <p>For extra privacy, do not show your Activity Status (the last time you were active on Instagram), To do this, tap the menu in the upper right corner, scroll down and turn off the Show Activity Status slider.</p>
    <br>
    <nz-tabset>
        <nz-tab nzTitle="Web Application">
            <div>

                <p>Follow these steps if you want to keep your profile information private for your Instagram account on your computer or mobile browser-</p>
                <br>
                <h6 class ="steps">Step 1 - First of all, you have to visit <span nz-icon nzType="link"> <a href="https://www.instagram.com/" target="_blank">Instagram website</a></span> on your computer or mobile browser.</h6>
                <img class ="profile-info1" src="../../assets/images/insta-privacy-recommendations/8.png">
                <br>
                <h6 class ="steps">Step 2 – You need to click profile icon and then, <strong>Edit Profile</strong>.</h6>
                <br>
                <h6 class ="steps">Step 3 – Now, you can edit your information in <strong>'Bio'</strong> section.</h6>
                <img class ="profile-info1" src="../../assets/images/insta-privacy-recommendations/22.png">
                <br>
            </div>

        </nz-tab>
        <nz-tab nzTitle="Mobile Application">
            <div>
                <p>To only share your photos with the users you choose, like your friends and family, follow these steps:</p>
                <br>
                <h6 class ="steps">Step 1 - Go to your Instagram <strong>profile window</strong> and click <strong>edit your profile</strong>.</h6>
                <img class ="profile-info"src="../../assets/images/insta-privacy-recommendations/20.png">
                <br>
                
            </div>
        </nz-tab>
    </nz-tabset>
</div>
   
    
    
    



