<div class="component-page">
    <h4 id="Guidelines-title">Guidelines to turn OFF Off-Facebook Activity</h4>
    <nz-tabset>
        <nz-tab nzTitle="Web Application">
            <div>
                
                <h6 class ="steps">Step 1 - Click on <strong>Account</strong> on the top right corner of the page.</h6>
                <img class ="off-facebook-web" src="../../assets/images/off-facebook-activity/1.png">
                <br>
                <h6 class ="steps">Step 2 – Click on <strong>Privacy and Settings</strong>.</h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/2.png">
                <br>
                <h6 class ="steps">Step 3 – Click on <strong>Settings</strong>.</h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/3.png">
                <br>
                <h6 class ="steps">Step 4 – Navigate to <strong> Your Facebook Information</strong>. </h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/4.png">
                <br>
                <h6 class ="steps">Step 5 – Click on <strong> Off–Facebook Activity</strong>. </h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/5.png">
                <br>
                <br>
                <h6 class ="steps"> After this follow<br> <strong>Step 6 If you want to select and disconnect specific future activities <br>Step 7 If you want to clear previous activitiy <br> Step 8 and 9 If you want to turn OFF Off-Facebook Activity</strong></h6>
                <br>
                <h6 class ="steps">Step 6 – Click on <strong> Select future activity to disconnect </strong>and put your Facebook password to select the activities you want to disconnect.</h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/6.png">
                <br>
                <h6 class ="steps">Step 7 – Click on <strong>Clear previous activity</strong> and confirm again by clicking clear.</h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/7.png">
                <br>
                <h6 class ="steps">Step 8 – Click on <strong>Manage future activity</strong>.</h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/8.png">
                <br>
                <h6 class ="steps">Step 9 – Click on <strong>Disconnect future activity</strong>.</h6>
                <img class ="off-facebook-web"src="../../assets/images/off-facebook-activity/9.png">




            </div>
        </nz-tab>
        <nz-tab nzTitle="Mobile Application">
            <div>
                <h6 class ="steps">Step 1 - Click on <strong>Menu</strong>.</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m1.png">
                <br>
                <h6 class ="steps">Step 2 – Click on <strong>Privacy and Settings</strong> icon.</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m2.png">
                <br>
                <h6 class ="steps">Step 3 – Scroll down and navigate to Your Information and Click on<strong> Off–Facebook Activity</strong>.</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m3.png">
                <br>
                <br>
                <h6 class ="steps">After this follow <br><strong>Step 4 If you want to select and disconnect specific future activities <br>Step 5 If you want to clear previous activitiy <br> Step 6,7 and 8 If you want to turn OFF Off-Facebook Activity</strong> </h6>
                <br>
                <h6 class ="steps">Step 4 – Click on <strong>Select activity to disconnect</strong> and put your Facebook password to select the activities you want to disconnect. </h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m4.png">
                <br>
                <h6 class ="steps">Step 5 – Click on <strong>Clear History</strong> and confirm again by clicking clear history .</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m5.png">
                <br>
                <h6 class ="steps">Step 6 – Click on <strong>Disconnect future activity</strong>.</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m6.png">
                <br>
                <h6 class ="steps">Step 7 – Turn OFF the <strong>Blue button</strong> in front of future Off-Facebook Activity.</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m7.png">
                <br>
                <h6 class ="steps">Step 8 – Click on <strong>Turn Off</strong> to confirm.</h6>
                <img class ="off-facebook-mobile" src="../../assets/images/off-facebook-activity/m8.png">
                
            </div>
        </nz-tab>
    </nz-tabset>
</div>
   
    
    
    


