<div class="dashboard-page dashboard-container">
  <!-- Introduction Section -->
  <a id="introduction-anchor" class="offset-anchor"></a>
  <app-welcome-msg platform="YouTube"></app-welcome-msg>
  <br>

  <!-- Visualization Section -->
  <a id="visualization" class="offset-anchor"></a>
  <app-accordion accordionTitle="Visualization">
    <section nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div id="step1" nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/profile" titleText="User Profile">
          <prioss-youtube-profile [previewMode]="true"/>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/channel&videos" titleText="Channel & Videos">
          <prioss-youtube-channel-video [previewMode]="true"/>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/subscription" titleText="Subscriptions">
          <prioss-youtube-subscription [previewMode]="true"/>
        </app-dash-card>
      </div>
    </section>
    <section nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/comments" titleText="Comments">
          <prioss-youtube-comment [previewMode]="true"/>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/messages" titleText="Messages">
          <prioss-youtube-chat [previewMode]="true"/>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/playlists" titleText="Playlists">
          <prioss-youtube-playlist [previewMode]="true"/>
        </app-dash-card>
      </div>
    </section>
    <section nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/youtube/search&watch" titleText="Search & Watch History">
          <prioss-youtube-history [previewMode]="true"/>
        </app-dash-card>
      </div>
    </section>
  </app-accordion>
  <br>
<!-- Rectification Section for YouTube -->
<div class="dashboard-page dashboard-container">
  <app-accordion id="rectification" accordionTitle="Rectification">
    <p nz-typography>
      This section helps you rectify any errors or omissions in your YouTube data. For more detailed assistance, please visit <a target="_blank" rel="noopener" href='https://support.google.com/youtube/troubleshooter/13572679?hl=en-GB&sjid=15082473677397114271-EU'> YouTube Help Center</a>
    </p>
    <prioss-stepper [steps]="rectificationSteps" />
  </app-accordion>
</div>


  <br>

  <!-- Privacy Recommendations Section -->
  <app-accordion accordionTitle="Privacy Recommendations">
    <div id="recommendation" nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="" titleText="Privacy Settings Judge">
          <app-settings-form [service]="'Youtube'"></app-settings-form>
        </app-dash-card>
      </div>
    </div>
  </app-accordion>
  <br>

  <!-- Additional Information -->
  <p nz-topography><app-youtube-purposes></app-youtube-purposes></p>
  <br>

  <app-help-button (startTourClick)="startTour()"/>
  <app-offline-indicator bottom="32px" right="76px"/>
</div>
