<div [ngClass]="{ 'component-page': !previewMode() }">
  <div *ngIf="previewMode()">
    <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
    <p>Check out your Ad Preferences</p>
  </div>
  <div *ngIf="!previewMode()">
    <app-title-bar
      titleText="Your Preferences for Advertisments"
      ></app-title-bar>
      <nz-card>
        <prioss-ads-preferences-overview [adPreferences]="adPreferences()">
        </prioss-ads-preferences-overview>
      </nz-card>
  </div>
</div>