<h1 nz-typography>PriOSS - Facebook</h1>
  <div class="dashboard-intro" id="fstep100">
  Welcome to the Facebook Dashboard! <br><br>
  You can acquaint yourself about <b>G</b>eneral <b>D</b>ata <b>P</b>rotection <b>R</b>egulation (GDPR) under <b class="intro_content">GDPR and Your Rights</b> section. <br>
  Visualize your personal data in easily comprehensible way, and verify your data for its correctness in <b class="intro_content">Visualizations</b> section.<br>
  The Dashboard also gives you recommendations and instructions to enhance your privacy. Take a look at <b class="intro_content"> Recommendations, Rectification, and Manage Privacy </b> sections. <br>
  Visit <b class="intro_content">FAQ</b> section if you have questions, or click on <b class="intro_content">Contact</b> on the side menu bar to contact us.
  </div> 

<br>
<details open>
  <summary class="collapsible-dashboard-section-title">Your Information</summary>
  <div nz-typography id="fstep90">
    <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
      <div id="fStep10" nz-col nzXs="24" nzXl="8">
        <app-general-data></app-general-data>
          <ng-template #extraTemplate>
            <a>More</a>
          </ng-template>
      </div>
    </div>
  </div>
</details>
<br>
<br>

<details open>
  <summary class="collapsible-dashboard-section-title">Visualization</summary>
<div id="fstep80">
  <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
      <div id="fStep20" nz-col nzXs="24" nzXl="8">
        <nz-card nzTitle="Advertisements" nzHoverable [nzExtra]="extraAds">
          <app-ads-related-data [previewMode]="true"></app-ads-related-data>
        </nz-card>
        <ng-template #extraAds>
          <a routerLink="/face/ads-related-data">More</a>
        </ng-template>
      </div>
      <div id="fStep21" nz-col nzXs="24" nzXl="8">
        <nz-card nzTitle="Your topics" nzHoverable [nzExtra]="extraTopic">
          <app-inferred-topics [previewMode]="true"></app-inferred-topics>
        </nz-card>
        <ng-template #extraTopic>
          <a routerLink="/face/inferred-topics">More</a>
        </ng-template>
      </div>
      <div id="fStep22" nz-col nzXs="24" nzXl="8">
        <nz-card nzTitle="Facebook Connections" nzHoverable [nzExtra]="extraConnections">
          <app-friend-and-followers [previewMode]="true"></app-friend-and-followers>
        </nz-card>
        <ng-template #extraConnections>
          <a routerLink="/face/connections">More</a>
        </ng-template>
      </div>
  </div>
</div>

<br>
<app-help-button (startTourClick)="startTour()"></app-help-button>
<app-offline-indicator></app-offline-indicator>
<br>
<br>

<details open>
  <summary class="collapsible-dashboard-section-title" id="fStep70">Rectification</summary>
  <div id="rectification_instructions"> 
    <h6>  You can object the use of your personal data to show you personalized Ads on your timeline. Visit <span nz-icon nzType="link"><a target="_blank" href='https://www.facebook.com/help/contact/367438723733209'>Facebook Help Center</a></span> and follow the instructions below: </h6>
    <br>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Step 1"></nz-step>
      <nz-step nzTitle="Step 2"></nz-step>
      <nz-step nzTitle="Step 3"></nz-step>
      <nz-step nzTitle="Step 4"></nz-step>
      <nz-step nzTitle="Step 5"></nz-step>
    </nz-steps>

  <div class="steps-content">
    <img
      nz-image
      height="300px"
      nzSrc={{rectificationImage}}
      alt=""
    />
    <nz-divider></nz-divider>
    <p nz-typography class="rectification-steps">{{ rectificationText }}</p>  
  </div>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="start()" *ngIf="current <= 4">
      <span>Start</span>
    </button>
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
      <span>Next</span>
    </button>
  </div>
</div>
</details>
<br>
<br>

<details open>
  <summary class="collapsible-dashboard-section-title" id="fStep30">Manage Privacy</summary>
  <div id="rectification">
    <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
      <div id="fStep20" nz-col nzXs="24" nzXl="8">
        <nz-card nzTitle="Configure Off-Facebook Activity" nzHoverable  [nzExtra]="extraPrivacy">
        <p>This section provides you guidelines to Turn OFF your Off-Facebook Activity.</p>
        </nz-card>
        <ng-template #extraPrivacy>
          <a routerLink="/face/configure-off-facebook-activity">More</a>
        </ng-template>
      </div>
    </div>
  </div>
</details>
<br>
<br>

<details open>
  <summary class="collapsible-dashboard-section-title" id="fStep40">GDPR and Your Rights</summary>
<div id="gdpr">
    <div class="dashboard-intro"  id="fStep20" >
        <p>
  The GDPR is European Union's data protection law effective from May 2018. It is applicable for all individuals within the European Union and the European Economic Area (EEA). It imposes obligations onto organizations anywhere, as long as they target or collect data related to people in the EU. GDPR governs how personal data must be collected, processed, and erased while defining individual rights.
  To know more, check <span nz-icon nzType="link"><a target="_blank" href='https://gdpr.eu/'>Complete guide to GDPR compliance</a></span>.
  <br>
  <br>
  <nz-card class="gdpr-header" nzTitle="Your Rights under GDPR">
  <strong>Right to be informed:</strong> Individuals have the right to be informed about the collection and use of their personal data.
  <br>
  <br>
  <strong>Right of access:</strong> Individuals have the right to access their personal data that is being processed by a controller.
  <br>
  <br>
  <strong>Right to rectification:</strong> Individuals have the right to have their personal data corrected if it is inaccurate or incomplete.
  <br>
  <br>
  <strong>Right to erasure:</strong> Individuals have the right to have their personal data erased (also known as the "right to be forgotten") in certain 
  circumstances.
  <br>
  <br>
  <strong>Right to restrict processing:</strong> Individuals have the right to request the restriction of processing of their personal data in certain 
  circumstances.
  <br>
  <br>
  <strong>Right to data portability:</strong> Individuals have the right to receive a copy of their personal data in a structured, commonly used, and 
  machine-readable format, and to transmit that data to another controller.
  <br>
  <br>
  <strong>Right to object:</strong> Individuals have the right to object to the processing of their personal data in certain circumstances.
  <br>
  <br>
  <strong>Rights related to automated decision-making:</strong> Individuals have the right not to be subject to a decision based solely on automated
  processing, including profiling, which produces legal effects concerning them or similarly significantly affects them.
  <br>
  <br>
  <b style="font-size: medium;">It is important to note that these rights are not absolute and may be subject to certain limitations or conditions under certain 
  circumstances. Additionally, these rights apply only to personal data that is processed by a controller subject to the GDPR.</b>
      </nz-card>
    </p>  
  </div>
</div>
</details>
<br>
<br>

<details open>
  <summary class="collapsible-dashboard-section-title" id="fStep50">Purpose for Data Collection</summary>
  <div class="dashboard-intro" id="purpose">
  <p nz-typography>
    The following purposes should give an example of Facebook's purpose to collect personal data. To Get a full list of their reasons you can check out Facebook's <span nz-icon nzType="link"><a target="_blank" href="https://www.facebook.com/privacy/policy">privacy policy</a></span>
    <br>
  </p>
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th class="purpose-header">Purpose</th>
          <th class="purpose-header">Data Collected</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="purpose-info">To provide, personalise and improve the Facebook products</td>
          <td class="purpose-info"> Your posts, comments, messages, hashtags, time of activity, frequency and duration of your activities on Facebook. For more information follow this <span nz-icon nzType="link"><a target="_blank" href="https://www.facebook.com/privacy/policy/?subpage=1.subpage.1-YourActivityAndInformation">link</a></span></td>.
        </tr>
        <tr>
          <td class="purpose-info">To promote safety, security and integrity</td>
          <td class="purpose-info">The device and software you are using, signals from your device, and GPS locations. For more information follow this <span nz-icon nzType="link"><a target="_blank" href="https://www.facebook.com/privacy/policy/?subpage=2.subpage.8-PromotingSafetySecurityAnd">link</a></span></td>
        </tr>
        <tr>
          <td class="purpose-info">To provide measurement, analytics and business services</td>
          <td class="purpose-info">Your device information, websites that you visit and cookie data, apps you use, games you play, purchases and transactions you make online, the ads you see and how you interact with them. For more information follow this <span nz-icon nzType="link"><a target="_blank" href="https://www.facebook.com/privacy/policy/?subpage=1.subpage.4-InformationFromPartnersVendors">link</a></span></td>
        </tr>
        <tr>
          <td class="purpose-info">To communicate with you</td>
          <td class="purpose-info">Your contact information, settings data and other information related to your friends and followers on Facebook. For more information follow this <span nz-icon nzType="link"><a target="_blank" href="https://www.facebook.com/privacy/policy/?subpage=2.subpage.12-CommunicatingWithYouWe">link</a></span></td>
        </tr>
      </tbody>
    </nz-table>
</div>
</details>
<br>
<br>

  <!-- <div id="faq"></div> -->
    <!-- <summary class="collapse_title" id="fStep60">Frequently Asked Questions</summary>
      <nz-collapse nzAccordion>
        <nz-collapse-panel class="faq_info" *ngFor="let eachFaq of faqs" [nzHeader]="eachFaq.question" [nzActive]="eachFaq.state">
          <p class="faq_info">{{ eachFaq.answer }}</p>
        </nz-collapse-panel>
      </nz-collapse> -->
<app-faq id="fStep60" serviceName="face"></app-faq>
