<h1 nz-typography>PriOSS - Facebook</h1>
<h2 nz-typography>User</h2>
<div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
  <div id="fStep10" nz-col nzXs="24" nzXl="8">
    <app-general-data></app-general-data>
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
  </div>
</div>
<br>
<h2 nz-typography id="visualization">Visualization</h2>
<div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
    <div id="fStep20" nz-col nzXs="24" nzXl="8">
      <nz-card nzTitle="Advertisements" nzHoverable  (click)="adsData()">
        <app-ads-related-data [previewMode]="true"></app-ads-related-data>
      </nz-card>
    </div>
    <div id="fStep21" nz-col nzXs="24" nzXl="8">
      <nz-card nzTitle="Your topics" nzHoverable (click)="navigateToInferredTopics()">
        <app-inferred-topics [previewMode]="true"></app-inferred-topics>
      </nz-card>
    </div>
    <div id="fStep22" nz-col nzXs="24" nzXl="8">
      <nz-card nzTitle="Friends and followers" nzHoverable (click)="navigateToFriendsAndFollowers()">
        <app-friend-and-followers [previewMode]="true"></app-friend-and-followers>
      </nz-card>
    </div>
</div>
<br>
<app-help-button (startTourClick)="startTour()"></app-help-button>
<div id="rectification">
  <h2 nz-typography id="fStep30">Mange Privacy</h2>
  <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
    <div id="fStep20" nz-col nzXs="24" nzXl="8">
      <nz-card nzTitle="Configure Off-Facebook Activity" nzHoverable  (click)="navigateToOFA()">
        <p>This section provides you guidelines to Turn OFF your Off-Facebook Activity.</p>
      </nz-card>
    </div>
  </div>
</div>
<br>
<div id="gdpr">
  <h2 nz-typography id="fStep40">GDPR / Rights</h2>
    <div id="fStep20" >
      <nz-card nzTitle="Your Rights under GDPR">
        <p>
  The General Data Protection Regulation (GDPR) is a regulation in EU law on data protection and privacy for all individuals within the
  European Union and the European Economic Area (EEA). The GDPR provides various rights to individuals regarding their personal data. 
  Some of the key rights under GDPR include:
  <br>
  <br>
  <strong>Right to be informed:</strong> Individuals have the right to be informed about the collection and use of their personal data.
  <br>
  <br>
  <strong>Right of access:</strong> Individuals have the right to access their personal data that is being processed by a controller.
  <br>
  <br>
  <strong>Right to rectification:</strong> Individuals have the right to have their personal data corrected if it is inaccurate or incomplete.
  <br>
  <br>
  <strong>Right to erasure:</strong> Individuals have the right to have their personal data erased (also known as the "right to be forgotten") in certain 
  circumstances.
  <br>
  <br>
  <strong>Right to restrict processing:</strong> Individuals have the right to request the restriction of processing of their personal data in certain 
  circumstances.
  <br>
  <br>
  <strong>Right to data portability:</strong> Individuals have the right to receive a copy of their personal data in a structured, commonly used, and 
  machine-readable format, and to transmit that data to another controller.
  <br>
  <br>
  <strong>Right to object:</strong> Individuals have the right to object to the processing of their personal data in certain circumstances.
  <br>
  <br>
  <strong>Rights related to automated decision-making:</strong> Individuals have the right not to be subject to a decision based solely on automated
  processing, including profiling, which produces legal effects concerning them or similarly significantly affects them.
  <br>
  <br>
  It is important to note that these rights are not absolute and may be subject to certain limitations or conditions under certain 
  circumstances. Additionally, these rights apply only to personal data that is processed by a controller subject to the GDPR.
        </p>
      </nz-card>
  </div>
</div>
<br>

<div id="purpose">
  <h2 nz-typography id="fStep50">Purposes for Data Collection</h2>
</div>

<div id="faq">
  <h2 nz-typography id="fStep60">Frequently Asked Questions</h2>
  <nz-collapse nzAccordion>
    <nz-collapse-panel *ngFor="let eachFaq of faqs" [nzHeader]="eachFaq.question" [nzActive]="eachFaq.state">
      <p>{{ eachFaq.answer }}</p>
    </nz-collapse-panel>
  </nz-collapse>
<div id="faq">

