<div [ngClass]="{'component-page': !previewMode}">
    <!--only shows a preview of the visualization-->
    <!-- <div *ngIf="previewMode">
      <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="(totalMerchants)!" [nzTitle]="'Number of Merchants'"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(totalProducts)!" [nzTitle]="'Number of Products'"></nz-statistic>
        </nz-col>
      </nz-row>
    </div> -->

    <!--This is the preview and the highlights section-->
    <div>
      <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="(totalMerchants)!"
                  [nzTitle]="'Number of Merchants'"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="(totalProducts)!"
                  [nzTitle]="'Number of Products'"></nz-statistic>
          </nz-col>
      </nz-row>
  </div>

    <!--only shows when visiting the page-->
    <div *ngIf="!previewMode">
       <!--Titlebar component -->
      <app-title-bar titleText="Shopping" tooltipText="The following table shows all the details about shopping products viewed."></app-title-bar>
      <nz-table #shoppingTable [nzData]="shoppingData">
        <thead>
          <tr>
            <th>Merchant name</th>
            <th>Product name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of shoppingTable.data">
            <td>{{ data.merchantName }}</td>
            <td>{{ data.productName }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
</div>