<div class="component-page">
    <h1>Contact Us</h1>
    <p>Do you have any doubts or questions about the PriOSS project or this website?</p>
    <p>You can contact us by writing an Email to Simon, a member of our development team, via this Email-Adress: scg@mail.upb.de or by clicking the button below.</p>
    <p>This button will open your Email-Program.</p>
    <a href= "mailto:scg@mail.upb.de?subject=A%20Question%20Regarding%20PriOSS&body=Hi%20Simon%2C%0D%0A">
        <button nz-button nzType="primary">
            Write us an Email
        </button>
    </a>
</div>
