<div class="component-page">
    <app-title-bar titleText="Guidelines to Turn-ON Two Factor Authentication" tooltipText="The following guidelines helps you to increase the privacy of your Instagram acount by turning ON two factor authentication. The guidelines are provided for Mobile Application user." [includeButton]="false"></app-title-bar>
    <br>
    <p nz-topography> Enabling Two-factor authentication in Instagram adds an extra layer of security, preventing unauthorized access, protecting your data, and mitigating phishing attacks. It gives you peace of mind while using the platform. </p>
    <p nz-topography>For enablling Two Factor Authentication, follow the following steps: </p>
    <br>

    <div>

        <nz-steps [nzCurrent]="TwoFactorAuthentication">
          <nz-step nzTitle="Step 1"></nz-step>
          <nz-step nzTitle="Step 2"></nz-step>
          <nz-step nzTitle="Step 3"></nz-step>
          <nz-step nzTitle="Step 4"></nz-step>
          <nz-step nzTitle="Step 5"></nz-step>
          <nz-step nzTitle="Step 6"></nz-step>
        </nz-steps>
    
        <div class="steps-content">
          <img
            nz-image
            height="300px"
            nzSrc={{instructionPictureTwoFactorAuthentication}}
            alt=""
          />
          <nz-divider></nz-divider>
          <p nz-typography>{{ instructionTextTwoFactorAuthentication }}</p>
        </div>
        <div class="steps-action">
          <button nz-button nzType="default" (click)="preTwoFactorAuthentication()" [disabled]="TwoFactorAuthentication <= 0">
            <span>Previous</span>
          </button>
          <button nz-button nzType="default" (click)="nextTwoFactorAuthentication()" [disabled]="TwoFactorAuthentication >= 5">
            <span>Next</span>
          </button>
        </div>
    </div>

    <!--
            <div>
                <p nz-topography> The steps are as follows-</p>
                <p nz-topography> <strong>Step 1 - </strong> Open your Instagram app on your mobile device. Tap on your profile picture in the bottom right to go to your profile, then tap (3 bars icon) in the top right.</p>
                <img class ="insta1" src="../../assets/images/insta-privacy-recommendations/9.png">
                <br>
                <br>
                <p nz-topography> <strong>Step 2 - </strong> Look for the gear symbol and go in <strong>Settings</strong>.</p>
                <img class ="insta2" src="../../assets/images/insta-privacy-recommendations/10.png">
                <br>
                <br>
                <p nz-topography> <strong>Step 3 - </strong>Move through the next screens by tapping <strong>Security</strong> > <strong>Two-factor authentication</strong> > <strong>Get Started</strong>.</p>
                <img class ="insta3" src="../../assets/images/insta-privacy-recommendations/11.png">
                <br>
                <br>
                <p nz-topography> <strong>Step 4 - </strong> You'll need to choose your security method. Select <strong>Authentication app(recommended)</strong>. Then choose <strong>Next</strong>.</p>
                <img class ="insta3" src="../../assets/images/insta-privacy-recommendations/12.png">
                <br>
                <br>
                <p nz-topography> <strong>Step 5 - </strong> Authenticator App will automatically choose the Instagram logo and autofill account name and secret key. Confirm it's correct by clicking <strong>Save</strong>.</p>
                <img class ="insta4" src="../../assets/images/insta-privacy-recommendations/13.png">
                <br>
                <br>
                <p nz-topography> <strong>Step 6 - </strong> Copy the numerical token provided for Instagram. Note that this code refreshes every 30 seconds.</p>
                <br>
                <br>
                <p nz-topography> <strong>Step 7 - </strong> Return to the Instagram app and type the numerical token in the appropriate field. When done tap <strong>Next</strong>.</p>
                <br>
                <p nz-topography> <strong>Step 8 - </strong> Your Instagram account is now protected. Press on <strong>Next</strong>, you are presented with access to your backup codes. Each code can only be used once. We suggest you to store them digitally in a safe place. Press <strong>Done</strong> and that's all.</p>
                <img class ="insta3" src="../../assets/images/insta-privacy-recommendations/14.png">
            </div>
-->
</div>
   
    
    
    




