<app-title-bar
  titleText="Guidelines To manage Inferred Topics"
  tooltipText="Follow the steps to modify your privacy to manage your inferences made by Facebook"
/>

<h4>Important!</h4>
<p>
  Following these steps, the changes that you make will apply to all the Facebook and Instagram accounts in
  the same Accounts Centre. Although, the inferred topics will be different in Facebook as compared to
  Instagram but the changes will apply to both the accounts.
</p>

<prioss-stepper [steps]="instructionsStepDataWeb" />
