<div class="component-page">
    <h1>FAQ</h1>
    <div id="faq">
        <p nz-typography>
          This section describes frequently asked questions.
        </p>
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let faq of faqs" [nzHeader]="faq.name" [nzActive]="faq.active">
            <p>{{ faq.content }}</p>
            <span *ngIf="faq.link" nz-icon nzType="link"><a *ngIf="faq.link" [href]="faq.link" target="_blank">{{faq.linkLabel}}</a></span>
            
          </nz-collapse-panel>
        </nz-collapse>
      </div>
</div>
