<div [ngClass]="{'component-page': !previewMode}">
  <div *ngIf="previewMode">
    <nz-table #nzTable [nzData]="listOfInferences.slice(0,8)" nzTableLayout="fixed" [nzShowPagination]="false">
      <tbody>
        <tr *ngFor="let inference of nzTable.data">
          <td>{{ inference.inference }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="!previewMode">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['../dashboard/']">Dashboard</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Inferences</nz-breadcrumb-item>
    </nz-breadcrumb>
    <!-- https://stackoverflow.com/questions/73631070/how-to-set-scrollable-content-dinamically-in-ng-zorro-table -->
    <h1 style="position: relative;">Inferences
      <span nz-tooltip
        nzTooltipTitle="An Inference is a topic of interest or information that Spotify has infered about you. 
      They're used for marketing or advertising purposes and to curate and create content. 
      First-party (1P_) inferences are created by Spotify. Third-Party (3P_) inferences come from other services like Facebook.">
        <span nz-icon nzType="info-circle" nzTheme="outline" style="font-size: 16px; vertical-align: .7rem;">
        </span>
      </span>
    </h1>
    <nz-table #rowSelectionTable [nzData]="listOfInferences" [nzPageSize]="50000" [nzFooter]="footerTemplate"
      [nzScroll]="{ y: 'calc(100vh - 369px)' }" [nzShowPagination]="false">
      <thead>
        <tr>
          <th nzWidth="5%" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"></th>
          <th nzWidth="82%">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" #searchText nz-input placeholder="Search your inferences"
                (keyup)="search(searchText.value)" />
              <ng-template #suffixIconSearch>
                <button nz-button nzType="text" (click)="reset()"><span nz-icon nzType="close"></span></button>
              </ng-template>
            </nz-input-group>
          </th> 
          <th  style="float: right;">
            <span nz-tooltip
              nzTooltipTitle="Create a rectification email with all selected inferences. Rectifying inferences means to request Spotify to correct inferences that you think are wrong about yourself.">
              <button nz-button nzType="default" nzSize="large" [disabled]="setOfCheckedId.size === 0"
                (click)="rectifyInferences()">
                Correct selected
              </button>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.inference }}</td>
          <td></td>
        </tr>
      </tbody>
      <ng-template #footerTemplate>
        <tfoot>{{setOfCheckedId.size}}/{{rowSelectionTable.nzData.length}}</tfoot>
      </ng-template>
    </nz-table>
  </div>
</div>