<div [ngClass]="{'component-page': !previewMode}">
  <!--in previewmode only a small table with personal information is shown-->
  <div *ngIf="previewMode">
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>Categories</th>
          <th>Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Username</td>
          <td>{{personalInfo[0].username}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{personalInfo[0].email}}</td>
        </tr>
        <tr>
          <td>Birthdate</td>
          <td>{{personalInfo[0].birthdate}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{personalInfo[0].gender}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!--when not in previewmode the whole page is rendered-->
  <div *ngIf="!previewMode">
    <h2 nz-typography>Personal Information</h2>
    <p nz-typography>
      This following table shows the personal information that was collected by Instagram.
    </p>
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>Categories</th>
          <th>Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Username</td>
          <td>{{personalInfo[0].username}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{personalInfo[0].email}}</td>
        </tr>
        <tr>
          <td>Birthdate</td>
          <td>{{personalInfo[0].birthdate}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{personalInfo[0].gender}}</td>
        </tr>
        <tr>
          <td>Contact Syncing</td>
          <td>{{accountInfo[0].contactSyncing}}</td>
        </tr>
        <tr>
          <td>First Country Code</td>
          <td>{{accountInfo[0].firstCountryCode}}</td>
        </tr>
        <tr>
          <td>Has Shared Live Video</td>
          <td>{{accountInfo[0].hasSharedLiveVideo}}</td>
        </tr>
        <tr>
          <td>Last Login</td>
          <td>{{convertTimestamp(accountInfo[0].lastLogin)}}</td>
        </tr>
        <tr>
          <td>Last Logout</td>
          <td>{{convertTimestamp(accountInfo[0].lastLogout)}}</td>
        </tr>
        <tr>
          <td>First Story Time</td>
          <td>{{convertTimestamp(accountInfo[0].firstStoryTime)}}</td>
        </tr>
        <tr>
          <td>Last Story Time</td>
          <td>{{convertTimestamp(accountInfo[0].lastStoryTime)}}</td>
        </tr>
        <tr>
          <td>First Close Friends Story Time</td>
          <td>{{convertTimestamp(accountInfo[0].firstCloseFriendsStoryTime)}}</td>
        </tr>
      </tbody>
    </nz-table>
    <br>
    <br>

    <h2 nz-typography>Profile Changes</h2>
    <p nz-typography>
      The following table shows all profile changes that were made by the user over the course of the accounts
      lifetime.
    </p>
    <nz-table #basicTable [nzData]="profileChanges">
      <thead>
        <tr>
          <th>Title</th>
          <th>Changed</th>
          <th>Old Value</th>
          <th>New Value</th>
          <th>Change Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.title }}</td>
          <td>{{ data.changed }}</td>
          <td>{{ data.previousValue}}</td>
          <td>{{ data.newValue }}</td>
          <td>{{ convertTimestamp(data.changeDate) }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div> 