<div [ngClass]="{'component-page': !previewMode}">
  <!--in previewmode only a small table with personal information is shown-->
  <div *ngIf="previewMode">
    <div *ngIf="personalInfo !== undefined">
      <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="(personalInfo.username)!" [nzTitle]="'Username'"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="(personalInfo.birthdate)!" [nzTitle]="'Birthdate'"></nz-statistic>
          </nz-col>
      </nz-row>
      <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="(personalInfo.email)!" [nzTitle]="'Email'"></nz-statistic>
          </nz-col>
      </nz-row>
    </div>
  </div>
  <!--when not in previewmode the whole page is rendered-->
  <div *ngIf="!previewMode">
    <h2 nz-typography>Personal Information</h2>
    <p nz-typography>
      This following table shows the personal information that was collected by Instagram.
    </p>
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>Categories</th>
          <th>Information</th>
        </tr>
      </thead>
      <!--waits for the personal data to be loaded-->
      <tbody *ngIf="personalInfo !== undefined && accountInfo !== undefined && professionalInfo !== undefined">
        <tr *ngFor="let pair of getObjectPairs(personalInfo)">
          <td>{{ capitalizeAndPrettify(pair[0]) }}</td>
          <td>{{ pair[1] }}</td>
        </tr>
        <tr *ngFor="let pair of getObjectPairs(accountInfo)">
          <td>{{ capitalizeAndPrettify(pair[0]) }}</td>
          <td>{{ convertTimestamp(pair[1]) }}</td>
        </tr>
      </tbody>
    </nz-table>
    <br>
    <br>

    <h2 nz-typography>Profile Changes</h2>
    <p nz-typography>
      The following table shows all profile changes that were made by the user over the course of the accounts
      lifetime.
    </p>
    <nz-table #basicTable [nzData]="profileChanges">
      <thead>
        <tr>
          <th>Title</th>
          <th>Changed</th>
          <th>Old Value</th>
          <th>New Value</th>
          <th>Change Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.title }}</td>
          <td>{{ data.changed }}</td>
          <td>{{ data.previous_value }}</td>
          <td>{{ data.new_value }}</td>
          <td>{{ convertTimestamp(data.change_date) }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div> 