<div [ngClass]="{'component-page': !previewMode}">
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="friends.length" [nzTitle]="'Friends'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="removedFriends.length" [nzTitle]="'Removed friends'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="friendRequestRecieved.length" [nzTitle]="'Friend request sent'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="friendRequestSent.length" [nzTitle]="'Friend request sent'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="rejectedFriendRequests.length" [nzTitle]="'Rejected requests'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="whoYouFollow.length" [nzTitle]="'Who you follow'"></nz-statistic>
      </nz-col>
    </nz-row>
</div>
  <nz-row [nzGutter]="16" *ngIf="!previewMode">
    <nz-col [nzSpan]="12">
      <nz-card class="friends-card" nzTitle="Friends count: {{friends.length}}">
        <svg viewBox="0 0 1000 1000" id="myFriends"></svg>
      </nz-card> 
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card class="friends-card" nzTitle="Removed friend count: {{removedFriends.length}}">
        <svg viewBox="0 0 1000 1000" id="removedFriends"></svg>
      </nz-card> 
      
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card class="friends-card" nzTitle="Friend request recieved count: {{friendRequestRecieved.length}}">
        <svg viewBox="0 0 1000 1000" id="friendRequestRecieved"></svg>
      </nz-card>
     
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card class="friends-card" nzTitle="Friend request sent count: {{friendRequestSent.length}}">
        <svg viewBox="0 0 1000 1000" id="friendRequestSent"></svg>
      </nz-card>
     
    </nz-col>
    <nz-col [nzSpan]="12"> 
      <nz-card class="friends-card" nzTitle="Rejected friends count: {{rejectedFriendRequests.length}}">
        <svg viewBox="0 0 1000 1000" id="rejectedFriends"></svg>
      </nz-card>
      
    </nz-col>
    <nz-col [nzSpan]="12"> 
      <nz-card class="friends-card" nzTitle="Who you follow count: {{whoYouFollow.length}}">
        <svg viewBox="0 0 1000 1000" id="following"></svg> 
      </nz-card>
    </nz-col>
  </nz-row>
</div>
