<div class="component-page">
    <nz-tabset>
        <nz-tab nzTitle="Friends statistics">
          <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="friends.length" [nzTitle]="'Facebook friends'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="removedFriends.length" [nzTitle]="'Removed friends'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="friendRequestRecieved.length" [nzTitle]="'Friend request recieved'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="friendRequestSent.length" [nzTitle]="'Friend request sent'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="rejectedFriendRequests.length" [nzTitle]="'Rejected friend request'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="whoYouFollow.length" [nzTitle]="'Following'"></nz-statistic>
            </nz-col>
          </nz-row>
        </nz-tab>
        <nz-tab nzTitle="Friends timeline">
          Under development
        </nz-tab>
    </nz-tabset>
</div>
