<div [ngClass]="{'component-page': !previewMode}">
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="10">
        <nz-statistic [nzValue]="friends.length" [nzTitle]="'Friends'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="11">
        <nz-statistic [nzValue]="removedFriends.length" [nzTitle]="'Removed friends'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="10">
        <nz-statistic [nzValue]="friendRequestSent.length" [nzTitle]="'Friend requests sent'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="11">
        <nz-statistic [nzValue]="friendRequestReceived.length" [nzTitle]="'Friend requests received'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="10">
        <nz-statistic [nzValue]="rejectedFriendRequests.length" [nzTitle]="'Rejected requests'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="11">
        <nz-statistic [nzValue]="whoYouFollow.length" [nzTitle]="'People who follow you'"></nz-statistic>
      </nz-col>
    </nz-row>
  </div>
  <div *ngIf="!previewMode">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['../dashboard/']">Dashboard</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Connections</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-row [nzGutter]="16">
    
      <nz-col [nzSpan]="12">
        <nz-card class="friends-card" nzTitle="Friends: {{friends.length}}">
          <svg viewBox="0 0 1000 1000" id="myFriends"></svg>
        </nz-card> 
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-card class="friends-card" nzTitle="Removed friends: {{removedFriends.length}}">
          <svg viewBox="0 0 1000 1000" id="removedFriends"></svg>
        </nz-card> 
        
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-card class="friends-card" nzTitle="Friend requests recieved : {{friendRequestReceived.length}}">
          <svg viewBox="0 0 1000 1000" id="friendRequestReceived"></svg>
        </nz-card>
      
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-card class="friends-card" nzTitle="Friend requests sent: {{friendRequestSent.length}}">
          <svg viewBox="0 0 1000 1000" id="friendRequestSent"></svg>
        </nz-card>
      
      </nz-col>
      <nz-col [nzSpan]="12"> 
        <nz-card class="friends-card" nzTitle="Rejected friends: {{rejectedFriendRequests.length}}">
          <svg viewBox="0 0 1000 1000" id="rejectedFriends"></svg>
        </nz-card>
        
      </nz-col>
      <nz-col [nzSpan]="12"> 
        <nz-card class="friends-card" nzTitle="People who follow you: {{whoYouFollow.length}}">
          <svg viewBox="0 0 1000 1000" id="following"></svg> 
        </nz-card>
      </nz-col>
    </nz-row>
  </div> 
</div>
