.tooltip {
  position: absolute;
  display: none;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  pointer-events: none;
}

.friends-card
{
  height: 68%;
}
  
.margin-top-20 {
  margin-top: 20px;
}

.container_class {
  display: inline;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow-x:hidden; 
  overflow-y: auto;
  height: calc(100vh - 385.5px);
}
  
  
  
  
  