<div>
  <div *ngIf="previewMode">
    <prioss-post-frequency [activityData]="activityData()"></prioss-post-frequency>
  </div>
  <div *ngIf="!previewMode">
    <app-title-bar titleText="Posts & Comments, Likes and Reactions"
      tooltipText="This visualization provides a comprehensive overview of your facebook posts along with an overview about years and months you were most active or inactive in posting"></app-title-bar>
    <nz-tabset>
      <nz-tab nzTitle="Statistics">
        <prioss-posts-statistics [userData]="userData()">
        </prioss-posts-statistics>
      </nz-tab>
      <nz-tab nzTitle="Posts">

          <prioss-posts-overview [activityData]="activityData()">
          </prioss-posts-overview>
      </nz-tab>
      <nz-tab nzTitle="Comments">
        <nz-row>
          <nz-col nzFlex="auto">
            <nz-card>
              <prioss-comments [activityData]="activityData()">
              </prioss-comments>
            </nz-card>
          </nz-col>
        </nz-row>
      </nz-tab>
      <nz-tab nzTitle="Comments in Groups">
        <nz-row>
          <nz-col nzFlex="auto">
            <nz-card>
              <prioss-comments-in-groups [activityData]="activityData()">
              </prioss-comments-in-groups>
            </nz-card>
          </nz-col>
        </nz-row>
      </nz-tab>
    </nz-tabset>
  </div>