<app-title-bar
  [titleText]="'Guidelines to hide Instagram Stories from specific people'"
  [tooltipText]="'The following guidelines help you hide stories from specific people on your Instagram account. These guidelines are specific to web browser users.'"
/>

<p nz-typography>
  You should secure your privacy not just for photos or location, but also for your stories.
</p>
<p nz-typography>
  Here's how to hide Stories or control who interacts with them:
</p>

<prioss-stepper [steps]="hideStorieschangeWebSteps" />
