.background-cover {
  z-index: 9999;
  position: fixed;
  inset: 0;
  background-color: #000;
  opacity: 0.8;
}

main {
  margin: 4.5rem auto 0;
  padding: 1rem;
  overflow-x: auto;

  @media (min-width: 1210px) {
    max-width: 1200px;
  }
}

footer {
  text-align: center;
  padding: .5rem;
}
