<nz-layout>

  

  <app-notification></app-notification>

  <nz-sider
    nzCollapsible
    nzBreakpoint="md"
    nzWidth="256px"
    [nzCollapsedWidth]="collapseWidth"
    [nzTrigger]="null"
    [(nzCollapsed)]="isCollapsed"
  >
    <section class="sider-content">
      <header class="sidebar-logo">
        <a routerLink="/">
          <img
            src="/assets/images/icons/prioss_icon_borderless.png"
            alt="logo"
          >
          <h1>PriOSS</h1>
        </a>
      </header>

      <prioss-dashboard-menu
        [collapsed]="isCollapsed"
        [serviceName]="serviceName"
      ></prioss-dashboard-menu>

      <footer>
        @if (!isCollapsed) {
          Like our site? Share it!<br>
          <a
            target="_blank"
            href="https://twitter.com/intent/tweet?text=Want%20to%20know%20what%20personal%20info%20Instagram%2C%20Spotify%2C%20Facebook%20and%20the%20like%20have%20collected%20about%20you%3F%20Check%20out%20PriOSS%2C%20your%20Privacy%20One%20Stop%20Shop%3A%20https%3A%2F%2Fprioss.cs.upb.de"
          >
          <!-- Wait until the NzIconModule has updated the twiter/X icon, until then the .svg will do -->
            <!--<span
              nz-icon
              nzType="twitter"
              nzTheme="outline"
            ></span>-->
            <span>
              <img src="../assets/images/icons/x_logo.svg" width="75" alt="X icon">
            </span>
          </a>
        }
        <button
          *ngIf="showServiceButton && !isCollapsed"
          nz-button
          nzType="default"
          class="change-service-btn"
          nzSize="large"
          (click)="pRouter.navigateByUrl('/serviceSelection')"
        >
          <span
            nz-icon
            nzType="arrow-left"
            nzTheme="outline"
          ></span>
          Change Service
        </button>
      </footer>
    </section>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <button
        class="sidebar-trigger"
        (click)="handleNavbarFold()"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></button>
    </nz-header>
    <nz-content>
      <router-outlet (activate)="setServiceName()"></router-outlet>
    </nz-content>
    <nz-footer>PriOSS ©2023</nz-footer>
  </nz-layout>

</nz-layout>
