<div [ngClass]="{ 'component-page': !previewMode }">
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="friends.length"
          [nzTitle]="'Friends'"
          [nzPrefix]="friend"
        >
        </nz-statistic>
        <ng-template #friend>
          <span nz-icon nzType="heart"></span>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="removedFriends.length"
          [nzTitle]="'Removed friends'"
          [nzPrefix]="removed"
        >
        </nz-statistic>
        <ng-template #removed>
          <span nz-icon nzType="usergroup-delete"></span>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="friendRequestSent.length"
          [nzTitle]="'Requests sent'"
          [nzPrefix]="sent"
        >
        </nz-statistic>
        <ng-template #sent>
          <span nz-icon nzType="user-add"></span>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="friendRequestReceived.length"
          [nzTitle]="'Requests received'"
          [nzPrefix]="received"
        >
        </nz-statistic>
        <ng-template #received>
          <span nz-icon nzType="user-switch"></span>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="rejectedFriendRequests.length"
          [nzTitle]="'Rejected requests'"
          [nzPrefix]="rejected"
        >
        </nz-statistic>
        <ng-template #rejected>
          <span nz-icon nzType="user-delete"></span>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic
          [nzValue]="whoYouFollow.length"
          [nzTitle]="'Who you follow'"
          [nzPrefix]="follow"
        >
        </nz-statistic>
        <ng-template #follow>
          <span nz-icon nzType="smile"></span>
        </ng-template>
      </nz-col>
    </nz-row>
  </div>
  <div *ngIf="!previewMode">
    <app-title-bar
      titleText="Facebook Connections"
      tooltipText="This visualization shows different statistcs alongwith list of data related to your different type of connections on facebook."
    ></app-title-bar>
    <nz-tabset class="margin-top-20">
      <nz-tab nzTitle="Connection statistic">
        <nz-row [nzGutter]="16" class="margin-top-20">
          <nz-col [nzSpan]="12">
            <nz-card
              class="friends-card"
              nzTitle="Friends: {{ friends.length }}"
            >
              <div>People you are currently connected to</div>
              <svg
                viewBox="0 0 1000 1000"
                id="myFriends"
                class="margin-top-20"
              ></svg>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-card
              class="friends-card"
              nzTitle="Who you follow: {{ whoYouFollow.length }}"
            >
              <div>
                People, organisations or business that you choose to see content
                from
              </div>
              <svg
                viewBox="0 0 1000 1000"
                id="following"
                class="margin-top-20"
              ></svg>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-card
              class="friends-card"
              nzTitle="Friend requests received : {{
                friendRequestReceived.length
              }}"
            >
              <div>
                Request from others asking you to be friends on Facebook
              </div>
              <svg
                viewBox="0 0 1000 1000"
                id="friendRequestReceived"
                class="margin-top-20"
              ></svg>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-card
              class="friends-card"
              nzTitle="Friend requests sent: {{ friendRequestSent.length }}"
            >
              <div>
                Request sent to others to ask them to be friends on Facebook
              </div>
              <svg
                viewBox="0 0 1000 1000"
                id="friendRequestSent"
                class="margin-top-20"
              ></svg>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-card
              class="friends-card"
              nzTitle="Removed friends: {{ removedFriends.length }}"
            >
              <div>People who you are no longer connected to on Facebook</div>
              <svg
                viewBox="0 0 1000 1000"
                id="removedFriends"
                class="margin-top-20"
              ></svg>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-card
              class="friends-card"
              nzTitle="Rejected friends: {{ rejectedFriendRequests.length }}"
            >
              <div>Rejected friend requests on Facebook</div>
              <svg
                viewBox="0 0 1000 1000"
                id="rejectedFriends"
                class="margin-top-20"
              ></svg>
            </nz-card>
          </nz-col>
        </nz-row>
      </nz-tab>
      <nz-tab nzTitle="Friends">
        <nz-table #nzTable [nzData]="friendsFilter" nzTableLayout="fixed">
          <thead>
            <tr>
              <th nzCustomFilter>
                Name
                <nz-filter-trigger
                  [(nzVisible)]="visibleFriends"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable.data">
              <td>{{ data.name }}</td>
              <td>{{ convertToDate(data.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchFriends()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </nz-tab>
      <nz-tab nzTitle="Who you follow">
        <nz-table #nzTable2 [nzData]="whoYouFollowFilter" nzTableLayout="fixed">
          <thead>
            <tr>
              <th nzCustomFilter>
                Name
                <nz-filter-trigger
                  [(nzVisible)]="visibleWhoYouFollow"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu2"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable2.data">
              <td>{{ data.name }}</td>
              <td>{{ convertToDate(data.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchWhoYouFollow()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </nz-tab>
      <nz-tab nzTitle="Friend requests received">
        <nz-table
          #nzTable3
          [nzData]="friendRequestReceivedFilter"
          nzTableLayout="fixed"
        >
          <thead>
            <tr>
              <th nzCustomFilter>
                Name
                <nz-filter-trigger
                  [(nzVisible)]="visibleRequestsReceived"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu3"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable3.data">
              <td>{{ data.name }}</td>
              <td>{{ convertToDate(data.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu3="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchRequestReceived()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </nz-tab>
      <nz-tab nzTitle="Friend requests sent">
        <nz-table
          #nzTable4
          [nzData]="friendRequestSentFilter"
          nzTableLayout="fixed"
        >
          <thead>
            <tr>
              <th nzCustomFilter>
                Name
                <nz-filter-trigger
                  [(nzVisible)]="visibleRequestsSent"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu4"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable4.data">
              <td>{{ data.name }}</td>
              <td>{{ convertToDate(data.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchRequestSent()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </nz-tab>
      <nz-tab nzTitle="Removed friends">
        <nz-table
          #nzTable5
          [nzData]="removedFriendsFilter"
          nzTableLayout="fixed"
        >
          <thead>
            <tr>
              <th nzCustomFilter>
                Name
                <nz-filter-trigger
                  [(nzVisible)]="visibleRemovedFriends"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu5"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable5.data">
              <td>{{ data.name }}</td>
              <td>{{ convertToDate(data.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu5="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchRemovedFriends()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </nz-tab>
      <nz-tab nzTitle="Rejected friends">
        <nz-table
          #nzTable6
          [nzData]="rejectedFriendRequestsFilter"
          nzTableLayout="fixed"
        >
          <thead>
            <tr>
              <th nzCustomFilter>
                Name
                <nz-filter-trigger
                  [(nzVisible)]="visibleRejectedFriends"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu6"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of nzTable6.data">
              <td>{{ data.name }}</td>
              <td>{{ convertToDate(data.timestamp) }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu6="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchRejectedFriends()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
