<app-title-bar
  titleText="Guidelines to keep your Instagram account's Profile Information Private"
  tooltipText="The following guidelines helps you to make your Instagram profile information private. The guidelines are provided for Web Browser user as well as Mobile Application user."
  [includeButton]="false"
/>

<p nz-typography>
  Do not expose too much private data in your profile information and especially in your EDIT PROFILE
  area.
</p>

<p nz-typography>
  Do not write any personal information that could be used against you in the Bio field.
</p>

<nz-tabset>
  <nz-tab nzTitle="Web Browser">
    <p nz-typography>
      Follow these steps if you want to keep your profile information private for your Instagram
      account on your computer or mobile browser:
    </p>

    <prioss-stepper [steps]="profileInfoPrivateSteps" />
  </nz-tab>
  <nz-tab nzTitle="Mobile">
    <p nz-typography>
      Follow these steps if you want to keep your profile information private for your Instagram
      account on your computer or mobile browser:
    </p>

    <prioss-stepper [steps]="changeProfileInfoPrivateMobileSteps" />
  </nz-tab>
</nz-tabset>
