.t-explanation {
    text-align: center;
    font-size: 1vw;
}

//the container of the file upload field
.image-upload-wrap {
    margin-block: 1vh;
    border: 4px dashed #262626;
    position: relative;
}

//These rules invert colors of the file upload field container when hovering over it 
.image-upload-wrap:hover {
    background-color: #262626;
    border: 4px dashed #ffffff;
}

.image-upload-wrap:hover .drag-text p {
    color: #ffffff;
}

.file-upload-explanation {
    font-size: 0.75vw;
    text-align: center;
}

//the input field for file upload
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

//the div containing the text inside the file upload field
.drag-text {
    text-align: center;
    font-size: .9vw;
}

//the actual text inside the file upload field
.drag-text p {
    color: #262626;
}

/* 
 * Buttons
 */
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.continue-btn {
    margin-block: 2vh;
}

.go-to-top-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-block: 2vh;
}

.page-instructions {
    text-align: center;
    margin-bottom: 10vh;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

label img {
    width: 135px;
}

input[type=radio]:checked+label>img {
  border-radius: 50%;
  box-shadow: 0 0 3px 3px black;
  transform: scale(1.1);
}

.instructions-content {
    margin-top: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px 3px black;
    

    ol li {
        line-height: 2;
        font-size: 18px;
    }

    .i-image {
        width: 500px;
    }

    .i-image-potrait {
        width: 200px;
    }
    
}

//disclaimer div
.selection-disclaimer {
    margin: 20px 15px;
    border-style: solid;
    border-color: red;
    border-width: 1.5px;

    p {
        font-size: 18px;
    }
}

//disclaimer content
.disclaimer-content {
    margin: 20px 20px;
}


.selection-choice {
    perspective: 1000px;
  }

  .selection-choice:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .selection-choice:hover img {
    border-radius: 50%;
    cursor: pointer;
  }

.i-image1{
    width: 60%;
    margin-top: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px black; 
}

.selection-list::-webkit-scrollbar {
    display: none;
}

.selection-list {
    -webkit-overflow-scrolling: touch;
}

//CSS-rules that are only used in mobile versions
//Size Picked based on the service-selection icons
@media only screen and (max-width: 650px) {
    .selection-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: center; //"safe center" would be way better but is not supported on all browsers
    
        .selection-choice {
            padding: 16px;
            flex: 0 0 auto;
            margin: auto;
    
            label h3 {
                padding-top: 0.2rem;
                text-align: center;
            }
        }
    }
  }

//CSS-rules for screens larger than mobile
//categories for tablets etc. can be created if necessary
@media only screen and (min-width: 650px) {
    .selection-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center; //"safe center" would be way better but is not supported on all browsers
        

        .selection-choice {
            padding: 16px;
            flex: 0 0 auto;
    
            label h3 {
                padding-top: 0.2rem;
                text-align: center;
            }
        }
    }
}
.steps-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
  }
  
  .steps-action {
    margin-top: 24px;
    margin-left: 10px;
  }
  
  .steps{
    margin-left: 10px;
    margin-right: 10px;
  }
