<div class="component-page">

  <p class="t-explanation">
    Select the service from which you want to explore your personal data
  </p>

  <div class="selection-list">
    <div class="selection-choice">
      <input type="radio" name="apps" id="instagram" class="input-hidden" (click)="selectApp(appType.Instagram)" />
      <label for="instagram">
        <img src="../../assets/images/instagram.png">
        <h3>Instagram</h3>
      </label>
    </div>
    <div class="selection-choice">
      <input type="radio" name="apps" id="facebook" class="input-hidden"  (click)="selectApp(appType.Facebook)"/>
      <label for="facebook">
        <img src="../../assets/images/facebook.png">
        <h3>Facebook</h3>
      </label>
    </div>
    <div class="selection-choice">
      <input type="radio" name="apps" id="spotify" class="input-hidden" (click)="selectApp(appType.Spotify)"/>
      <label for="spotify">
        <img src="../../assets/images/spotify.png">
        <h3>Spotify</h3>
      </label>
    </div>
  </div>

  <nz-modal id="progress-bar-dialog"
      [(nzVisible)]="progressBarVisible"
      [nzTitle]="progressBarTitle"
      [nzContent]="progressBarContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="abortDataParsing()"
      nzCentered>
      
    <ng-template #progressBarTitle>
      Reading in your data-download...
    </ng-template>

    <ng-template #progressBarContent>
      <nz-progress [nzPercent]="progressBarPercent"></nz-progress>
    </ng-template>

    <ng-template #modalFooter>
        <span>Please wait, this can take a short while...</span>
    </ng-template>
  </nz-modal>

  <nz-modal id="upload-dialog"
      [(nzVisible)]="uploadDialogVisible"
      [nzTitle]="uploadDialogTitle"
      [nzContent]="uploadContent"
      [nzFooter]="uploadDialogFooter"
      (nzOnCancel)="abortDataUpload()"
      nzCentered>
      
    <ng-template #uploadDialogTitle>
      Input your data-download file
    </ng-template>

    <ng-template #uploadContent>
      <p class="file-upload-explanation">From here, everything works offline. You can switch into flight mode or disconnect from the internet before uploading your ".zip"-file.</p>
      <div class="image-upload-wrap">
        <input type="file" (change)="onFileSelected($event)" class="file-upload-input"  placeholder="Upload file" accept=".zip">
        <div class="drag-text">
          <p>Drop file or click to choose your {{selectedServiceName}} data-download</p>
          <p>Please input a ".zip"-file</p>
          <p *ngIf="selectedFileName.length > 0">Your selected file: {{selectedFileName}}</p>
        </div>
      </div>

      <nz-alert *ngIf="errorMsg.length > 0"
        nzType="error"
        nzCloseable
        nzMessage="Error"
        nzDescription="{{errorMsg}}"
        (nzOnClose)="afterCloseErrorMsg()"

      ></nz-alert>

      <p class="file-upload-explanation">Where can I download my data ? <a routerLink="/serviceSelection/dataDownload">Click here</a> for instructions</p>
    </ng-template>

    <ng-template #uploadDialogFooter>
      <button nz-button nzType="primary" class="icon-button" block="false" (click)="onClickedExploreData()">
        <span nz-icon nzType="arrow-right"></span>
        Continue with Personal Data
      </button>
    </ng-template>
  </nz-modal>

  <div *ngIf="selectedServiceName">
    <div class="page-instructions">
      <br>
      <p class="t-explanation">
        Don't want to use your own personal data?
      </p>

      <button nz-button nzSize="large" nzType="default" block="false" class="icon-button continue-btn" (click)="onClickedExploreSampleData()">
        <span nz-icon nzType="arrow-right"></span>
        Continue with Sample Data
      </button>

      <div class="t-explanation">
        <span class="or-separator">OR:</span>
        
        <span nz-icon class="centered-icon" nzType="download" nzTheme="outline"></span> 
        <span class="centered-icon line-break">
          <a routerLink="/serviceSelection/dataDownload" fragment="download-instructions">
            Download your personal data (click here) 
          </a> 
          as a ".zip"-file
        </span>
        
        <span nz-icon class="centered-icon" nzType="bar-chart" nzTheme="outline"></span> 
        <span class="centered-icon">
          Then click 'Continue with Personal Data' and input your ".zip"-file in the popup.
        </span>
      </div>

      <div>
        
        <button nz-button nzSize="large" nzType="primary" block="false" class="icon-button continue-btn" (click)="openDataUploadDialog()">
          <span nz-icon nzType="arrow-right"></span>
          Continue with Personal Data
        </button>

        <br>

        <div class="t-explanation">
          <span nz-icon class="centered-icon" nzType="wifi" nzTheme="outline"></span> 
          <span class="centered-icon">
            This website works offline. Switch into flight mode or disconnect from the internet before uploading your ".zip"-file.
          </span>  
        </div>

      </div>
    </div>
  
  <!-- Back to Top Button - Currently not needed anymore due to the shorter site length
  <button *ngIf="selectedServiceName" nz-button nzSize="large" class="go-to-top-btn" (click)="scrollToTop()">
    <span nz-icon nzType="vertical-align-top" nzTheme="outline"></span>
    Go to Top
  </button> -->

</div>
<app-offline-indicator [bottom]="'32px'" [right]="'32px'"></app-offline-indicator>
