
.t-container {
    display: flex;
    justify-content: center;
}

.t-about-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.t-about-img {
    width: 30%;
    margin: 50px;
}

.t-about-img img {
    max-width: 100%;
    max-height: 100%;
}