<div class="component-page t-container">
  <div class="t-about-text">
    <div class="t-about-img">
      <img
        alt="The Prioss Logo"
        src="/assets/images/icons/prioss-icon.svg"
      >
    </div>
    <h1>About the PriOSS Project</h1>
    <p>
      PriOSS is a project developed by groups of Master's students as part of several project groups at Paderborn
      University under the direction of Prof. Dr. Patricia Arias Cabarcos and Emiram Kablo from the Chair of IT
      Security.
    </p>
    <p>
      We have developed this website, the PriOSS-web-application, over the course of two years between October 2022 and
      September 2024 and conducted multiple user-studies to inform and test its design and functionality.
    </p>
    <p>
      The idea behind PriOSS is that it should be a platform that can become the one-stop destination for all of our
      online privacy needs by providing extensive visualizations
      and controls over the data that online services you use might have about you.<br>
      This is inspired by the European Data Protection Regulation (GDPR) that applies to all corporations operating inside the European Union
      (EU) since May 2018.
      Among other things, the GDPR grants EU citizens the right to access the data that an online service has about them.
      Those services have to offer a way for users to download this data.
      When you input this data into this website, it can give you more detailed control and visualization functionality
      that the services often do not provide.
    </p>
    <p>
      PriOSS is developed with privacy in mind. So much so, that your personal data that you input here never leaves
      your device.<br>
      Instead, all the processing needed to display the various visualizations for your data is done locally on your
      device.
    </p>
  </div>
