<div class="component-page t-container">
    <div class="t-about-text">
        <h1>About the PriOSS Project</h1>
        <p>PriOSS is a project developed by a group of 14 master students at the University of Paderborn and lead by Prof. Dr. Patricia Arias Cabarcos and Emiram Kablo from the Chair of IT-Security.</p>

        <p>We have developed this website, the PriOSS-web-application, over the course of one year between October 2022 and September 2023 and conducted multiple user-studies to inform and test its design and functionality.</p>

        <p>The idea behind PriOSS is that it should be platform that can become the one-stop destination for all of our online privacy needs by providing extensive visualizations 
            and controls over the data that online services you use might have about you.<br> 
            This is inspired by the European Data Protection Regulation (GDPR) that is effective inside the European Union (EU) since May 2018.
            Among others, the GDPR grants EU citizens the right to access the data that an online service has about them. Those services have to offer a way for users to download this data.
            When you input this data into this website, it can give you more detailed control and visualization functionality that the services often do not provide.</p>
        <p>PriOSS is developed with privacy in mind. So much so, that your personal data that you input here never leaves your device.<br>
            Instead, all the processing needed to display the various visualizations for your data is done locally on your device, so we never have to send your data anywhere.
        </p>
        <p>Our development team consists of:</p>
        <ul>
            <li>Mayank Agarwal</li>
            <li>Deepa Belvi</li>
            <li>Rashida Bharmal</li>
            <li>Sven Feldmann</li>
            <li>Durva Ghurye</li>
            <li>Simon Gorissen</li>
            <li>Aayushma Jain</li>
            <li>Melina Kleber</li>
            <li>Rishma Merkaje Nanaiah</li>
            <li>Mukul Sachdeva</li>
            <li>Maximilian Schmidt</li>
            <li>Paul Schmidt</li>
            <li>Ugur Yerlikaya</li>
            <li>Jonathan von Niessen</li>
        </ul>
    </div>
    <div class="t-about-img">
        <img src="/assets/images/icons/prioss_icon.png">
    </div>
</div>