<app-title-bar
  titleText="Guidelines to disable non-essential cookies for your Instagram's account"
  tooltipText="The following guidelines helps you to disable non-essential cookies for your Instagram's account. The guidelines are provided for Web Browser user as well as Mobile Application user."
  [includeButton]="false"
/>

<p nz-typography>
  This will stop other companies from sharing data about you with Instagram. You will also stop getting
  personalized ads from Meta on other sites you visit.
</p>

<nz-tabset>
  <nz-tab nzTitle="Web Browser">
    <p nz-typography>
      You can limit how much data Instagram collects by disabling non-essential cookies. Here's how:
    </p>

    <prioss-stepper [steps]="cookiesDisabledSteps" />
  </nz-tab>
  <nz-tab nzTitle="Mobile Application">
    <p nz-typography>
      You can limit how much data Instagram collects by disabling non-essential cookies. Here's how:
    </p>

    <prioss-stepper [steps]="cookiesDisabledMobileSteps" />
  </nz-tab>
</nz-tabset>
