<div [ngClass]="{ 'component-page': !previewMode }">
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          [nzTitle]="'Total Contact Numbers'"
          [nzValue]="totalContactNumbers()"
          [nzPrefix]="contacts"
          [nzValueStyle]="{ display: 'inline-flux' }"
        >
        </nz-statistic>
        <ng-template #contacts>
          <div class="container_class">
            <!-- <span nz-icon nzType="environment"></span> -->
            <!-- <span nz-icon nzType="contacts" nzTheme="outline"></span> -->
            <span nz-icon nzType="phone" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-skeleton [nzLoading]="loading()" [nzActive]="true"></nz-skeleton>
        <nz-statistic
          [nzTitle]="'Total Searched text'"
          [nzValue]="totalSearchedText()"
          [nzPrefix]="searched"
          [nzValueStyle]="{ display: 'inline-flux' }"
        >
        </nz-statistic>
        <ng-template #searched>
          <div class="container_class">
            <!-- <span nz-icon nzType="search" nzTheme="outline"></span> -->
            <span nz-icon nzType="file-search" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
    </nz-row>
  </div>
</div>

<div *ngIf="!previewMode">
  <app-title-bar
    titleText="Other Personal Information"
    tooltipText="This visualization presents an overview of data pertaining to address book and search history list."
  ></app-title-bar>
  <nz-tabset class="margin-top-20">
    <nz-tab nzTitle="Address Book">
      <ng-container *ngIf="dataAvailableAddressBook; else noDataTemplate">
        <div class="search-bar">
          <input
            type="text"
            [ngModel]="addressBookSearchText()"
            (ngModelChange)="addressBookSearchTextInput.set($event)"
            placeholder="Search..."
          />
          <button class="clear-button" (click)="addressBookSearchTextInput.set('')">
            Clear
          </button>
        </div>

        <nz-list>
          <div nz-row [nzGutter]="[8, 8]">
            @for (item of getVisibleAddressBookData(); track item){
              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
                <nz-card>
                  <div nz-row>
                    <div nz-col nzFlex="1" class="center-text"><nz-avatar nzIcon="user" [style.background-color]="addressAvatarColorMapping[item.name]"></nz-avatar></div>
                    <div nz-col nzFlex="3" class="address-name" [title]="item.name">{{item.name}}</div>
                  </div>
                  <br />
                  <div nz-row>
                    <div nz-col nzFlex="1" class="center-text"><span nz-icon nzType="phone" nzTheme="outline" style="font-size: 1rem;"></span></div>
                    <div nz-col nzFlex="3">{{item.details[0].contact_point}}</div>
                  </div>
                </nz-card>
              </div>
            }
          </div>
        </nz-list>
        <div class="pagination">
          <button
            class="page-btn"
            [disabled]="addressBookCurrentPage === 1"
            (click)="goToAddressBookPage(addressBookCurrentPage - 1)"
          >
            Previous
          </button>
          <span class="page-info"
            >{{ addressBookCurrentPage }} / {{ addressBookTotalPages() }}</span
          >
          <button
            class="page-btn"
            [disabled]="addressBookCurrentPage === addressBookTotalPages()"
            (click)="goToAddressBookPage(addressBookCurrentPage + 1)"
          >
            Next
          </button>
        </div>
      </ng-container>
      <ng-template #noDataTemplate>
        <nz-result nzStatus="403" nzTitle="No data available"> </nz-result>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Search History">
      <ng-container *ngIf="dataAvailableSearchHistory; else noDataTemplate">
        <div class="search-history-list">
          <div class="search-bar">
            <input
              type="text"
              (ngModelChange)="searchHistorySearchTextInput.set($event)"
              [ngModel]="searchHistorySearchText()"
              placeholder="Search..."
            />
            <button class="clear-button" (click)="searchHistorySearchTextInput.set('')">Clear</button>
          </div>
          <div class="search-history-items">
            @for (item of getVisibleData(); track item){
              <span nz-tooltip nzTooltipTitle="{{item.timestamp * 1000 | date:'YYYY-MM-dd HH:mm'}}">
                <nz-tag [nzColor]="'#108ee9'" class="center-text">
                  {{item.data[0].text}}
                </nz-tag>
              </span>
            }
          </div>

          <div class="pagination">
            <button
              class="page-btn"
              [disabled]="currentPage === 1"
              (click)="goToPage(currentPage - 1)"
            >
              Previous
            </button>
            <span class="page-info">{{ currentPage }} / {{ totalPages }}</span>
            <button
              class="page-btn"
              [disabled]="currentPage === totalPages"
              (click)="goToPage(currentPage + 1)"
            >
              Next
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #noDataTemplate>
        <nz-result nzStatus="403" nzTitle="No data available"> </nz-result>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
