<div class="dashboard-page dashboard-container">
  <h1 nz-typography>PriOSS - Facebook</h1>
  <div id="introduction" class="dashboard-intro">
    Welcome to the Facebook Dashboard!
    <br>
    Explore GDPR rights, visualize your data, get privacy tips, find FAQs, and contact us for more info. Your data, your
    control.
  </div>
  <br />

  <!-- <details open>
  <summary id="yourInfo" class="collapsible-dashboard-section-title">Your Information</summary>
    <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div  nz-col nzXs="24" nzXl="8">
        <app-dash-card cardLink="/face/general-data" [height]="cardHeight()"

titleText="User Data"
            tooltipText="This card shows your general user data like your email, gender, etc. which Facebook may not show in your public profile.">
          <app-general-data [previewMode]="false"></app-general-data>
        </app-dash-card>
      </div>
    </div>
</details>
<br> -->
  <br>

  
    <app-accordion title="Visualization">
      <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/general-data" [height]="cardHeight()" titleText="User Data">
            <app-general-data [previewMode]="true"></app-general-data>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="16">
          <app-dash-card cardLink="/face/connections" [height]="cardHeight()" titleText="Facebook Connections">

            <app-friend-and-followers [previewModeInput]="'true'"></app-friend-and-followers>
          </app-dash-card>
        </div>
        <div nz-col nzXs="24" nzXl="12">
          <app-dash-card cardLink="/face/messages-info" [height]="cardHeight()" titleText="Messages">
            <app-messages [previewMode]="true"></app-messages>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="12">
          <app-dash-card cardLink="/face/posts" [height]="cardHeight()" titleText="Posts">
            <app-posts [previewMode]="true"></app-posts>
          </app-dash-card>
        </div>
        
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/ads-related-data" [height]="cardHeight()" titleText="Ad Preferences">
            <app-ads-related-data [previewModeInput]="'true'"></app-ads-related-data>
          </app-dash-card>
        </div>
        
        <!-- Facebook updated the data export to not include inferences data; June 2024 -->
        <!-- <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/inferred-topics" [height]="cardHeight()" titleText="Your Topics">
            <app-inferred-topics [previewMode]="true"></app-inferred-topics>
          </app-dash-card>
        </div> -->
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/other-personal-info" [height]="cardHeight()"
            titleText="Other Personal Information">
            <app-other-personal-info [previewMode]="true"></app-other-personal-info>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/security-login" [height]="cardHeight()" titleText="Security and Login">
            <app-security-login-data [previewMode]="true"></app-security-login-data>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/groups-and-events-data" [height]="cardHeight()"
            titleText="Events & Groups Information">
            <app-groups-and-events-data [previewMode]="true"></app-groups-and-events-data>
          </app-dash-card>
        </div>
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/face/media" [height]="cardHeight()" titleText="Media">
            <prioss-facebook-media [previewMode]="true">
            </prioss-facebook-media>
          </app-dash-card>
        </div>
      </div>
  

  </app-accordion>
  <br>
  <br>
  <app-accordion title="Rectification ">
    <p> You can object the use of your personal data to show you personalized Ads on your timeline. Visit <span nz-icon
        nzType="link"><a target="_blank" href='https://www.facebook.com/help/contact/367438723733209'>Facebook
          Help Center</a></span> and follow the instructions below: </p>
    <br>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Step 1"></nz-step>
      <nz-step nzTitle="Step 2"></nz-step>
      <nz-step nzTitle="Step 3"></nz-step>
      <nz-step nzTitle="Step 4"></nz-step>
      <nz-step nzTitle="Step 5"></nz-step>
    </nz-steps>

    <div class="steps-content">
      <img nz-image height="600px" nzSrc={{rectificationImage}} alt="" />
      <nz-divider></nz-divider>
      <p nz-typography class="rectification-steps">{{ rectificationText }}</p>
    </div>
    <div class="steps-action">
      <!-- <button nz-button nzType="default" (click)="start()" *ngIf="current <= 4">
      <span>Start</span>
    </button> -->
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
        <span>Next</span>
      </button>
    </div>

  </app-accordion>
</div>
<br>

<br>
<div>
  <app-accordion title="Privacy Recommendations">
    <div id="fStep30">
      <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="" titleText="Privacy Settings Judge">
            <app-settings-form [service]="'Facebook'"></app-settings-form>
          </app-dash-card>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
    <br>

    <p nz-topography><app-face-purposes></app-face-purposes></p>
    <br />

    <br />
    <app-help-button (startTourClick)="startTour()"></app-help-button>
    <app-offline-indicator [bottom]="'32px'" [right]="'76px'"></app-offline-indicator>
