<div class="dashboard-page dashboard-container">
  <app-welcome-msg platform="Facebook"></app-welcome-msg>
  <br>
    <app-accordion title="Visualization">
      <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card
            id="card__general-data"
            cardLink="/facebook/general-data"
            [height]="cardHeight()"
            titleText="User Data"
          >
            <app-general-data [previewMode]="true"></app-general-data>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="16">
          <app-dash-card cardLink="/facebook/connections" [height]="cardHeight()" titleText="Facebook Connections">

            <app-friend-and-followers [previewModeInput]="'true'"></app-friend-and-followers>
          </app-dash-card>
        </div>
        <div nz-col nzXs="24" nzXl="12">
          <app-dash-card cardLink="/facebook/messages-info" [height]="cardHeight()" titleText="Messages">
            <app-messages [previewMode]="true"></app-messages>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="12">
          <app-dash-card cardLink="/facebook/posts" [height]="cardHeight()" titleText="Posts">
            <app-posts [previewMode]="true"></app-posts>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/facebook/ads-related-data" [height]="cardHeight()" titleText="Ad Preferences">
            <app-ads-related-data [previewModeInput]="'true'"></app-ads-related-data>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/facebook/other-personal-info" [height]="cardHeight()"
            titleText="Other Personal Information">
            <app-other-personal-info [previewMode]="true"></app-other-personal-info>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/facebook/security-login" [height]="cardHeight()" titleText="Security and Login">
            <app-security-login-data [previewMode]="true"></app-security-login-data>
          </app-dash-card>
        </div>

        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/facebook/groups-and-events-data" [height]="cardHeight()"
            titleText="Events & Groups Information">
            <app-groups-and-events-data [previewMode]="true"></app-groups-and-events-data>
          </app-dash-card>
        </div>
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="/facebook/media" [height]="cardHeight()" titleText="Media">
            <prioss-facebook-media [previewMode]="true">
            </prioss-facebook-media>
          </app-dash-card>
        </div>
      </div>


  </app-accordion>
  <br>
  <br>
  <app-accordion title="Rectification">
    <p> You can object the use of your personal data to show you personalized Ads on your timeline. Visit <span nz-icon
        nzType="link"><a target="_blank" href='https://www.facebook.com/help/contact/367438723733209'>Facebook
          Help Center</a></span> and follow the instructions below: </p>
    <br>
    <prioss-stepper [steps]="rectificationSteps" />
  </app-accordion>
</div>
<br>

<br>
<div>
  <app-accordion title="Privacy Recommendations">
    <div id="fStep30">
      <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card cardLink="" titleText="Privacy Settings Judge">
            <app-settings-form [service]="'Facebook'"></app-settings-form>
          </app-dash-card>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </app-accordion>
    <br>

    <p nz-topography><app-face-purposes></app-face-purposes></p>
    <br />

    <br />
    <app-help-button (startTourClick)="startTour()"></app-help-button>
    <app-offline-indicator [bottom]="'32px'" [right]="'76px'"></app-offline-indicator>
