@if (previewMode()) {
  <div
    echarts
    [options]="chartOptions()"
    class="chart">
  </div>
} @else {
  <app-title-bar
    titleText="Top Padcasts"
    tooltipText="This bar chart shows your top 10 artists in a given time period. You can also switch to a tabular view."
  />

  <nz-card nzTitle="Filter">
    <nz-range-picker
      ngModel
      [ngModel]="dateRange()"
      (nzOnCalendarChange)="selectDateFilter($event)"
    />
  </nz-card>

  <nz-card nzTitle="Data">
    @if (topPodcasts(); as topPodcasts) {
      @if (topPodcasts.length > 0) {
        <nz-tabset>
          <nz-tab nzTitle="Bar chart">
            <div
              echarts
              class="chart"
              [options]="chartOptions()"
              (chartClick)="selectPodcast($event)">
            </div>
          </nz-tab>

          <nz-tab nzTitle="Table">
            <nz-table
              #basicTable
              [nzData]="topPodcasts">
              <thead>
                <tr>
                <th id="topPodcastTableArtistHeader">Artist</th>
                <th id="topPodcastTableMinutesHeader">Minutes listened</th>
                </tr>
              </thead>
              <tbody>
                @for (data of basicTable.data; track data[0]) {
                  <tr class="clickable" (click)="selectPodcast(data[0])">
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] | time:'number-as-minutes' }}</td>
                  </tr>
                }
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      } @else {
        <nz-empty nzNotFoundImage="simple" />
      }
    } @else {
      Loading and calculating data...
    }
  </nz-card>
}
