<div [ngClass]="{'component-page': !previewMode}">

  <!--only shows a preview of the visualization-->
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(login_amount|number)!" [nzTitle]="'Number of logins'" [nzPrefix]="login"></nz-statistic>
        <ng-template #login>
          <div class="container_class">
            <span nz-icon nzType="login" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(logout_amount|number)!" [nzTitle]="'Number of logouts'" [nzPrefix]="logout"></nz-statistic>
        <ng-template #logout>
          <div class="container_class">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="most_used_device" [nzTitle]="'Most used device'" [nzPrefix]="device"></nz-statistic>
        <ng-template #device>
          <div class="container_class">
            <span nz-icon nzType="desktop" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
    </nz-row>
</div>

<!--only shows when visiting the page-->
<div *ngIf="!previewMode">
  <!--Titlebar component -->
  <app-title-bar titleText="Account Creation and Login" tooltipText="The timeline below displays the timeline for account creation, login and logout activity of your instagram account."></app-title-bar>

  <!-- Showcasing signup information and login and logout information if data is present -->
  <div *ngIf="login_logout_activities?.length && signup_information !== null">
    <h3 nz-typography>Highlights</h3>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(login_amount|number)!" [nzTitle]="'Number of logins'" [nzPrefix]="login"></nz-statistic>
        <ng-template #login>
          <div class="container_class">
            <span nz-icon nzType="login" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(logout_amount|number)!" [nzTitle]="'Number of logouts'" [nzPrefix]="logout"></nz-statistic>
        <ng-template #logout>
          <div class="container_class">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="most_used_device" [nzTitle]="'Most used device'" [nzPrefix]="device"></nz-statistic>
        <ng-template #device>
          <div class="container_class">
            <span nz-icon nzType="desktop" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
    </nz-row>
    <br>

    <h3 nz-typography>Timeline</h3>
    <br>

    <div class="timeline_div" class="visualization-card">
      <!-- Creating timeline for complete data -->
      <nz-timeline nzMode="alternate">
        <nz-timeline-item [nzDot]="dotTemplateSignUp">

          <!-- Creating a template for sign up information -->
          <ng-template #dotTemplateSignUp>
            <div class="ant-timeline-item-head ant-timeline-item-head-blue"
            nz-button nz-popover nzType="primary" [nzPopoverContent]="contentTemplateSignUp" 
            [nzPopoverPlacement]="'leftTop'">
            </div>
          </ng-template>

          <!-- Creating a template to show additional data -->
          <ng-template #contentTemplateSignUp>
            <strong>IP Address</strong> : {{signup_information[0].ip_address}}
          </ng-template>

          <!-- Showcasing necessary details in timeline -->
          Create account with device [{{signup_information[0].device}}] on {{signup_information[0].timestamp*1000 | date: 'MMM d, y h:mm a'}} 
        </nz-timeline-item>

        <!-- Looping throught each login and logout activity values -->
        <nz-timeline-item *ngFor="let activity of login_logout_activities; let i = index"  [nzDot]="dotTemplate">

          <!-- Creating a template for each row based on activity type -->
          <ng-template #dotTemplate>
            <div class="ant-timeline-item-head" 
            [class.ant-timeline-item-head-red]="activity.color === 'red'" 
            [class.ant-timeline-item-head-green]="activity.color === 'green'"
            [class.ant-timeline-item-head-blue]="activity.color === 'blue'"
            nz-button nz-popover nzType="primary" [nzPopoverContent]="contentTemplate" 
            [nzPopoverPlacement]="i%2===0?'rightTop':'leftTop'">
            </div>
          </ng-template>

          <!-- Creating a template for each row popup to show additional data -->
          <ng-template #contentTemplate>
            <strong>IP Address</strong> : {{activity.ip_address}}<br>
            <div *ngIf="activity.user_agent !== ''">
              <strong>User Agent</strong> : {{activity.user_agent}}
            </div>
          </ng-template>

          <!-- Showcasing necessary details in timeline -->
          {{activity.type}} with device [{{activity.device}}] on {{activity.timestamp*1000 | date: 'MMM d, y h:mm a'}}
        </nz-timeline-item>
      </nz-timeline>
    </div>
  </div>

  <!-- Showcasing default value if no data is present -->
  <div *ngIf="login_logout_activities?.length === 0 && signup_information === null">
    <p>No Account Creation, Login and Logout activity present</p>
  </div>
</div>
</div>