<div [ngClass]="{'component-page': !previewMode}">

  <div *ngIf="!previewMode">

    <app-title-bar titleText="Highlights" tooltipText="The following entries showcase summarized information regarding your shopping and wishlist items."></app-title-bar>
  </div>

    <div>
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="(totalMerchants)!" [nzTitle]="'Number of Merchants In Shopping List'" [nzPrefix]="shop"></nz-statistic>
          <ng-template #shop>
            <div class="container_class">
              <span nz-icon nzType="shop" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="(totalProducts)!" [nzTitle]="'Number of Products In Shopping List'" [nzPrefix]="product"></nz-statistic>
          <ng-template #product>
            <div class="container_class">
              <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
        <nz-col [nzSpan]="12" class="customise">
          <nz-statistic [nzValue]="(totalWishlistMerchants)!" [nzTitle]="'Number of Merchants In Shopping WishList'" [nzPrefix]="shopWish"></nz-statistic>
          <ng-template #shopWish>
            <div class="container_class">
              <span nz-icon nzType="shop" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
        <nz-col [nzSpan]="12" class="customise">
          <nz-statistic [nzValue]="(totalWishlistProducts)!" [nzTitle]="'Number of Products In Shopping WishList'" [nzPrefix]="productWish"></nz-statistic>
          <ng-template #productWish>
            <div class="container_class">
              <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
      </nz-row>
    </div>

    <div *ngIf="!previewMode">
      <br>
      <app-title-bar titleText="Shopping" [includeButton]="false" tooltipText="The tables below present information regarding the items you have recently viewed and those you have added to your wishlist."></app-title-bar>
      <nz-card style="width:100%;">
        <nz-tabset nzType="card">
          <nz-tab nzTitle="Shopping List">
            <ng-template nz-tab>
              <nz-demo-tab-content-lazy>

                <div *ngIf="shoppingData?.length">
                  <p>The following table shows all the details about shopping products viewed.</p>
                  <nz-table #shoppingTable [nzData]="listOfShoppingData">
                    <thead>
                      <tr>
                        <th id="shoppingTableMerchantName" nzCustomFilter>
                          Merchant name
                          <nz-filter-trigger [(nzVisible)]="merchantVisible" [nzActive]="merchantSearchValue.length > 0" [nzDropdownMenu]="merchantmenu">
                            <span nz-icon nzType="search"></span>
                          </nz-filter-trigger>
                        </th>
                        <th id="shoppingTableProductName" nzCustomFilter>
                          Product name
                          <nz-filter-trigger [(nzVisible)]="productVisible" [nzActive]="productSearchValue.length > 0" [nzDropdownMenu]="productmenu">
                            <span nz-icon nzType="search"></span>
                          </nz-filter-trigger>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of shoppingTable.data">
                        <td>{{ data.merchantName }}</td>
                        <td>{{ data.productName }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                  <nz-dropdown-menu #merchantmenu="nzDropdownMenu">
                    <div class="ant-table-filter-dropdown">
                      <div class="search-box">
                        <input type="text" nz-input placeholder="Search Merchant Name" [(ngModel)]="merchantSearchValue" />
                        <button nz-button nzSize="small" nzType="primary" (click)="search('merchant')" class="search-button">Search</button>
                        <button nz-button nzSize="small" (click)="reset('merchant')">Reset</button>
                      </div>
                    </div>
                  </nz-dropdown-menu>
                  <nz-dropdown-menu #productmenu="nzDropdownMenu">
                    <div class="ant-table-filter-dropdown">
                      <div class="search-box">
                        <input type="text" nz-input placeholder="Search Product Name" [(ngModel)]="productSearchValue" />
                        <button nz-button nzSize="small" nzType="primary" (click)="search('product')" class="search-button">Search</button>
                        <button nz-button nzSize="small" (click)="reset('product')">Reset</button>
                      </div>
                    </div>
                  </nz-dropdown-menu>
                </div>

                <div *ngIf="shoppingData?.length === 0">
                  <nz-empty nzNotFoundImage="simple"></nz-empty>
                </div>
              </nz-demo-tab-content-lazy>
            </ng-template>
          </nz-tab>
          <nz-tab nzTitle="Shopping Wishlist">
            <ng-template nz-tab>
              <nz-demo-tab-content-lazy>

                <div *ngIf="shoppingWishlistData?.length">
                  <p>The following table shows all the details about shopping products wishlisted.</p>
                  <nz-table #shoppingWishlistTable [nzData]="listOfShoppingWishlistData">
                    <thead>
                      <tr>
                        <th id="shoppingWishlistTableMerchantName" nzCustomFilter>
                          Merchant name
                          <nz-filter-trigger [(nzVisible)]="wishlistMerchantVisible" [nzActive]="wishlistMerchantSearchValue.length > 0" [nzDropdownMenu]="wishlistMerchantmenu">
                            <span nz-icon nzType="search"></span>
                          </nz-filter-trigger>
                        </th>
                        <th id="shoppingWishlistTableProductName" nzCustomFilter>
                          Product name
                          <nz-filter-trigger [(nzVisible)]="wishlistProductVisible" [nzActive]="wishlistProductSearchValue.length > 0" [nzDropdownMenu]="wishlistProductmenu">
                            <span nz-icon nzType="search"></span>
                          </nz-filter-trigger>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of shoppingWishlistTable.data">
                        <td>{{ data.merchantName }}</td>
                        <td>{{ data.productName }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                  <nz-dropdown-menu #wishlistMerchantmenu="nzDropdownMenu">
                    <div class="ant-table-filter-dropdown">
                      <div class="search-box">
                        <input type="text" nz-input placeholder="Search Merchant Name" [(ngModel)]="wishlistMerchantSearchValue" />
                        <button nz-button nzSize="small" nzType="primary" (click)="search('wishlistMerchant')" class="search-button">Search</button>
                        <button nz-button nzSize="small" (click)="reset('wishlistMerchant')">Reset</button>
                      </div>
                    </div>
                  </nz-dropdown-menu>
                  <nz-dropdown-menu #wishlistProductmenu="nzDropdownMenu">
                    <div class="ant-table-filter-dropdown">
                      <div class="search-box">
                        <input type="text" nz-input placeholder="Search Product Name" [(ngModel)]="wishlistProductSearchValue" />
                        <button nz-button nzSize="small" nzType="primary" (click)="search('wishlistProduct')" class="search-button">Search</button>
                        <button nz-button nzSize="small" (click)="reset('wishlistProduct')">Reset</button>
                      </div>
                    </div>
                  </nz-dropdown-menu>
                </div>

                <div *ngIf="shoppingWishlistData?.length === 0">
                  <nz-empty nzNotFoundImage="simple"></nz-empty>
                </div>
              </nz-demo-tab-content-lazy>
            </ng-template>
          </nz-tab>
        </nz-tabset>
      </nz-card>
    </div>
