<div [ngClass]="{'component-page': !previewMode}">
    <div *ngIf="previewMode">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="userSearches.length" [nzTitle]="'Number of User Searches'" [nzPrefix]="user"></nz-statistic>
          <ng-template #user>
            <div class="container_class">
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="keywordSearches.length" [nzTitle]="'Number of Keyword Searches'" [nzPrefix]="key"></nz-statistic>
          <ng-template #key>
            <div class="container_class">
              <span nz-icon nzType="key" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
      </nz-row>
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="tagSearches.length" [nzTitle]="'Number of Tag Searches'" [nzPrefix]="tag"></nz-statistic>
          <ng-template #tag>
            <div class="container_class">
              <span nz-icon nzType="tag" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
      </nz-row>
    </div>

    <div *ngIf="!previewMode">
      <app-title-bar titleText="Highlights" tooltipText="These are some important entries in your data download regarding your searches."></app-title-bar>
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="userSearches.length" [nzTitle]="'Number of User Searches'" [nzPrefix]="user"></nz-statistic>
          <ng-template #user>
            <div class="container_class">
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="keywordSearches.length" [nzTitle]="'Number of Keyword Searches'" [nzPrefix]="key"></nz-statistic>
          <ng-template #key>
            <div class="container_class">
              <span nz-icon nzType="key" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
      </nz-row>
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="tagSearches.length" [nzTitle]="'Number of Tag Searches'" [nzPrefix]="tag"></nz-statistic>
          <ng-template #tag>
            <div class="container_class">
              <span nz-icon nzType="tag" nzTheme="outline"></span>
            </div>
          </ng-template>
        </nz-col>
      </nz-row>
      <br>

      <app-title-bar titleText="Searches" tooltipText="This site shows all the different searches of the Instagram user. The search and filter functionalities can be used to extract wanted information." [includeButton]="false"></app-title-bar>
      <div class="button-group">
        <button nz-button nzType="default" nzSize="large" class="filter-button" (click)="filterData('all')">All Searches</button>
        <button nz-button nzType="default" nzSize="large" class="filter-button" (click)="filterData('user')">User Searches</button>
        <button nz-button nzType="default" nzSize="large" class="filter-button" (click)="filterData('keyword')">Keyword Searches</button>
        <button nz-button nzType="default" nzSize="large" class="filter-button danger-button" (click)="filterData('tag')">Tag Searches</button>
      </div>
      <nz-card nzTitle="Searches Word Cloud" style="width:100%; height:100%;" [nzExtra]="redrawTemplate">
        <prioss-word-cloud #wordCloudRef [data]="filteredWordData"></prioss-word-cloud>
      </nz-card>
      <ng-template #redrawTemplate>
        <button nz-button nz-tooltip="Save as Image" style="border: none;" (click)="downloadCloud()">
          <span nz-icon nzType="download" nzTheme="outline"></span>
        </button>
        <button nz-button nz-tooltip="Redraw Topic Cloud" style="border: none;" (click)="redrawCloud()">
          <span nz-icon nzType="redo" nzTheme="outline"></span>
        </button>
      </ng-template>
      <br>
      <div class="chart-container">
        <div echarts [options]="chartOptions" class="chart"></div>
      </div>
    </div>
  </div>

