<div id="introduction" class="dashboard-intro">
  <a id="introduction-intro" class="offset-anchor" aria-label="Introduction"></a>
  <h1>Welcome to the {{platform}} Dashboard!</h1>
  <p>{{description}}</p>
  <hr>
  <ul>
    <li>
      <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
      <strong>Visualization:</strong> Explore what information about you is accessed by the service.
    </li>
    <li>
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      <strong>Rectification:</strong> You can correct or update your data as needed.
    </li>
    <li>
      <i nz-icon nzType="lock" nzTheme="outline"></i>
      <strong>Privacy Recommendations:</strong> Learn privacy-specific improvements that can be made to your account.
    </li>
    <li>
      <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      <strong>Purposes:</strong> Understand why services extract data about you.
    </li>
  </ul>
</div>
