<h1>Frequently Asked Questions (FAQ)</h1>
<div class="component-page">
  <div>
    <p nz-typography>
      This page is dedicated to help you with basic questions specific to the website. If you have any question which is not mentioned below, please feel free to <a href="../contact">contact</a> us directly.
    </p>
    <div class="accord_layout">
      <app-accordion accordionTitle="General FAQs">
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let faq of faqs" [nzHeader]="faq.name">
            <p>{{ faq.content }}</p>
            <span>
              <a *ngIf="faq.link" [href]="faq.link" target="_blank">{{ faq.linkLabel }}</a>
            </span>
          </nz-collapse-panel>
        </nz-collapse>
      </app-accordion>
    </div>
    <div class="accord_layout">
      <app-accordion accordionTitle="Instagram Related FAQs">
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let instaFaq of instagramFaqs" [nzHeader]="instaFaq.name">
            <p>{{ instaFaq.content }}</p>
            <span>
              <a *ngIf="instaFaq.link" [href]="instaFaq.link" target="_blank">{{ instaFaq.linkLabel }}</a>
            </span>
          </nz-collapse-panel>
        </nz-collapse>
      </app-accordion>
    </div>
    <div class="accord_layout">
      <app-accordion accordionTitle="Facebook Related FAQs">
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let faceFaq of facebookFaqs" [nzHeader]="faceFaq.name">
            <p>{{ faceFaq.content }}</p>
            <span>
              <a *ngIf="faceFaq.link" [href]="faceFaq.link" target="_blank">{{ faceFaq.linkLabel }}</a>
            </span>
          </nz-collapse-panel>
        </nz-collapse>
      </app-accordion>
    </div>
    <div class="accord_layout">
      <app-accordion accordionTitle="Spotify Related FAQs">
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let spotFaq of spotifyFaqs" [nzHeader]="spotFaq.name">
            <p>{{ spotFaq.content }}</p>
            <span>
              <a *ngIf="spotFaq.link" [href]="spotFaq.link" target="_blank">{{ spotFaq.linkLabel }}</a>
            </span>
          </nz-collapse-panel>
        </nz-collapse>
      </app-accordion>
    </div>
  </div>
</div>