<div>
    <div *ngIf="previewMode">
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="10">
              <nz-statistic [nzValue]="posts.length" [nzTitle]="'Posts'"></nz-statistic>
            </nz-col>
        </nz-row>
    </div>
    <div *ngIf="!previewMode">
        <app-title-bar titleText="Posts" tooltipText="This visualization provides a comprehensive overview of your facebook posts"></app-title-bar>
        <nz-tabset class="margin-top-20">
            <nz-tab nzTitle="Posts statistics">
              <div style="padding:30px 0;" *ngIf="!monthView">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8">
                    <nz-card nzTitle="Most active year/years for posting">
                      <div *ngFor="let item of maximumPost">
                        <p><b style="font-size: 16px;">{{item.year}}</b> with post count <b style="font-size: 16px;">{{item.count}}</b></p>
                      </div>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzTitle="Least active year/years for posting">
                      <div *ngFor="let item of minimumPost">
                        <p><b style="font-size: 16px;">{{item.year}}</b> with post count <b style="font-size: 16px;">{{item.count}}</b></p>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </div>
              <div style="padding:30px 0;" *ngIf="monthView">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8">
                    <nz-card nzTitle="Most active month/months for posting">
                      <div *ngFor="let item of maximumPost">
                        <p><b style="font-size: 16px;">{{item.month}}</b> with post count <b style="font-size: 16px;">{{item.count}}</b></p>
                      </div>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzTitle="Least active month/months for posting">
                      <div *ngFor="let item of minimumPost">
                        <p><b style="font-size: 16px;">{{item.month}}</b> with post count <b style="font-size: 16px;">{{item.count}}</b></p>
                      </div>
                    </nz-card>
                  </div>
                </div>
              </div>
              <nz-card>
                  <h6 *ngIf="!monthView">This graph visualises the number of post over the period of certain year you joined Facebook. <b>Click on the bar for month view</b></h6>
                  <button nz-button nzType="primary" (click)="backToPrevious()" *ngIf="monthView">
                    <span nz-icon nzType="bar-chart"></span>
                    Year visualization
                  </button>
                  <svg viewBox="0 0 1000 1000" id="post-chart" class="margin-top-30"></svg>
              </nz-card>
            </nz-tab>
            <nz-tab nzTitle="Posts">
                <nz-table [nzData]="posts" #basicTable>
                    <thead>
                      <tr>  
                        <th nzCustomFilter class="tableCol">Title</th>
                        <th nzCustomFilter class="tableCol">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.title }}</td>
                        <td>{{ getTimestamp(data.timestamp) }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
            </nz-tab>
            <nz-tab nzTitle="Post view">
              <div id="my_dataviz"></div>
            </nz-tab>
        </nz-tabset>
     
    </div>
</div>