<div [ngClass]="{'component-page': !previewMode}">
    <!--only shows a preview of the visualization-->
    <div *ngIf="previewMode">
      <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="(yourTopics.length | number)!" [nzTitle]="'Number of Your Topics'" [nzPrefix]="topic"></nz-statistic>
              <ng-template #topic>
                <div class="container_class">
                  <span nz-icon nzType="aim" nzTheme="outline"></span>
                </div>
              </ng-template>
          </nz-col>
      </nz-row>
    </div>

    <div *ngIf="!previewMode">
        <app-title-bar titleText="Your Topics" tooltipText="Explore your interests with the following word cloud based on what Instagram thinks you're into."></app-title-bar>
        <br>
        <nz-card nzTitle="Topics Word Cloud" style="width:100%; height:100%;" [nzExtra]="redrawTemplate">
            <prioss-word-cloud #wordCloudRef [data]="topicsWordData"></prioss-word-cloud>
        </nz-card>
        <ng-template #redrawTemplate>
            <button nz-button nz-tooltip="Save as Image" style="border: none;" (click)="downloadCloud()"><span nz-icon nzType="download" nzTheme="outline"></span></button>
            <button nz-button nz-tooltip="Redraw Topic Cloud" style="border: none;" (click)="redrawCloud()"><span nz-icon nzType="redo" nzTheme="outline"></span></button>
        </ng-template>
        <br>
  </div>
</div>
