<form nz-form nzLayout="vertical">
  <nz-form-item>
     
    <nz-form-label> <img class="i-image" src="../../assets/images/icons/chatbot-icon.png">{{": &ldquo;"}} {{this.question}} {{"&rdquo;"}}</nz-form-label>
    <!-- Robot image from uxwing.com . This image was free to use in any personal and commercial projects without any attribution or credit.-->
    <br>
    <nz-collapse>
      <nz-collapse-panel
      [nzHeader]="panel.name"
     > 
      <p [innerHTML]="howToCheck" style="margin:0;">
      </p>
      </nz-collapse-panel>
    </nz-collapse>
    <br/>
    <nz-form-control>
      <nz-select
      name="optionSelecter"
      [(ngModel)]="selectedValue"
      nzAllowClear
      nzPlaceHolder="Choose"
      >
        <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </nz-form-control>
  <br>
  <nz-form-label><br/>Advice: {{selectedValue.advice}}</nz-form-label>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-button-group [nzSize]="'large'">
        <button nz-button nzType="primary" (click)="onPrev()">
          <span nz-icon nzType="left"></span>
          Backward
        </button>
        <button nz-button nzType="primary" (click)="onNext()">
          Forward
          <span nz-icon nzType="right"></span>
        </button>
      </nz-button-group>
    </nz-form-control>
</nz-form-item>
</form>

  