<div [ngClass]="{'component-page': !previewMode}">
  <div style="width: 100%">
    <div *ngIf="!previewMode">
      <app-title-bar titleText="Highlights"
                     tooltipText="These are some important entries in your data download regarding your messages"></app-title-bar>
    </div>

    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(sentMessages.length)!" [nzTitle]="'Total number of sent messages'"
                      [nzPrefix]="send"></nz-statistic>
        <ng-template #send>
          <div class="container_class">
            <span nz-icon nzType="send" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(receivedMessages.length)!"
                      [nzTitle]="'Total number of received messages'" [nzPrefix]="received"></nz-statistic>
        <ng-template #received>
          <div class="container_class">
            <span nz-icon nzType="message" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(messageData.length)!" [nzTitle]="'Total number of chats'"
                      [nzPrefix]="chat"></nz-statistic>
        <ng-template #chat>
          <div class="container_class">
            <span nz-icon nzType="wechat" nzTheme="outline"></span>
          </div>
        </ng-template>
      </nz-col>
    </nz-row>
  </div>
  <br>
  <div *ngIf="!previewMode">
    <nz-card style="width:100%">
      <nz-tabset>
        <nz-tab nzTitle="Instagram Chats">
          <prioss-insta-chat-view [messages]="messageData" [user]="username"
                                  [profilePic]="profilePic"></prioss-insta-chat-view>
        </nz-tab>
        <nz-tab nzTitle="Chat Statistics">
          <br>
          <p nz-typography>
            This section provides a summary of your communication trends on Instagram over time.
            For more detailed analysis, you can download the data using the button on the right.
          </p>
          <br>
          <div echarts [options]="options()"></div>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </div>
</div>
