<div class="dashboard-page dashboard-container">
  <h1 nz-typography>PriOSS - Spotify</h1>
  <div id="introduction" class="dashboard-intro">
    Welcome to the Spotify Dashboard where you can view your personal Spotify data.<br>
    The cards below show different interactive visualizations and explanations about the data Spotify has collected about you.
    If you are unsure what something means, hover over the (?)-Icons for explanations.<br>
    You can click on each of the white cards that contains a visualization to explore the visualization in more detail and unlock it's interactivity, try it!
  </div> 

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>

  <details open id="visualization">
    <summary class="collapsible-dashboard-section-title">Visualization</summary>
    <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      
      <div id="step1" nz-col nzXs="24" nzXl="8">
        <app-dash-card [fillVerticalSpace]="false" cardLink="/spot/general-data" titleText="User Data"
          tooltipText="This card shows your general user data like your email, gender, postal address etc. Click to find out more.">
          <app-general-data [previewMode]="true"></app-general-data>
        </app-dash-card>
      </div>

      <div id="step3" nz-col nzXs="24" nzXl="16">
        <app-dash-card [fillVerticalSpace]="false"  cardLink="/spot/listening-time" titleText="Listening Time"
          tooltipText="This card shows for how long you have listened to spotify at what times. You can customize the shown timeframe as you wish. Click to find out more.">
          <spot-listening-time [previewMode]="true"></spot-listening-time>
        </app-dash-card>
      </div>
    </div>

    <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div id="step4" nz-col nzXs="24" nzXl="8">
        <app-dash-card [fillVerticalSpace]="true"  cardLink="/spot/top-artists" titleText="Top Artists"
          tooltipText="This card shows your most played artists. You can customize the timeframe over which this is calculated. Click to find out more.">
          <spot-top-artists [previewMode]="true"></spot-top-artists>
        </app-dash-card>
      </div>

      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card [fillVerticalSpace]="true"  cardLink="/spot/top-songs" titleText="Top Songs"
          tooltipText="This card shows your most played songs. You can customize the timeframe over which this is calculated. Click to find out more.">
          <spot-top-songs [previewMode]="true"></spot-top-songs>
        </app-dash-card>
      </div>
      
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card [fillVerticalSpace]="true"  cardLink="/spot/mood" titleText="Average Mood of Songs"
          tooltipText="This card shows your mood. You can customize the timeframe over which this is calculated. Click to find out more.">
          <spot-mood [previewMode]="true">
          </spot-mood>
        </app-dash-card>
      </div>
    </div>

    
    <div nz-row [nzGutter]="[{ xs: 8, xl: 20}, {xs: 8, xl: 40}]">
      <div nz-col nzXs="24" nzXl="8">
        <app-dash-card [fillVerticalSpace]="true"  cardLink="/spot/search-history" titleText="Search History"
          tooltipText="This card shows information about your Spotify search history. You can discover a full list of your search history upon clicking the card.">
          <app-search-history [previewMode]="true"></app-search-history>
        </app-dash-card>
      </div>
    </div>

  </details>

  <br>
  <details open id="rectification">
    <summary class="collapsible-dashboard-section-title">Rectification</summary>
    <div id="step-inferences" nz-col nzXs="24" nzXl="8">
      <app-dash-card [fillVerticalSpace]="true"  cardLink="/spot/inference" titleText="Inferences"
        tooltipText="This card shows the interests you have and groups you belong to according to Spotify. You can let Spotify delete them, if you think they are incorrect. Click to find out more.">
        <spot-inferences [previewMode]="true"></spot-inferences>
      </app-dash-card>
    </div>
  </details>
  <br>


  <details open id="recommendation">
    <summary class="collapsible-dashboard-section-title">Privacy Recommendations</summary>
    <div id="stepX">
      <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
        <div nz-col nzXs="24" nzXl="8">
          <app-dash-card [fillVerticalSpace]="true"  cardLink="" titleText="Privacy Settings Judge"
            tooltipText="In this card, you can check if your Spotify settings are setup to protect your privacy. Just answer the questions below to learn how you can improve your privacy through your Spotifyaccount's settings.">
            <app-settings-form [service]="'Spotify'"></app-settings-form>
          </app-dash-card>
        </div>
      </div>
    </div>
  </details>

  <br>
  <app-gdpr></app-gdpr>

  <br>
  <app-purposes></app-purposes>

  <br>
  <!-- <div id="step7">
    <h2 nz-typography id="faq">Frequently Asked Questions (FAQ)</h2>
    <nz-collapse nzAccordion>
      <nz-collapse-panel *ngFor="let purpose of purposes" [nzHeader]="purpose.name" [nzActive]="purpose.active">
        <p>{{ purpose.content }}</p>
      </nz-collapse-panel>
    </nz-collapse>
  </div> -->
  <app-faq id="step7" serviceName="spot"></app-faq>

  <app-help-button (startTourClick)="startTour()"></app-help-button>
  <app-offline-indicator [bottom]="'32px'" [right]="'76px'"></app-offline-indicator>
</div>
