<div [ngClass]="{'component-page': !previewMode}">
  <!--only shows a preview of the visualization-->
  <div *ngIf="previewMode">
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(contacts.length | number)!" [nzTitle]="'Number of contacts'"></nz-statistic>
        </nz-col>
    </nz-row>
  </div>

  <!--only shows when visiting the page-->
  <div *ngIf="!previewMode">
    <!--Titlebar component -->
    <app-title-bar titleText="Contacts" tooltipText="The following table shows all the details about contact synced from user's mobile."></app-title-bar>
    <nz-table #contactsTable [nzData]="listOfContacts">
      <thead>
        <tr>
          <th nzCustomFilter>
            Firstname
            <nz-filter-trigger [(nzVisible)]="firstVisible" [nzActive]="firstnameSearchValue.length > 0" [nzDropdownMenu]="firstmenu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th nzCustomFilter>
            Surname
            <nz-filter-trigger [(nzVisible)]="surVisible" [nzActive]="surnameSearchValue.length > 0" [nzDropdownMenu]="surmenu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th nzCustomFilter>
            Contact Information
            <nz-filter-trigger [(nzVisible)]="numberVisible" [nzActive]="numberSearchValue.length > 0" [nzDropdownMenu]="numbermenu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of contactsTable.data">
          <td>{{ data.firstName }}</td>
          <td>{{ data.surname }}</td>
          <td>{{ data.contactInformation }}</td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #firstmenu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search firstname" [(ngModel)]="firstnameSearchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search('first')" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset('first')">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #surmenu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search surname" [(ngModel)]="surnameSearchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search('sur')" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset('sur')">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #numbermenu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search number" [(ngModel)]="numberSearchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search('number')" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset('number')">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>