<div [ngClass]="{'component-page': !previewMode}">
    <!--only shows a preview of the visualization-->
    <div *ngIf="previewMode">
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(ads_activity.length|number)!" [nzTitle]="'Number of advertisment activities'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(ads_clicked.length| number)!" [nzTitle]="'Number of advertisments clicked'"></nz-statistic>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(ads_interests.length | number)!" [nzTitle]="'Number of advertisment interests'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(ads_viewed.length| number)!" [nzTitle]="'Number of advertisments viewed'"></nz-statistic>
            </nz-col>
        </nz-row>
    </div>
    
    <!--only shows when visiting the page-->
    <div *ngIf="!previewMode">
        <app-title-bar titleText="Highlights" tooltipText="The below displays the advertisment highlights for your Instagram data."></app-title-bar>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(ads_activity.length|number)!" [nzTitle]="'Number of advertisment activities'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="(ads_clicked.length| number)!" [nzTitle]="'Number of advertisments clicked'"></nz-statistic>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(ads_interests.length | number)!" [nzTitle]="'Number of advertisment interests'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="(ads_viewed.length| number)!" [nzTitle]="'Number of advertisments viewed'"></nz-statistic>
            </nz-col>
        </nz-row>
        <br>
        
        <app-title-bar titleText="Advertisements" tooltipText="The below displays the advertisement details for your Instagram data." [includeButton]="false"></app-title-bar>
        <nz-card style="width:100%;">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Advertisement Activity">
                    <ng-template nz-tab>
                        <nz-demo-tab-content-lazy>
                            <!-- If Ads Activity Data present -->
                            <div *ngIf="ads_activity?.length">
                                <p>The below displays the advertisement activity performed by you on your Instagram account.</p>
                                <nz-table [nzData]="ads_activity" #adsActivityTable>
                                    <thead>
                                        <tr>
                                            <th>Advertiser Name</th>
                                            <th>Has Data file custom audience</th>
                                            <th>Has in person store visit</th>
                                            <th>Has remarketing custom audience</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ad_activity of adsActivityTable.data">
                                            <td>{{ ad_activity.advertiserName }}</td>
                                            <td>{{ ad_activity.has_data_file_custom_audience }}</td>
                                            <td>{{ ad_activity.has_in_person_store_visit }}</td>
                                            <td>{{ ad_activity.has_remarketing_custom_audience }}</td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                            <!-- If No Ads Activity Data present -->
                            <div *ngIf="ads_activity?.length === 0">
                                <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </div>
                        </nz-demo-tab-content-lazy>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Advertisement Clicked">
                    <ng-template nz-tab>
                        <nz-demo-tab-content-lazy>
                            <!-- If Ads Clicked Data present -->
                            <div *ngIf="ads_clicked?.length">
                                <p>The below displays the advertisement clicked by you on your Instagram account.</p>
                                <nz-table [nzData]="ads_clicked" #adsClickedTable>
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ad_clicked of adsClickedTable.data">
                                                <td>{{ ad_clicked.title }}</td>
                                                <td>{{ ad_clicked.timestamp }}</td>
                                            </tr>
                                        </tbody>
                                </nz-table>
                            </div>
                            <!-- If No Ads Clicked Data present -->
                            <div *ngIf="ads_clicked?.length === 0">
                                <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </div>
                        </nz-demo-tab-content-lazy>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Advertisement Interest">
                    <ng-template nz-tab>
                        <nz-demo-tab-content-lazy>
                            <!-- If Ads Interest Data present -->
                            <div *ngIf="ads_interests?.length">
                                <p>The below displays the advertisement interests inferred by Instagram.</p>
                                <nz-table [nzData]="ads_interests" #adsInterestsTable>
                                        <thead>
                                            <tr>
                                                <th>Interest</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ad_interests of adsInterestsTable.data">
                                                <td>{{ ad_interests.interest }}</td>
                                            </tr>
                                        </tbody>
                                </nz-table>
                            </div>
                            <!-- If No Ads Interest Data present -->
                            <div *ngIf="ads_interests?.length === 0">
                                <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </div>
                        </nz-demo-tab-content-lazy>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="Advertisement Viewed">
                    <ng-template nz-tab>
                        <nz-demo-tab-content-lazy>
                            <!-- If Ads Viewed Data present -->
                            <div *ngIf="ads_viewed?.length">
                                <p>The below displays the advertisement viewed by you on your Instagram account.</p>
                                <nz-table [nzData]="ads_viewed" #adsViewedTable>
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ad_viewed of adsViewedTable.data">
                                                <td>{{ ad_viewed.title }}</td>
                                                <td>{{ ad_viewed.timestamp }}</td>
                                            </tr>
                                        </tbody>
                                </nz-table>
                            </div>
                            <!-- If No Ads Viewed Data present -->
                            <div *ngIf="ads_viewed?.length === 0">
                                <nz-empty nzNotFoundImage="simple"></nz-empty>
                            </div>
                        </nz-demo-tab-content-lazy>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </nz-card>

        <!-- Advertisement Activity -->
        <!-- <app-title-bar titleText="Advertisement Activity" tooltipText="The below displays the advertisement activity performed by you on your Instagram account." [includeButton]="false"></app-title-bar> -->
        <!-- If Advertisement Activity Data present -->
        <!-- <div *ngIf="ads_activity?.length">
            <nz-table [nzData]="ads_activity" [nzPageSize]="pageSize" [nzPageIndex]="ads_activity_pageindex" (nzPageIndexChange)="on_ads_activity_page_change($event)">
                <thead>
                    <tr>
                    <th>Advertiser name</th>
                    <th>Has Data file custom audience</th>
                    <th>Has in person store visit</th>
                    <th>Has remarketing custom audience</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ad_activity of sliced_ads_activity_data">
                    <td>{{ ad_activity.advertiserName }}</td>
                    <td>{{ ad_activity.has_data_file_custom_audience }}</td>
                    <td>{{ ad_activity.has_in_person_store_visit }}</td>
                    <td>{{ ad_activity.has_remarketing_custom_audience }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div> -->
        <!-- If No Advertisement Activity Data present -->
        <!-- <div *ngIf="ads_activity?.length === 0">
            <p>No advertisements activity</p>
        </div>
        <br> -->

        <!-- Advertisement Clicked -->
        <!-- <app-title-bar titleText="Advertisements Clicked" tooltipText="The below displays the advertisement clicked by you on your Instagram account." [includeButton]="false"></app-title-bar> -->
        <!-- If Advertisement Clicked Data present -->
        <!-- <div *ngIf="ads_clicked?.length">
            <div class="list-view">
                <div *ngFor="let ad_clicked of ads_clicked" class="list-individual-item">
                {{ ad_clicked.title }}
                </div>
            </div>
        </div> -->
        <!-- If No Advertisement Clicked Data present -->
        <!-- <div *ngIf="ads_clicked?.length === 0">
            <p>No advertisements clicked</p>
        </div>
        <br> -->

        <!-- Advertisement Interests -->
        <!-- <app-title-bar titleText="Advertisements Interests" tooltipText="The below displays the advertisement interests inferred by Instagram." [includeButton]="false"></app-title-bar> -->
        <!-- If Advertisement Interests Data present -->
        <!-- <div *ngIf="ads_interests?.length">
            <div class="list-view">
                <div *ngFor="let ad_interest of ads_interests" class="list-individual-item">
                {{ ad_interest.interest }}
                </div>
            </div>
        </div> -->
        <!-- If No Advertisement Interests Data present -->
        <!-- <div *ngIf="ads_interests?.length === 0">
            <p>No advertisements Interests</p>
        </div>
        <br> -->

        <!-- Advertisement Viewed -->
        <!-- <app-title-bar titleText="Advertisements Viewed" tooltipText="The below displays the advertisement viewed by you on your Instagram account." [includeButton]="false"></app-title-bar> -->
        <!-- If Advertisement Viewed Data present -->
        <!-- <div *ngIf="ads_viewed?.length">
            <div class="list-view">
                <div *ngFor="let ad_viewed of ads_viewed" class="list-individual-item">
                {{ ad_viewed.title }}
                </div>
            </div>
        </div> -->
        <!-- If No Advertisement Viewed Data present -->
        <!-- <div *ngIf="ads_viewed?.length === 0">
            <p>No advertisements Viewed</p>
        </div> -->
    </div>
    
</div>