.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the height as needed */
  }
  
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  