.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the height as needed */
  }
  
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-icon {
    font-size: 14px; // Adjust the size as needed
    cursor: pointer;
    fill: #999; // Adjust the color as needed
  }

  ::ng-deep .additional-text {
    transition: opacity 0.3s ease-in-out;
  }
  