<div class="dashboard-page dashboard-container">
  <h1 nz-typography id="">PriOSS - Instagram</h1>
  <div id="introduction">
    <p nz-typography>
      Welcome to the dashboard for the Instagram specific data. This page will offer you all the information you need, to fully understand the data that
      is collected about you and what steps you can take to increase your personal privacy.<br>
      In the first section you will be presented with different visualizations of your personal data.<br>
      All the following sections will help you to understand the purpose of this application as well as the legal basis of the data collection and your rights
      regarding your data.
    </p>
  </div>

  <details open id="visualization">
    <summary class="collapsible-dashboard-section-title">Visualization</summary>
    <p nz-typography>
      In this section you will be presented with different visualizations of the data you put in before. Every card shows a preview of the data from a specific 
      topic. By clicking on 'More' you will be redirected to a page with a more precise visualization and description of the specific topic.
    </p>

    <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
      <div nz-col nzXs="24" nzXl="8">
        <!--card for visualizing the personal information-->
        <app-dash-card id="personalInformation" cardLink="/insta/personal-info" titleText="Personal Information"
            tooltipText="This card shows your general personal information like email, gender, birthdate etc. Click to find out more.">
          <app-personal-info [previewMode]="true"></app-personal-info>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <!--card for visualizing all about advertisements-->
        <app-dash-card id="advertisement" cardLink="/insta/ads" titleText="Advertisement"
            tooltipText="This card shows all data related to ads like viewed ads, clicked ads etc. Click to find out more.">
          <app-insta-ads [previewMode]="true"></app-insta-ads>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <!--card for visualizing the login and account creation-->
        <app-dash-card cardLink="/insta/account" titleText="Account Creation and Login"
            tooltipText="This card shows all data related to all logins and logouts as well as the devices used. Click to find out more.">
          <app-insta-account-creation-login [previewMode]="true"></app-insta-account-creation-login>
        </app-dash-card>
      </div>
    </div>
    <br>
    <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
      <div nz-col nzXs="24" nzXl="8">
        <!--card for visualizing for friends and followers-->
        <app-dash-card cardLink="/insta/followers" titleText="Followers and Following"
            tooltipText="This card shows all data related to followers like current followers, pending followers, blocked accounts ect. Click to find out more.">
          <app-insta-followers [previewMode]="true"></app-insta-followers>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <!--card for visualizing the contacts-->
        <app-dash-card cardLink="/insta/contacts" titleText="Contacts"
            tooltipText="This card shows all contacts synchronized with your instagram account. Click to find out more.">
          <app-insta-contact [previewMode]="true"></app-insta-contact>
        </app-dash-card>
      </div>
      <div nz-col nzXs="24" nzXl="8">
        <!--card for visualizing the liked comments and posts-->
        <app-dash-card cardLink="/insta/likedcontent" titleText="Liked Comments and Posts"
            tooltipText="This card shows all comments and posts that you likes. Click to find out more.">
          <app-insta-liked-content [previewMode]="true"></app-insta-liked-content>
        </app-dash-card>
      </div>
    </div>
    <br>
  <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
    <div nz-col nzXs="24" nzXl="8">
      <!--card for visualizing for searches-->
      <app-dash-card cardLink="/insta/searches" titleText="Searches"
          tooltipText="This card shows all searches that you have done with your accounts like user searches or keyword searches etc. Click to find out more.">
        <app-insta-searches [previewMode]="true"></app-insta-searches>
      </app-dash-card>
    </div>
  </div>
  <br>
  </details>

  <details open id="rectification">
    <summary class="collapsible-dashboard-section-title">Rectification</summary>
    <p nz-typography>
      This section of the application describes how a user can rectify if something is missing/wrong in the data download.
    </p>
    <h4 nz-typography>Go into the settings of Instagram and report a problem.</h4>
    <p nz-typography>The first step is to visit the following webpage: <span nz-icon nzType="link"><a target="_blank" href='https://help.instagram.com/contact/117037592428568?no_redirect'>Instagram Help Center</a></span>.</p>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Step 1"></nz-step>
      <nz-step nzTitle="Step 2"></nz-step>
      <nz-step nzTitle="Step 3"></nz-step>
      <nz-step nzTitle="Step 4"></nz-step>
      <nz-step nzTitle="Step 5"></nz-step>
    </nz-steps>

    <div class="steps-content">
      <img
        nz-image
        height="300px"
        nzSrc={{rectificationInstructionPicture}}
        alt=""
      />
      <nz-divider></nz-divider>
      <p nz-typography>{{ rectificationInstructionText }}</p>  
    </div>
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" [disabled]="current <= 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" [disabled]="current >= 4">
        <span>Next</span>
      </button>
    </div>
    <br>
    <h4 nz-typography>Send an email to support@instagram.com. Generally, Instagram team responds within a week.</h4>
    <h4 nz-typography>Contact the privacy center for Meta. It covers Facebook, Instagram, Messenger, and other Meta products.</h4>
   
  </details>
  <br>

 <details open id="Manage-Privacy">
  <summary class="collapsible-dashboard-section-title">
    Privacy Recommendations
  </summary>
  <div nz-row [nzGutter]="{ xs: 8, xl: 40 }">
    <div nz-col nzXs="24" nzXl="8">
      <!--card for Privacy settings judge-->
      <nz-card  nzTitle="Privacy Settings Judge" nzHoverable>
        <app-personal-info [previewMode]="true"></app-personal-info>
        <app-settings-form [service]="'Instagram'"></app-settings-form>
      </nz-card>
    </div>

    <div nz-col nzXs="24" nzXl="8"><!--card for privacy recommendation - How to block folllowers-->
      <nz-card id ="block_followers" nzTitle="How to Block Followers" nzHoverable [nzExtra]="extraBlockFollowers">
      <p nz-typography>This section provides you guidelines to block followers for Instagram.</p>
      </nz-card>
      <ng-template #extraBlockFollowers>
        <a routerLink="/insta/block-followers">More</a>
      </ng-template>
    </div>

    <div nz-col nzXs="24" nzXl="8"><!--card for privacy recommendation- How to hide Instagram Stories and live videos from specific people -->
      <nz-card nzTitle="How to Hide Instagram Stories" nzHoverable [nzExtra]="extraHideStories">
      <p nz-typography>This section provides you guidelines to hide Instagram Stories and live videos from specific people.</p>
      </nz-card>
      <ng-template #extraHideStories>
        <a routerLink="/insta/hide-stories">More</a>
      </ng-template>
    </div>
  </div>
 </details>
 <br>

  <details open id="purpose">
    <summary class="collapsible-dashboard-section-title">Purposes - Why Instagram collects your data? </summary>
    <p nz-typography>
      The following purposes should give an example of Instagram's reasoning in regards to data collection. To Get a full list of their reasons you can check out Instagram's privacy policy <span nz-icon nzType="link"><a target="_blank" href="https://privacycenter.instagram.com/policy/?section_id=0-WhatIsThePrivacy">privacy policy</a></span>
      <nz-table nzTemplateMode>
        <thead>
          <tr>
            <th>Purpose</th>
            <th>Data Collected</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>To personalize and improve their products and to undertake analytics</td>
            <td>Activity information and information you provide like posts or comments. For more information see <span nz-icon nzType="link"><a target="_blank" href="https://privacycenter.instagram.com/policy/?subpage=1.subpage.1-YourActivityAndInformation">here</a></span>.</td>
          </tr>
          <tr>
            <td>Tailor the ads you see</td>
            <td>Information from third parties or vendors. That could for example be device information or apps you use. For more information see <span nz-icon nzType="link"><a target="_blank" href="https://privacycenter.instagram.com/policy/?subpage=1.subpage.4-InformationFromPartnersVendors">here</a></span>.</td>
          </tr>
          <tr>
            <td>Sharing your contact, profile or other information with third parties upon your request</td>
            <td>Content you create, like your contact, profile or other information, like posts or comments. For more information see <span nz-icon nzType="link"><a target="_blank" href="https://privacycenter.instagram.com/policy/?subpage=1.subpage.1-YourActivityAndInformation">here</a></span>.</td>
          </tr>
          <tr>
            <td>Provide the features or services through collecting information you allow them to receive</td>
            <td>Information from device settings. For more information see <span nz-icon nzType="link"><a target="_blank" href="https://privacycenter.instagram.com/policy/?subpage=1.subpage.3-AppBrowserAndDevice">here</a></span>.</td>
          </tr>
        </tbody>
      </nz-table>
  </details>
    
    <details open id="gdpr">
      <summary class="collapsible-dashboard-section-title">GDPR Rights</summary>
      <div>
        <p nz-typography>
        The General Data Protection Regulation (GDPR) is a data privacy regulation that came into effect in May 2018. It was created by the European Union (EU) to regulate the collection, processing, and storage of personal data of individuals residing in the EU.
        The most important points of the GDPR are: </p>
       <ol nz-typography>
        <li><b>Consent:</b> Companies must obtain explicit and informed consent from individuals to collect, process, and store their personal data.</li>
        <li><b>Right to Access:</b> Individuals have the right to access their personal data that has been collected and stored by companies.</li>
        <li><b>Right to be Forgotten:</b> Individuals have the right to request the deletion of their personal data.</li>
        <li><b>Data Portability:</b> Individuals have the right to receive their personal data in a format that is easily transferable to another organization.</li>
        <li><b>Data Protection Officers (DPOs):</b> Companies that process large amounts of personal data or sensitive personal data must appoint a DPO.</li>
        <li><b>Data Breach Notification:</b> Companies must notify individuals and the relevant authorities within 72 hours of a data breach.</li>
        <li><b>Penalties:</b> Non-compliance with the GDPR can result in fines of up to 4% of a company's annual global revenue or €20 million (whichever is greater).</li>
       </ol>
       <p nz-typography>
        The GDPR aims to protect the privacy and personal data of individuals within the EU, and has had a significant impact on the way that companies handle and store personal data. More information can be found under <span nz-icon nzType="link"><a target="_blank" href="https://gdpr.eu/">GDPR</a></span>.
       </p>
      </div>
    </details>

<app-gdpr></app-gdpr>
  <app-faq serviceName="insta"></app-faq>
  <app-help-button (startTourClick)="startTour()">
    <h2 nz-typography id="introduction">Introduction</h2>
    <h2 nz-typography id="rectification">Rectification</h2>
    <h2 nz-typography id="gdpr">GDPR Rights</h2>
    <h2 nz-typography id="purpose">Purposes</h2>
    <h2 nz-typography id="faq">FAQ</h2>
  </app-help-button>
  <app-offline-indicator [bottom]="'32px'" [right]="'76px'"></app-offline-indicator>

  



