<app-title-bar
  titleText="Guidelines to revoke third-party apps for your Instagram account"
  tooltipText="The following guidelines helps to revoke third-party apps for your Instagram account. The guidelines are provided for Web Browser user as well as Mobile Application user."
  [includeButton]="false"
/>

<p nz-typography>
  Over the years, you may have linked your Instagram account to third-party apps and services. These
  may be completely safe, but it's possible that some of them especially if they're old and no longer active could be
  insecure and should no longer have access to your Instagram account.
</p>

<nz-tabset>
  <nz-tab nzTitle="Web Browser">
    <p nz-typography>It's easy to revoke access by following these steps:</p>
    <prioss-stepper [steps]="revokeAccessSteps" />
  </nz-tab>

  <nz-tab nzTitle="Mobile Application">
    <p nz-typography>It's easy to revoke access by following these steps:</p>
    <prioss-stepper [steps]="revokeAccessMobile" />
  </nz-tab>
</nz-tabset>
