<nz-statistic  [nzTitle]="'Total inferences'" 
               [nzValue]="inferredTopics.length"
               [nzPrefix]="location"
               [nzValueStyle]="{display: 'inline-flux'}" 
               class ="bold-title" 
               *ngIf="previewMode">
</nz-statistic>
<ng-template #location>
  <div class="container_class">
    <span nz-icon nzType="monitor" nzTheme="outline"></span>
  </div>
</ng-template>
<div class="component-page" *ngIf="!previewMode">
  <app-title-bar titleText="Inferred topics" tooltipText="TBD"></app-title-bar>
  <ng-container *ngIf="dataAvailable; else noDataTemplate">
  <nz-list nzGrid class="margin-top-20" class="topic-view">
    <nz-list-item *ngFor="let item of inferredTopics">
      {{item.topic}}
    </nz-list-item>
</nz-list>
  </ng-container>
  <ng-template #noDataTemplate>
    <nz-result nzStatus="403" nzTitle="No data available">
    </nz-result>
  </ng-template>
<h4 nz-typography>To manage the Inferred topics,</h4>
<button nz-button nzType="primary" (click)="navigateToYourTopics()">Click here</button>
</div>
