<header>
  <a
    class="main__logo"
    routerLink="/"
  >
    <img
      src="/assets/images/icons/prioss-icon.svg"
      alt="prioss logo"
    >
    <h1>PriOSS</h1>
  </a>

  <div class="flex-seperator"></div>

  <nav
    class="main__navigation"
    [class.hamburger]="headerMenuService.menuOpen()"
  >
    <prioss-dashboard-menu [serviceName]="serviceName()" />
  </nav>

  <button
    nz-button
    class="main__hamburger-menu"
    (click)="headerMenuService.triggerMenu()"
  >
    <span
      nz-icon
      nzType="menu"
      nzTheme="outline"
    ></span>
  </button>

  <a
    class="main__share-x"
    target="_blank"
    href="https://twitter.com/intent/tweet?text=Want%20to%20know%20what%20personal%20info%20Instagram%2C%20Spotify%2C%20Facebook%20and%20the%20like%20have%20collected%20about%20you%3F%20Check%20out%20PriOSS%2C%20your%20Privacy%20One%20Stop%20Shop%3A%20https%3A%2F%2Fprioss.cs.upb.de"
  >
    <img
      src="../assets/images/icons/x_logo.svg"
      width="75"
      alt="X icon"
    >
  </a>
</header>
