<header>
  <a
    class="main__logo"
    routerLink="/"
  >
    <img
      src="/assets/images/icons/prioss-icon.svg"
      alt="prioss logo"
    >
    <h1>PriOSS</h1>
  </a>

  <div class="flex-seperator"></div>

  <nav
    class="main__navigation"
    [class.hamburger]="headerMenuService.menuOpen()"
  >
    <prioss-dashboard-menu [serviceName]="serviceName()" />
  </nav>

  <span class="wifi-icon" nz-icon nzType="wifi" [style.color]="networkStatus?'#07f112':'#e81209'" nzTheme="outline"></span><span style="cursor: default">{{networkStatus ?"Online":"Offline"}}</span>

  <button
    nz-button
    class="main__hamburger-menu"
    (click)="headerMenuService.triggerMenu()"
  >
    <span
      nz-icon
      nzType="menu"
      nzTheme="outline"
    ></span>
  </button>

</header>
