@chat-header-height: 50px;
@chat-header-border-bottom: 1px solid #f0f0f0;
.layout{
    width: 60vw;
    height: 70vh;
    
}
nz-sider {
    height: 100%;
    border-right: @chat-header-border-bottom;
    overflow: scroll;
  }
nz-header{
    background-color: white;
    height: @chat-header-height;
    
    border-bottom: @chat-header-border-bottom;
}
nz-list-header{
    background-color: white;
    height: @chat-header-height;
    border-bottom: @chat-header-border-bottom;
}
.chatcontent-header-text{
    font-size: 14px;
    font-weight: bold;
}
nz-list-item {
    display:flex;
    flex-direction: column;
    height: 80px;
}
nz-list-item-meta-description{
    width: 100%;
    height: 30px;
    overflow: hidden;
}
nz-list-item-meta-title{
    width: 100%;
    height: 30px;
    overflow: hidden;
}
nz-content{
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    
}
.list-item-selected{
    color: #0e71ff;
    
}
.message-container{
    display: flex;
    flex-direction: column;
    padding: 3px;
    
    
}
.message-sent{
    background-color:  	#1877F2;
    color: white;
    align-content: end;
    max-width: 60%;
    align-self: flex-end;
    border-radius: 1em;
    

}

.message-received{
    background-color: rgb(85, 85, 85);
    color: white;
    align-content: start;
    max-width: 60%;
    align-self: flex-start;
    border-radius: 1em;
}
.message-sender{
    padding: 10px;
}
.message-content{
    padding: 10px;
}