<div class="component-page">
  <app-title-bar titleText= "Guidelines to hide Instagram Stories and live videos from specific people" tooltipText="TBD"></app-title-bar>
    <br>
    <p>You should secure your privacy not just for photos or location, but also for your stories.</p>
    <br>
    <p>It’s easy to hide Instagram Stories from specific individuals or deny people the chance to share your stories with their followers.</p>
    <br>
    <nz-tabset>
        <nz-tab nzTitle="Mobile Application">
            <div>
                <p>Here’s how to hide Stories or control who interacts with them:</p>
               
                <br>
                <h6 class ="steps">Step 1 -	While viewing your Instagram feed, tap on your <strong>profile icon</strong> in the bottom right corner of the screen. </h6>
                <br>
                <h6 class ="steps">Step 2 –	Tap the <strong>menu icon</strong> in the upper right corner of your profile.</h6>
                <img class ="off-facebook-web"src="../../assets/images/insta-privacy-recommendations/15.png">
                <br>
                <h6 class ="steps">Step 3 – Tap the <strong>Settings</strong> gear icon in the menu that appears.</h6>
                <img class ="off-facebook-web"src="../../assets/images/insta-privacy-recommendations/16.png">
                <br>
                <h6 class ="steps">Step 4 – Select <strong>Privacy</strong> option.</h6>
              <br>
              <h6 class ="steps">Step 5 – Tap <strong>Story</strong> option.</h6>
              <img class ="off-facebook-web"src="../../assets/images/insta-privacy-recommendations/17.png">
              <br>
              <h6 class ="steps">Step 6 – Underneath the heading <strong>"Hide Story From"</strong>, select "# People."</h6>
            <br>
            <h6 class ="steps">Step 7 – On Androids, tap the arrow in the upper left corner of your screen when you have finished adding users to the list. iPhone users should select "Done" in the top right.</h6>
            <br>    
        </div>
        </nz-tab>
    </nz-tabset>
</div>
   
    
    
    




