<div class="component-page">
  <app-title-bar titleText= "Guidelines to hide Instagram Stories and Live Videos from specific people" tooltipText="The following guidelines helps you to hide stories and live videos from specific people for your Instagram account. Note- The guidelines are provided for Mobile Application user."></app-title-bar>
    <br>
    <p nz-typography>You should secure your privacy not just for photos or location, but also for your stories.</p>
    
   
            <div>
                <p nz-typography>Here’s how to hide Stories or control who interacts with them:</p>
                <br>
                <p nz-typography> <strong>Step 1 -</strong>	While viewing your Instagram feed, tap on your <strong>profile icon</strong> in the bottom right corner of the screen. </p>
                <img class="hide-stories" src="../../assets/images/insta-privacy-recommendations/31.png">
                <br>
                <br>
                <p nz-typography> <strong> Step 2 -</strong> Tap the <strong>menu icon</strong> in the upper right corner of your profile.</p>
                <img class="hide-stories1" src="../../assets/images/insta-privacy-recommendations/15.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 3 -</strong> Tap the <strong>Settings and privacy</strong> gear icon in the menu that appears.</p>
                <img class="hide-stories" src="../../assets/images/insta-privacy-recommendations/32.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 4 -</strong> Select <strong>Hide story and live</strong> option.</p>
                <img class="hide-stories" src="../../assets/images/insta-privacy-recommendations/33.png">
                <br>
                <br>
                <p nz-typography> <strong>Step 5 -</strong> Now, tap on <strong>Hide story and live from</strong> option, select "# People."</p>
                <img class="hide-stories" src="../../assets/images/insta-privacy-recommendations/34.jpg">
                <br>
                <br>
                <p nz-typography> <strong>Step 6 -</strong> On Androids, tap the arrow in the upper left corner of your screen when you have finished adding users to the list. iPhone users should select "Done" in the top right.</p>
                <br>
              </div>
          
</div>
   
    
    
    




