.off-facebook-web{
    width:40%;
    height:30%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}
.off-facebook-mobile{
    width:20%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}
.steps{
    margin-left: 10px;
    margin-top: 10px;
    font-size: large;
}
#Guidelines-title{
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}
.hide-stories{
    width:20%;
    height:20%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}
.hide-stories2{
    width:15%;
    height:20%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}
.hide-stories3{
    box-shadow: 10px 10px 5px grey;
}